<div class="home-vh">
  <div class="home-container">
        <div class="heading col-12 col-md-6">
          The Technology Learning Platform
        </div>
        <p class="col-12 col-md-5 font-sm">
          Keep up with technology with expert-led courses, assessments
          and tools that help you build the skills you need, when you need them.
        </p>
        <div class="mt-5 mb-5">
          {{search-box}}
        </div>
    
  </div>
</div>


{{!-- Top Slider Courses --}}
<div class="home-row row p-0">
    <div class="home-column col-12 col-md-6">
        {{#carousel-cards}}
        {{/carousel-cards}}
    </div>
    <div class="col-12 col-md-6">
        {{!-- <img class="home-img" src="images/home.png" alt="home"> --}}
        <div class="row p-0">
          <div class="col-6">
            <div class="heading semi-bold">
              CODING BLOCKS
            </div>
            <div class="heading">
              Android Application
            </div>
            <p class="font-sm">
              Now you can enjoy our courses from comfort of your phones & tablets
            </p>
            <a href="https://play.google.com/store/apps/details?id=com.codingblocks.cbonlineapp" target="blank">
              <button class="button-solid play-store-button mt-5">
                <img src="images/google-play.png" alt="">
                <span class="text">
                  GET IT ON <br /><span class="bold">GOOGLE PLAY</span>
                </span>
              </button>
            </a>
        
          </div>
          <div class="col-6 p-0">
            <div class="phone d-flex justify-content-center">
              <img src="images/iphone.svg" class="h-100 w-100" alt="home">
              <div class="phone-content">
                <picture>
                <source type="image/webp" srcset="images/holi.webp">
                <source type="image/jpg" srcset="images/backupholi.jpg">
                <img src="images/backupholi.jpg">
                </picture>
              </div>
            </div>
          </div>
        </div>
    </div>
</div>

<div class="container">
  {{recommended-courses}}

  {{testimonials-view}}

  <div class="pt-5">
    {{offerings-static}}
  </div>
</div>