<div class="home-vh">
  <div class="home-container">
        <div class="home-heading">
          &lt; Learn to code interactively /&gt;
        </div>
    {{search-box}}
  </div>
</div>


{{!-- Top Slider Courses --}}
<div class="home-row row">
    <div class="home-column col-xs-12 col-md-6">
        {{#carousel-cards}}
        {{/carousel-cards}}
    </div>
    <div class="col-xs-12 col-md-6">
        <img class="home-img" src="images/home.png" alt="home">
    </div>
</div>

{{recommended-courses}}

{{offerings-static}}