{{#if shouldJoinDiscord}}
  <a href="{{redirectUrl}}" target="_blank">
    <div
      class="border-card border-none bg-gradient-violet-bt mb-5 white p-4 v-align-ma mt-md-0 mt-5 row no-gutters align-items-center"
    >
      <i class="fab fa-discord fa-2x mr-2"></i>
      <strong class="font-sm flex-1 pl-1">Join Discord Group</strong>
    </div>
  </a>
{{/if}}
