{{#unless awsDataTask.isRunning}}
    <div class="video-player {{unless sidebarCollapsed 'collapse'}}">
        {{#hls-player src=lecture.videoUrl awsData=awsDataTask.lastSuccessful.value title=lecture.name}} {{/hls-player}}        
    </div>  
{{/unless}}
