{{#unless awsDataTask.isRunning}}
    <div class="video-player d-flex flex-column justify-content-around {{unless sidebarCollapsed 'collapse'}}">
        {{#content-feedback onFeedbackSubmit=onFeedbackSubmit showFeedback=showFeedback}} {{/content-feedback}}
        {{#if lecture.videoId}}
            {{vdo-player
                lecture=lecture 
                start=start
                onVideoCompleted=onVideoCompleted
                sectionId=sectionId
                runAttempt=runAttempt
            }}

        {{else}}
            {{#hls-player src=lecture.videoUrl
                awsData=awsDataTask.lastSuccessful.value
                title=lecture.name
                start=start
                onVideoCompleted=onVideoCompleted
            }}
            {{/hls-player}}

        {{/if}}
    </div>
{{/unless}}
