.o-offerings {
	padding-bottom: 50px;
	border-bottom: 1px solid #f4f4f4;

	.heading {
		@include margin(78px, auto, 49px, auto);
		text-transform: uppercase;
	}

	.cards-box {
		width: 100%;
		padding: 0 5%;
	}

	.offering-card {
		width: 46%;
		box-shadow: 0px 14px 41px 0 rgba(51, 51, 51, 0.1);
		padding: 58px 2.6%;
		margin-bottom: 47px;
	}

	.offering-card-heading {
		text-transform: uppercase;
		margin-bottom: 32px;
		font-size: 1.18rem;
		font-weight: bold;
	}

	.card-body {
		overflow: hidden;
	}

	.right {
		width: 130px;
	}
	.left {
		width: 69%;
	}

	@media screen and (max-width: 768px) {
		.offering-card-heading {
			text-align: center;
		}
		.offering-card {
			width: 100%;
		}
		.right {
			margin-bottom: 25px
		}
	}

}
