.o-edit-profile{
  font-size: 28px;
  .card{
    @include  dimensions(854px, 1234px);
    @include padding-mixin(76px, 71px, 0px, 72px);
    position: relative;
    box-shadow: 0px 14px 41px 0 rgba(51, 51, 51, 0.1);
    border: none;
  }

  .attributes{
    justify-content: space-between;
    height: 820px;
    .flex-row{
      justify-content: space-between;
    }
  }

  input{
    border: none;
    background: $nav-border;
    width: 517px;
    height: 88px;
    padding-left: 43px;
    color: #666666;
  }

  input[disabled]{
    background: $disabled-input;
  }

  .footer{
    justify-content: flex-end;
    position: absolute;
    bottom:71px;
    right: 71px;
    font-size: 26px;
    font-weight: 600;
  }

  .button-solid{
    @include dimensions(254px, 79px);
    @include margin(0, 0, 0, 29px);
    font-size: 26px;
    font-weight: 600;
  }

  .flex-row{
    width: 100%;
  }
}