//.card-stack {
//  margin-left: 140px;
//  position: relative;
//  margin-top: 30px;
//}
//
//.card:nth-child(1) {
//  position: absolute;
//  z-index: 100;
//}
//
//.card:nth-child(2) {
//  position: absolute;
//  top: 266px;
//  left: 15px;
//  z-index: 99;
//}
//
//.card:nth-child(3) {
//  position: absolute;
//  top: 270px;
//  left: 27px;
//  z-index: 98;
//}

.card-stack {

  .card {
    height: 328px;
  }

  .o-image-card {
    margin-bottom: 22.5px;
  }
  .o-text-card {
    margin-bottom: 18.5px;
  }

  .button-solid {
    top: 10px;
    position: relative;
  }
}


