//.card-stack {
//  margin-left: 140px;
//  position: relative;
//  margin-top: 30px;
//}
//



.card-stack {
  margin-left: 320px;
  height: 100%;
  .card {
    @include dimensions(281px, 325px);
    border: none;
  }

  .card:nth-child(2) {
    left: -290px;
  }

   .card:hover {
     box-shadow: 0 35px 57px 0 rgba(51, 51, 51, 0.1);
     cursor: pointer;

   }

  .card:nth-child(3) {
    height: 239px;
    transform: translateY(20%);
    left: 60px;
    .button-solid {
      display: none;
    }
    .card-heading {
      display: none;
    }
    .card-text {
      display: none;
    }
    .o-image-card {
      display: none;
    }
  }
  .card:nth-child(4) {
    height: 142px;
    left: 95px;
    position: absolute;
    transform: translateY(72%);
     .button-solid {
       display: none;
     }
     .card-heading {
       display: none;
     }
    .card-text {
      display: none;
    }
    .o-image-card {
      display: none;
    }
   }

  .card-heading {
    height: unset;
    font-size: $font-sm;
    word-wrap: break-word;
    width: 90%;
  }

  .card-image {
    width: 22%;
  }

  .word-wrap {
    word-wrap: break-word;
    width: 90%;
  }

  .card-text {
    font-size: $global-font-size;
    word-wrap: break-word;
    width: 90%;
  }
  .o-text-card {
    margin-bottom: 24px;
  }

  .button-solid{
    top: 80%;
    left: 20px;
    width: 90px;
    height: 41px;
  }

}

.card-stack-btn {
  position: absolute;
  left: 18%;
  bottom: -1%;
  font-size: $font-sm;
  border-bottom: none;
  color: $global-font-text-color;
  cursor: pointer;
}
