//.card-stack {
//  margin-left: 140px;
//  position: relative;
//  margin-top: 30px;
//}
//



.card-stack {

  .card {
    @include dimensions(383px, 467px);

  }

  .card:nth-child(2) {
    left: -390px;
  }

  .card:nth-child(3) {
    height: 343px;
    transform: translateY(20%);
    left: 60px;
    .button-solid {
      display: none;
    }
    .card-heading {
      display: none;
    }
    .card-text {
      display: none;
    }
    .o-image-card {
      display: none;
    }
  }
  .card:nth-child(4) {
    height: 235px;
    left: 95px;
    transform: translateY(52%);
     .button-solid {
       display: none;
     }
     .card-heading {
       display: none;
     }
    .card-text {
      display: none;
    }
    .o-image-card {
      display: none;
    }
   }

  .card-heading {
    height: unset;
    font-size: 28px;
  }

  .card-text {
    font-size: 21px;
  }
  .o-image-card {
    margin-bottom: 31px;
    margin-top: 37px;
  }
  .o-text-card {
    margin-bottom: 24px;
  }

  .button-solid{
    top: 80%;
    left: 80px
  }

}

.card-stack-btn {
  position: absolute;
  bottom: -110%;
  left: 30%;
  font-size: 25px;
  border-bottom: none;
  color: $global-font-text-color;
}

