@import "media-query/media.home";
@import "media-query/media.content-section";
@import "media-query/media.navigation";
@import "media-query/media.card.layout";
@import "media-query/media.about.course";
@import "media-query/media.course-progress/media.course-progress";
@import "media-query/media.course-progress/media.overview-course";
@import "media-query/media.course-progress/media.overview-recent";
@import "media-query/media.announcements";
@import "media-query/media.about-instructor";
@import "media-query/media.headings";
