/* Permanent fix */

@import "ember-modal-dialog/ember-modal-structure";
@import "ember-modal-dialog/ember-modal-appearance";

@import "./components/index.scss";

.main-nav {
  .round-img {
    margin-left: 40px;
  }
}

body.centered-modal-showing {
  overflow: hidden;
}
.centered-scrolling-wrapper {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: scroll;
  z-index: 200;
}

.centered-scrolling-overlay {
  position: relative;
  height: auto;
  min-height: 100vh;
  padding: 1em;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.centered-scrolling-container {
  position: relative;
  background-color: white;
  width: 100%;
  max-width: 650px;
  min-height: 20em;
  margin-top: 100px;
  margin-bottom: 30px;
  box-sizing: border-box;
  box-shadow: 0px 4px 25px 4px rgba(0,0,0,0.30);
}

.notes-list-container {
  height: calc(100% - 75px);
  overflow: auto;
}

.w-33 {
  width: 33%
}

.modal-container {
  max-height: 80vh;
  overflow: auto;
}

.cart-modal-overlay {
  z-index: 500;
}

.cart-modal-overlay .round-img {
  width: 100%;
  height: 100%;
}

.display-block {
  display: block !important;
}

.monaco-editor, .monaco-editor * {
  width: 100%;
  height: 100%;
  border: none;
}

picture * {
  height: 100%;
}

.home-banner .left .button-solid{
  background-image: none;
}

#embedBox{
  width: 100%;
  height: 100%;
}