.o-overview-recent{
  .card{
    @include padding-mixin(46px, 51px,   45px, 10%);
    height: 578px;
    position: relative;
    box-shadow: 0px 20px 57px 0 rgba(51, 51, 51, 0.1);
    border: none;
  }

  .heading{
    font-weight: $font-normal;
    margin-bottom: 35px;
  }

  .card-text{
    font-size: $font-sm;
    font-weight: $font-normal;
    width: 86%;
    height: auto;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .pull-right{
    @include margin(0, 49px, 45px, 0px);
    position: absolute;
    bottom: 0;
    right: 0;
    cursor: pointer;
    color: $button-element-level;
    font-size: $font-md;
  }

  .faded{
    color: $faded-text;
  }

  .notify-type{
    width: 50px;
    padding-left: 0;
  }

  .row{
    padding-bottom: 25px;
  }
}