.o-overview-recent {
  @include padding-mixin(0, 0, 0, 0);

  .card {
    @include padding-mixin(40px, 6%, 30px, 8%);
    height: 578px;
    position: relative;
    box-shadow: 0px 20px 57px 0 rgba(51, 51, 51, 0.1);
    border: none;
    margin-bottom: 20px;
  }

  .heading {
    font-weight: $font-normal;
    margin-bottom: 35px;
  }

  .card-content {
    max-height: 80%;
    overflow:  auto;
  }

  .card-text {
    font-size: $font-sm;
    font-weight: $font-normal;
    width: 86%;
    height: auto;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .pull-right {
    @include margin(0, 49px, 40px, 0px);
    position: absolute;
    bottom: 0;
    right: 0;
    cursor: pointer;
    color: $button-element-level;
    font-size: $font-md;
  }

  .faded {
    color: $faded-text;
  }

  .notify-type {
    width: 30px;
    padding-left: 0;
  }

  .row {
    padding: 0;
    margin-bottom: 25px;
  }

}