<div class="t-align-c mb-5">
  <h2 class="mb-2">Success stories</h2>
  <h4 class="grey semi-bold"> Our students get placed in top tech giants and have something to say </h4>
</div>

<div class="row mb-5 pb-5">
<iframe width="100%" height="392px" src="https://www.youtube.com/embed/h_YmJLN9IgY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<div class="row flex-row m-5 pt-5 justify-content-center">
  <div class="heading">
    What our Students say about us
  </div>
</div>

<div class="row mb-5 pb-5">
  <div class="c-testimonial col-12 flex-col col-md-4 mb-5">
    <div class="dialog mb-2">
      <div class="content">
        Coding Blocks helped in gaining enough experience to get internships at giants like Google and Rubrik.
      </div>
      <div class="footer bold">
        Placed at:
        <div class="img-container">
          <img
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2f/Google_2015_logo.svg/1200px-Google_2015_logo.svg.png"
            alt="">
        </div>

      </div>
    </div>
    <div class="round-img mb-3 mt-4">
      <img src="https://minio.cb.lk/codingblocks-assets/1536154281747.jpeg" alt="">
    </div>
    <div class="extra-bold font-sm">
      ANSHUL MITTAL
    </div>
    <div class="semi-bold font-sm">
      Android Development Course
    </div>
  </div>

  <div class="c-testimonial col-12 flex-col col-md-4 mb-5">
    <div class="dialog mb-2">
      <div class="content">
        My journey in the world of Competitive Programming started with the Bootcamp at Coding Blocks, which turned out
        to be a
        changing point in my life. The immense amount of knowledge I got during the course did not only develop my
        interest but
        also made me pursue this field later. A special thanks to Shubham bhaiya, Mayank bhaiya and Prateek bhaiya for
        being the
        guiding lights in my journey and always motivating us to follow our passion!
      </div>
      <div class="footer bold">
        Placed at:
        <div class="img-container">
          <img src="https://pngimg.com/uploads/uber/uber_PNG19.png" alt="">
        </div>

      </div>
    </div>
    <div class="round-img mb-3 mt-4">
      <img src="https://minio.cb.lk/codingblocks-assets/1538401462569.jpeg" alt="">
    </div>
    <div class="extra-bold font-sm">
      SAMARTH JAIN
    </div>
    <div class="semi-bold font-sm">
      Competitive Programming
    </div>
  </div>

  <div class="c-testimonial col-12 flex-col col-md-4 mb-5">
    <div class="dialog mb-2">
      <div class="content">
        Hii I am Sidharth Bansal from Delhi technology university. I have done competitive boot camp from coding blocks.
        This
        gave me a great exposure to problem solving mindset. I was
      </div>
      <div class="footer bold">
        Placed at:
        <div class="img-container">
          <img
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/70/Amazon_logo_plain.svg/1280px-Amazon_logo_plain.svg.png"
            alt="">
        </div>
      </div>
    </div>
    <div class="round-img mb-3 mt-4">
      <img src="https://minio.cb.lk/codingblocks-assets/1537792831355.jpeg" alt="">
    </div>
    <div class="extra-bold font-sm">
      SIDHARTH BANSAL

    </div>
    <div class="semi-bold font-sm">
      Web Development
    </div>

  </div>
</div>