<section class="container success-stories">
  <h2 class="t-align-c">Success Stories</h2>
  <div class="grey t-align-c mb-5">Our students got placed in top tech giants and have somthing to say</div>
  <div class="video br-10 mb-5">
  </div>


  <div class="row mb-5">
    <div class="col-12 flex-col col-md-4">
      <div class="dialog c-testimonial mb-2">
        <div class="content">
          I did three courses and was extremely happy with all the courses. They provide quality content, the support
          from
          faculty
          and mentors was amazing. It helped me a lot in preparing for my interview rounds for the different companies.

        </div>
        <div class="footer bold">
          Placed at:
          <div class="img-container">
            <img src="images/amazon-logo.svg" alt="">
          </div>

        </div>
      </div>
      <div class="round-img mb-3 mt-4">

      </div>
      <div class="extra-bold font-sm">
        Siddharth Jain
      </div>
      <div class="semi-bold font-sm">
        Android Development
      </div>
    </div>

    <div class="col-12 flex-col col-md-4">
      <div class="dialog c-testimonial mb-2">
        <div class="content">
          I did three courses and was extremely happy with all the courses. They provide quality content, the support
          from
          faculty
          and mentors was amazing.
        </div>
        <div class="footer bold">
          Placed at:
          <div class="img-container">
            <img src="images/amazon-logo.svg" alt="">
          </div>

        </div>
      </div>
      <div class="round-img mb-3 mt-4">

      </div>
      <div class="extra-bold font-sm">
        Siddharth Jain
      </div>
      <div class="semi-bold font-sm">
        Android Development
      </div>
    </div>

    <div class="col-12 flex-col col-md-4">
      <div class="dialog c-testimonial mb-2">
        <div class="content">
          I did three courses and was extremely happy with all the courses. They provide quality content, the support
          from
          faculty
          and mentors was amazing. It helped me a lot in preparing for my interview rounds for the different companies.
        </div>
        <div class="footer bold">
          Placed at:
          <div class="img-container">
            <img src="images/amazon-logo.svg" alt="">
          </div>

        </div>
      </div>

      <div class="round-img mb-3 mt-4">

      </div>
      <div class="extra-bold font-sm">
        Siddharth Jain
      </div>
      <div class="semi-bold font-sm">
        Android Development
      </div>
    </div>
  </div>
</section>