.classroom-container {
  margin-bottom: 77px;

  .classroom-header-box {
    padding-right: 44px;
    padding-left: 44px;
    border-right: 2px solid $classroom-border;
  }
  .classroom-header {
    padding: 0;
    .classroom-image {
      display: inline-block;
    }

  }

  .classroom-text {
    text-transform: uppercase;
    font-size: $font-xl;
    transform: translateY(50%);
    font-weight: $font-medium;
  }

  .classroom-image {
    position: relative;
    top: 18px;
    padding-left: 0;
  }

  .classroom-para {
    font-size: $font-sm;
    @include textalign(left);
    word-wrap: break-word;
    margin-top: 43px;
  }
}

.progress-text {
  font-size: $font-xl;
  text-align: center;
}

.lectures-completed {
  font-size: $font-md;
  padding: 0;
  margin: 0;
}

.reset-progress {
  color: $reset-progress;
  font-weight: 500;
  font-size: 20px;
  margin-top: 0;
  padding: 0;
  text-align: left;
}

.course-progress-detail{
  transform: translateX(-4%);
}

.row {
  padding: 10px;
}

.course-progress-heading {
  font-size: $font-md;
  margin-bottom: 40px;
  padding: 0;
}

.progress{
  padding: 0;
}

.course-progress-box {
  padding-left: 44px;

  .button-solid {
    @include dimensions(100%, 68px);
    max-width: 258px;
    font-size: $font-md;
    margin-top: 22px;
  }

  .progress-circle{
    padding-right: 7%;
  }

  .status-circle {
    @include dimensions(100%, 25%);
    float: left;
  }

  .circle-back{
    @include dimensions(100%, 100%);
    position: absolute;
    top: 0;
  }
}

.rating{
  &.mob{
    display: none;
  }
}

.heading-mob{
  display: none;
}

.edit-rating{
  font-size: $font-mds;
  border-bottom: solid 1px $global-font-text-color;
  cursor: pointer;
  margin-left: 3%;
}