.o-profile-edit {
  justify-content: space-evenly;
  font-size: $font-sm;

  .card {
    @include dimensions(100%, auto);
    @include margin(0, 0, 30px, 0);
  }

  .details {
    @include padding-mixin(40px, 60px, 40px, 45px);
  }

  .input-text {
    height: 60px;
    color: $navLink;
  }

  .dropdown-ul {
    box-shadow: unset;
  }

  .input-text[disabled]{
    background: $disabled-input;
  }

  .heading-u-red {
    @include padding-mixin(0, 380px, 33px, 0);
    @include margin(0, 0, 0, 15px);
    font-size: $font-mds;
  }

  .row {
    @include padding-mixin(0, 0, 0, 0);
  }

  .attributes {
    @include margin(0, 0, 10px, 0);
    height: auto;
    font-weight: $font-normal;

    .flex-row {
      @include padding-mixin(20px, 0, 20px, 0);
    }
    .detail-row {
      @include margin(20px, 0, 20px, 0);
      width: 48%;
    }
  }

  .button-solid {
    width: 30%;
    max-width: 162px;
    font-size: $font-xs;
    font-weight: $font-medium;
  }

  .faded {
    color: $default-accordian-font;
  }

  .reset-button {
    @include margin(0, 30px, 0, 0);
  }

  .flex-row {
    @include padding-mixin(30px, 0, 30px, 0);
    width: 100%;
    font-weight: $font-medium;
    justify-content: space-between;
  }

}
