.o-accordian{
    font-size: $font-sm;
    font-weight:$font-normal;

    .accordian-ul{
        @include margin(0, auto, 20px, auto);
    }

    .accordian-collapsar{
        @include dimensions(30px, 30px);
        @include margin(0px, 34px, 0px, 0px);
        text-align: center;
    }

    .accordian-li-type{
        @include margin(0px, 34px, 0px, 0px);
        flex: none;
    }
    
    .circle-back{
        @include dimensions(42px, 42px);
        @include margin(0, 0, 0, 31px);
        flex:none;
        background: $status-back-incomplete;
    }

    .circle-front{
        @include dimensions(34px, 34px);
        transform: translateY(12%);
        background: $white;
        position: static;
    }

    .accordian-li[data-completed="true"]{
        color: $font-complete;


        .circle-back{
            background: $status-back-complete;
        }
    
        .circle-front{
            background: $font-complete;
        }
        .circle-front::after{
            content: "";
        }
    }
}