---
language: node_js
node_js:
  - "8"

sudo: false
dist: trusty

cache:
  yarn: true
  directories:
    - ~/.npm
    - ~/.bower

env:
  global:
    # See https://git.io/vdao3 for details.
    - JOBS=1

before_install:
  - curl -o- -L https://yarnpkg.com/install.sh | bash
  - export PATH=$HOME/.yarn/bin:$PATH

install:
  - yarn install --non-interactive
  - yarn global add bower
  - bower install


before_script: 
  - openssl aes-256-cbc -d -in key.pem.enc -out key.pem -k $ENC_KEY
  - rm -rf dist/
  - ember build --environment=production

script:
  - if [ "$TRAVIS_BRANCH" = "master" ]; then bash ./deployToProduction.sh; fi
