.video-player{
  @include dimensions(100%, 100%);
  background: $black;
  position: relative;
    
  video{
    @include dimensions(100%, 100%);
    border: none;
  }

  iframe{
    @include dimensions(100%, 100%);
    border: none;
  }
}
  
