$list:  (red, $fail-red)
        (black, $global-font-text-color)
        (white, $white )
        (grey, $nav-border)
        (green, $font-complete);

@each $type, $color in $list {
  .bg-#{$type}{
    background-color: $color;
  }
}