.accordian-ul{
    @include border(solid, 1px, $search-box-color);
    @include margin(0px, 0px, 20px, 0px);
}

.accordian-head{
    @include flexbox(row);
    @include padding-mixin(10px, 5%, 10px, 3%);
    @include dimensions(100%, auto);
    justify-content: space-between;
    min-height: 79px;
    background-color: $white;
    cursor: pointer;
}

.accordian-li{
    @include padding-mixin(10px, 5%, 10px, 3%);
    justify-content: space-between;
    border-bottom: solid 2px $search-box-color;
    min-height: 79px;
    background-color: $accordian-li;
    cursor: pointer;
    color: $default-accordian-font;
}

.accordian-li:first-child{
    border-top: solid 2px $default-border;
}

.accordian-li:last-child{
    border: none;
}

.accordian-ul[data-show=true]{
    .accordian-li{
        @include flexbox(row);
    }
}

.accordian-ul[data-show=false]{
    .accordian-li{
        display: none;
    }
}

.accordian-heading, .accordian-li-heading{
    overflow: hidden;
}

.accordian-li-duration{
    @include dimensions(80px, auto);
    text-align: right;
    color: $default-accordian-font;
}

.accordian-li-type{
    @include dimensions(30px, 30px);
    text-align: center;
}

.completed{
    color: $font-complete;
}

.accordian-status{
    text-align: right;
}

.li-left{
    width: 70%;
}
