.links{
  @include margin(55px, 0, 0, 0);
}

.auth-link{
  @include margin(0, 80px, 0, 0);
  font-size: 19.9px;
  font-weight: 600;
  text-align: center;
}

.facebook{
  background: $facebook;
}

.google{
  background: $google;
}

.twitter{
  background: $twitter;
}

.github{
  background: $global-font-text-color;
}