<div class="row no-gutters bg-grey p-3">
  <div class="col-10">
    <Input placeholder="Add a Note" />
  </div>
  <div class="col-2">
    <button class="button-solid button-orange">
      Save
    </button>
  </div>
</div>
<Player::PlayerNotesList @notes={{notes}} />
