<div class="row m-5 justify-content-center">
  <div class="font-xl bold">
    What we offer
  </div>
</div>

<div class="row c-offerings">
  <div class="offset-md-1"></div>

  {{#each offerings as |offering|}}
    <div class="t-align-ca col-12 col-sm-3 col-md-2 mb-5">
      <div class="border-card p-4">
        <img src={{offering.img}} loading="lazy">
      </div>
    
      <div class="heading">
        {{{offering.name}}}
      </div>
      <div class="card-body grey">
        {{offering.body}}
      </div>
    </div>
  {{/each}}
</div>
