<div class="row c-offerings">
  <div class="row flex-row w-100 justify-content-center">
    <div class="heading">
      What we offer
    </div>
  </div>
  <div class="row flex-column flex-md-row justify-content-between cards-box">

    {{#each offerings as |offering|}}
    <div class="offering-card">
      <div class="d-flex flex-md-row flex-column align-items-center justify-content-between">
        <div class="left order-2 order-md-1">
          <div class="offering-card-heading">
            {{offering.name}}
          </div>
          <div class="card-body">
            {{offering.body}}
          </div>
        </div>
        <div class="right order-1 order-md-2">
          <img src="{{offering.img}}">
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</div>