<div class="dashboard row no-gutters justify-content-between">
  <div class="col-6 heading-d align-self-center">
    <div class="main-h">
      {{payload.name}}
    </div>
    {{!--
    <div class="sub-h">
      {{payload.name}}
    </div> --}}
  </div>

  <div class="col-6">
    <div class="row justify-content-end">
      <div class="col-md-4 notify-type align-self-center">
        {{#if course.canHazDoubtsLink}}
          <div class="notify-text">
            <a href="{{course.doubtsLink}}" target="_blank" style="color: #fff">
              <span class="notify-dot new"></span>
              Solve Doubts
            </a>
          </div>
        {{/if}}
      </div>

      <div class="button-solid col-12 col-md-4 align-self-center">
        <button {{action 'transitionToDashboard'}}> &gt; Go to Dashboard</button>
      </div>
    </div>
  </div>

</div>