<div class="col-4 heading-d align-self-center">
  <div class="main-h">
    {{content.title}}
  </div>
</div>


<div class="col-3 col-md-3 col-lg-3 align-self-center content-search-container">
  {{course-search-box run=run}}
</div>


<div class="col-4">
  <div class="row justify-content-end">
    <div class="button-solid col-12 col-md-6 align-self-center">
      <button {{action 'transitionToDashboard'}}> &#60; Go to Dashboard</button>
    </div>
    <div class="col-md-6 d-flex justify-content-end align-items-center dsp-none-sm">
      <button class="red" {{action 'toggleSideBar'}}>X Ask Doubts</button>
    </div>
  </div>
</div>