<div class="col-4 heading-d align-self-center">
  <div class="main-h">
    {{content.title}}
  </div>
</div>


<div class="col-3 col-md-3 col-lg-3 align-self-center content-search-container">
  {{course-search-box run=run}}
</div>


<div class="col-4 pr-5">
  <div class="row justify-content-end">
    {{!-- <div class="col-12 col-md-6 align-self-center"> --}}
      <button class="button-solid" {{action 'transitionToDashboard'}}> &#60; Dashboard</button>
    {{!-- </div> --}}
      <button class="red ml-3 dsp-none-sm" {{action 'toggleSideBar'}}> 
        {{#unless attemptController.sideBarCollapsed.right}}
          <i class="far fa-times-circle"></i>
        {{/unless}}
        Ask Doubts
      </button>
  </div>
</div>