<!--difficulty: {type: integer, description: to show the difficulty of course}-->
<!--difficultyName: {type: string, description: the level of difficulty-->
{{#each (range 0 3) as |index|}}
  <span class="font-lg pl-1 {{if (lte index difficulty) 'orange' 'grey'}}">&#8226;</span>
{{/each}}
<div class="card-sms">{{uppercase difficultyName}}</div>
