{{#each jobs as |job|}}
  <div class="hover-grey py-4">
    <div class="row mx-0 align-items-center">
      <div class="col-2">
        <img src="{{job.company.logo}}" alt="">
      </div>
      <div class="col-10">
        <h5 class="bold">{{job.role}}</h5>
        <span>{{job.company.name}}</span>
      </div>
    </div>
  </div>
{{/each}}
