%padding{
  @include padding-mixin(55px, 5%, 80px, 5%);
}

%grid-row{
  .grid{
    margin: 0;
  }

  .row{
    padding: 0;
  }
}

.o-summary{
  padding: 25px 5%;

  .classroom-container{
    margin-bottom: 60px;
    padding: 0;
  }

  .classroom-header-box{
    padding: 0;
  }

  .classroom-image{
    max-width: 95px;
  }

  .classroom-header-box{
    border: none;
  }

  .heading-u{
    @include margin(67px, 0, 0, 0);
  }

  .para{
    @include margin(38px, 0, 0, 0);
  }

  .key{
    font-weight: $font-medium;
  }
  
}

.o-instructor{
  @extend %padding;
}

.o-batches{
  @extend %padding;
  @extend %grid-row;
  background-color: $nav-border;
}

.o-recommended{
  @extend %padding;
  @extend %grid-row;

  .heading-u{
    margin: 0;
  }

  .custom-heading{
    margin-bottom: 40px;
  }
}