.o-about-accordian{
  @include padding-mixin(65px, 5%, 18px, 5%);
  background-color: $nav-border;

  .custom-heading{
    @include margin(0, auto, 62px, auto);
    max-width: 100%;
    background-color: $nav-border;
    font-size: $font-md;
    padding-left: 0px;
    margin-bottom: 43px;

    .heading-u{
      margin-top: 0px;
      margin-bottom: 0px;
      align-self: center;
      padding-bottom: 22px;
    }
    cursor: auto;
  }

  .accordian-ul{
   max-width: 100%;
  }

  .accordian-li[data-completed="true"]{
    color: $font-sub-heading;
  }

  .accordian-li-duration{
    width: 95px;
    margin-left: 90px;
  }

  .lecture-count{
    font-size: $font-sm;
  }

  .duration{
    margin-left: 90px;
    font-size: $font-sm;
  }


}

