%button-config{
  @include dimensions(100%, 52px);
  @include border-radius(40px);
  font-size: 0.937rem;
  font-weight: $font-medium;
  max-width: 191px;
}


.o-buy-right{
  @include dimensions(37%, 80%);
  position: fixed;
  top: 145px;
  transition: all 0.35s ease;
  right: 0;
  z-index: 100;
  max-height: 730px;

  .card{
    @include dimensions(100%, 100%);
    overflow: hidden;
  }

  .button-container{
    margin-top: 23px;
    margin-bottom: 20px;
  }

  .button-solid{
    @extend %button-config;
    margin-right: 4%;
  }

  .button-dashed{
    @extend %button-config;
    @include border(solid, 2px, $button-element-level);
  }

  .card-video{
    @include dimensions(100%, 300px);
    position: relative;
    cursor: pointer;
  }

  .card-video{
    .status-circle{
      position: absolute;
      top: 35%;
      left: 42%;
      z-index: 10;
    }

    .circle-back{
      @include dimensions(96px, 96px);
      max-width: 96px;
      max-height: 96px;
      background: $white;
      margin: 0;
      opacity: 0.51;
    }

    .circle-front{
      @include dimensions(82px, 82px);
      max-width: 82px;
      max-height: 82px;
      top: 6px;
      left: 8.5%;
      background: $white;
      text-align: center;

      .icon{
        transform: translateY(80%);
      }
    }
  }

  .img-container{
    position: relative;
    padding-top: 100%;
  }

  .course-features{
      &>.row{
        padding-bottom: 6%;
      }

      .img-desc{
        margin-top: 50px;
      }
      .round-img{
        @include dimensions(100%, 100%);
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        min-width: 30px;
        min-height: 30px;
      }

      .para{
        max-width: 113px;
        overflow: hidden;
        font-size: $global-font-size;
        text-align: left;
        padding-left: 0;
      }
  }

  &.slide-right{
    transform: translateX(105%);
  }

  .preview{
    @include dimensions(100%, 100%);

    iframe{
      @include dimensions(100%, 100%);
      border: none;
    }
  }
}