{{#unless (or getReferralCodeTask.last.isError getReferralCodeTask.isRunning)}}
<div class="c-referral-code">
  <div class="coupon">
    <div class="text">Refer and Earn: </div>
    <div class="code">
      {{code}}
    </div>
  </div>
  <div class="description">
    Share your referral link directly with friends or email them. For every friend you refer, you earn Rs. 500 credit in your
    wallet.
  </div>
  <div class="shares">
    <span {{action 'shareFacebook'}}>
      <i class="fab fa-facebook-square"></i>
    </span>
    <span {{action 'shareTwitter'}}>
      <i class="fab fa-twitter-square"></i>
    </span>
    <span {{action 'shareWhatsapp'}}>
      <i class="fab fa-whatsapp-square"></i>
    </span>
  </div>
</div>
{{/unless}}