.o-client-page {
  .client-row {
    @include padding-mixin(10px, 0, 10px, 0);
    overflow: hidden;
  }

  .attributes {
    @include margin(0, 0, 10px, 0);
    height: auto;
    font-weight: $font-normal;
  }

  button {
    @include margin(0, 0, 20px, 0);
  }

  .button-row {
    @include padding-mixin(20px, 60px, 0, 0);
  }

  .button-solid {
    width: 30%;
    max-width: 180px;
  }

}
