@media all and (max-width: 490px){
  .hading-d{
    width: 63%;
  }
}

@media all and (max-width: 767px){
  .o-announcement{
    .main-h, .classroom-para{
      font-size: $card-md;
    }

    .sub-h{
      font-size: $card-sm;
    }

    .notify-icon{
      width: 0;

      img{
        display: none;
      }
    }

    .accordian-li{
      @include padding-mixin(4%, 7%, 10%, 6%);
    }
  }
}