<div class="o-pb-leaderboard">
  {{!-- <div>
    <div class="badge">
      <img src="images/badge.png" alt="">
    </div>

    <div class="heading">
      Siddharth Jain
    </div>

    <div class="para">
      Score: 100 | Language: C++
    </div>
  </div> --}}

  <div class="t-head row">
    <div class="t-data col-2">Rank</div>
    <div class="t-data col-5">User</div>
    <div class="t-data col-2">Score</div>
    <div class="t-data col-3">Language</div>
  </div>
  {{#each submissions as |submission index|}}
    <div class="t-row row">
      <div class="t-data col-2">{{inc index}}</div>
      <div class="t-data col-5">{{submission.user.name}}</div>
      <div class="t-data col-2">{{submission.score}}</div>
      <div class="t-data col-3">{{submission.language}}</div>
    </div>
  {{/each}}
</div>
