<div class="c-sidenav bottom-nav col-md-1 col-12">
  <div class="logo pb-4 pt-4 d-md-block d-none">
    <LinkTo @route="index">
      <img src="https://minio.codingblocks.com/amoeba/OnlineLogo2020.svg" alt="Coding Blocks Online" class="s-50x50" title="Coding Blocks Online">
    </LinkTo>
  </div>

  <div class="row all-center">
    <div class="col-2 col-md-12">
      <LinkTo @route="dashboard" class="nav-element py-4 px-2">
        <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/dashboard_grey.svg" alt="dashboard">
        <div class="pt-2 d-none d-md-block font-sm card-md">Dashboard</div>
      </LinkTo>
    </div>
    <div class="col-2 col-md-12">
      {{#if currentUser.organization}}
        <LinkTo @route="courses" @query={{hash org=currentUser.organization}} class="nav-element py-4 px-2">
          <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/buy_grey.svg" alt="all courses">
          <div class="pt-2 d-none d-md-block font-sm card-md">Get Courses</div>
        </LinkTo>
      {{else}}
        <a href="/courses" class="nav-element py-4 px-2">
          <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/buy_grey.svg" alt="all courses">
          <div class="pt-2 d-none d-md-block font-sm card-md">Buy Courses</div>
        </a>
      {{/if}}
    </div>
    {{#unless domain.isExternal}}
      <div class="col-2 col-md-12">
        <LinkTo @route="tracks" href="#" class="nav-element py-4 px-2">
          <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/tracks_grey.svg" alt="tracks">
          <div class="pt-2 d-none d-md-block font-sm card-md">Tracks&nbsp;<span style=" padding:2px; font-family: Gilroy-Medium; font-size: 8px; line-height: 10px; color: #FFFFFF;background: linear-gradient(90deg, #E74E4B 14.25%, #FB8133 96.93%); border-radius: 25px;">New</span></div>
        </LinkTo>
      </div>
    {{/unless}}
    <div class="col-2 col-md-12">
      <LinkTo @route="classroom" class="nav-element py-4 px-2">
        <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/mycourses_grey.svg" alt="">
        <div class="pt-2 d-none d-md-block font-sm card-md">My Courses</div>
      </LinkTo>
    </div>
    <div class="col-2 col-md-12">
      <LinkTo @route="hiring-blocks" class="nav-element py-4 px-2">
        <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/job_grey.svg" alt="">
        <div class="pt-2 d-none d-md-block font-sm card-md">Hiring Blocks</div>
      </LinkTo>
    </div>
  </div>
</div>