<div class="my-4">
  Hi, you've been invited to participate in early our push notification channel. Click on the button below and subscribe to push 
  notifications from codingblocks.
</div>
<div class='onesignal-customlink-container w-100' style="height:200px"></div>