.o-profile {
  .button-solid {
    width: 30%;
    max-width: 162px;
  }

  .auth-link {
    @include margin(0, 10%, 0, 0);
    text-align: center;
  }

  .button-circle {
    @include margin(0, 0, 30px, 0);
    @include dimensions(70px, 70px);
    text-align: center;
    font-size: $font-sm;
    font-weight: 600;
  }

  .links {
    @include padding-mixin (30px, 0, 20px, 0);
  }

}
