.o-profile {
  font-size: $font-sm;
  
  .card {
    @include dimensions(100%, auto);
    @include margin(0, 0, 30px, 0);
    @include padding-mixin(40px, 60px, 40px, 60px);
  }

  .heading-u-red {
    @include padding-mixin(0, 160px, 33px, 0);
    @include margin(0, 0, 0, 0);
    font-size: $font-mds;
  }

  .attributes {
    @include margin(0, 0, 10px, 0);
    height: auto;
    justify-content: space-between;
    font-weight: $font-normal;
    .flex-row {
      @include padding-mixin(40px, 0, 20px, 0);
      justify-content: space-between;
    }
  }

  .button-solid {
    width: 30%;
    max-width: 162px;
    font-size: $font-xs;
    font-weight: $font-medium;
  }

  .faded {
    color: $default-accordian-font;
  }

  .auth-link {
    @include margin(0, 10%, 0, 0);
    text-align: center;
  }

  .button-circle {
    @include margin(0, 0, 30px, 0);
    @include dimensions(70px, 70px);
    text-align: center;
    font-size: $font-sm;
    font-weight: 600;
  }

  .links {
    @include padding-mixin (30px, 0, 20px, 0);
  }

  .flex-row {
    width: 100%;
    font-weight: $font-medium;
  }

}
