{{#each @wishlist as |row|}}
  <MyCoursesList::CourseRow
    @course={{row.course}}>
    <div class="col-md-4 col-6">
      <div>User Rating</div>
      <RatingStarsStatic 
        @rating={{row.course.rating}}
        @tagName="span" />
      {{row.course.rating}}, {{row.course.reviewCount}} ratings
    </div>
    <div class="col-md-4 col-12 mt-md-0 mt-3 d-flex justify-content-center">
      <button class="button-dashed button-orange mr-3">
        Start Free Trial
      </button>
      <button class="button-solid button-orange">
        Buy now
      </button>
    </div>
  </MyCoursesList::CourseRow>
{{/each}}