<div class="border-card py-md-5 py-4 px-0">
  <h4 class="bold px-lg-5 px-4">Mentors</h4>
  <div class="divider-h content-divider mt-4 px-lg-5 px-4"></div>
  {{#each instructors as |instructor|}}
  <div class="row no-gutters align-items-center hover-grey py-4 px-lg-5 px-4">
    <div class="col-xl-4 col-md-12 col-sm-2 col-3 mr-2">
      <img class="round s-50x50 br-25 mr-4 overflow-hidden" src="{{instructor.photo}}" alt="">
    </div>
    <div class="flex-1" style="word-break: break-all;">
      <h5 class="bold mb-1 word-wrap">
        {{instructor.name}}
      </h5>
      {{instructor.email}}
    </div>
  </div>
  {{/each}}
</div>