{{course.title}}
<div class="card-layout col-md-4">
    <div class="card o-layout-card ">
        <div class="card-image o-image-card">
            <img src="images/c++">
        </div>
        <div class="card-heading o-text-card">
            Registration Open for Launchpad online
        </div>
        <div class="card-text">
            Learn data structures & algorithm in C++
        </div>
        <div class="button-solid">
            <button>Register</button>
        </div>
    </div>
</div>