<div class="chitkara-banner p-5 br-50">

    <div class="information row justify-content-between mt-md-5 mt-lg-0">
      <div class="title col-lg-6 col-md-8 mt-lg-5">Courses specially curated for
        Chitkara University</div>
        <div class="col-2"><img class="logo d-none d-md-block" src="/app/images/chitkara-university-logo.png" alt="nagarro-logo"></div>
    </div>
    
  <div class="row justify-content-around">
    <div class="align-self-end mb-5 d-none d-md-block"><button class="button-solid white-button font-lg" {{action 'goToRecommendedCourses'}}>Explore More</button></div>
    <div class="banner-image col-7">
        <div><img src="/app/images/chitkara-university-banner.png" alt="nagarro-banner-image"></div>
    </div>
  </div>


  <div class="d-md-none row justify-content-center">
    <div><button class="button-solid white-button mt-5" {{action 'goToRecommendedCourses'}}>Explore More</button></div>
  </div>
</div>

<div class="container mt-5">
  {{recommended-courses organization='chitkara'}}
</div>


{{offerings-static}}