#player-content-fullscreen-container {
  .problem-panel {
    border-radius: 0 0 15px 15px;
  }
}


#player-content-fullscreen-container:fullscreen {
  .c-code-challenge {
    display: flex;
    height: 90vh;

    &>.problem-panel {
      margin-bottom: 0 !important;
      border-radius: 0 0 0 15px;
      max-width: 57vw;
      min-width: 20vw;
    }
  }

  .c-code-card {
    display: flex;
    flex-direction: column;
    height: 100%;
    border-radius: 0 0 15px 0;

    .monaco-editor {
      flex-grow: 1;
    }
  }

  #fullscreen-code-challenge-result {
    margin: 2rem 0;
  }
}
