.course-card {
  .head__course-logo {
    padding: 0%; bottom: -10px; width: 70px; height: 70px;
  }

  .back-img {
    top: 0%;
    left: 0%;
  }
  
  .head {
    padding-left: 31px;
    padding-right: 31px;
    background-image: url('https://minio.codingblocks.com/amoeba/ccaf84b6-63df-40f8-b4df-f64b8b9ecd9e.svg');
    background-size: 100%;
    background-size: cover;
    background-position: bottom;
  }
  
  .head__course-logo {
    border-radius: 50%;
  }  
}
