.c-code-editor {
  .collab-toggle {
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    padding: 0 1.5rem;
  }
}

.x-toggle-component label.on-label {
  padding-left: 1.5rem;
}