.element-wrapper {
  -webkit-perspective: 300px;
  -moz-perspective: 300px;
  perspective: 300px;
  position: fixed;
  top: 0%;
  left: 0;
  right: 0;
  bottom: 0;
}

.element {
  width: 50px;
  height: 50px;
  background: #e74e4b;
  position: absolute;
  left: 50%;
  margin-left: -25px;
  top: 50%;
  margin-top: -25px;
}

.loading {
  font-family: 'Gilroy';
  font-size: 10px;
  font-weight: 700;
  text-transform: uppercase;
  color: rgba(black,.5);
  top: 50%;
  margin-top: 25px;
  position: absolute;
  width: 100%;
  text-align: center;
}

// initial style

@-webkit-keyframes translateIn {
  30% {
    -webkit-transform: rotateX(60deg) rotateY(0deg) rotateZ(45deg) translateZ(20px) scale(0.95);
    opacity: 0.25;
    background: #EF6243;

  }
  100% {
    -webkit-transform: rotateX(65deg) rotateY(0deg) rotateZ(45deg) translateZ(0px) scale(0.85);
    opacity: 0;
    background: #F97B37;
  }
}

@keyframes translateIn {
  30% {
    -webkit-transform: rotateX(60deg) rotateY(0deg) rotateZ(45deg) translateZ(20px) scale(0.95);
    transform: rotateX(60deg) rotateY(0deg) rotateZ(45deg) translateZ(20px) scale(0.95);
    opacity: 0.25;
    background: #EF6243;
  }
  100% {
    -webkit-transform: rotateX(65deg) rotateY(0deg) rotateZ(45deg) translateZ(0px) scale(0.85);
    transform: rotateX(65deg) rotateY(0deg) rotateZ(45deg) translateZ(0px) scale(0.85);
    opacity: 0;
    background: #F97B37;
  }
}

.element {
  opacity: 0;
  &:nth-of-type(1) {
    -webkit-transform: rotateX(70deg) rotateY(0deg) rotateZ(45deg) translateZ(30px);
    transform: rotateX(70deg) rotateY(0deg) rotateZ(45deg) translateZ(30px);
    -webkit-animation: translateIn 1.5s ease-in infinite 500ms;
    animation: translateIn 1.5s ease-in infinite 500ms;
  }
  &:nth-of-type(2) {
    -webkit-transform: rotateX(70deg) rotateY(0deg) rotateZ(45deg) translateZ(60px);
    transform: rotateX(70deg) rotateY(0deg) rotateZ(45deg) translateZ(60px);
    -webkit-animation: translateIn 1.5s ease-in infinite 700ms;
    animation: translateIn 1.5s ease-in infinite 700ms;
  }
  &:nth-of-type(3) {
    -webkit-transform: rotateX(70deg) rotateY(0deg) rotateZ(45deg) translateZ(90px);
    transform: rotateX(70deg) rotateY(0deg) rotateZ(45deg) translateZ(90px);
    -webkit-animation: translateIn 1.5s ease-in infinite 800ms;
    animation: translateIn 1.5s ease-in infinite 800ms;
  }
}

// large-square

@-webkit-keyframes scaleIn {
  80% {
    -webkit-transform: rotateX(65deg) rotateY(0deg) rotateZ(45deg) scale(1.25);
    opacity: 0.1;
    background: #F97B37;

  }
  100% {
    -webkit-transform: rotateX(65deg) rotateY(0deg) rotateZ(45deg) scale(1);
    opacity: 0;
    background: #EF6243;

  }
}

@keyframes scaleIn {
  80% {
    -webkit-transform: rotateX(65deg) rotateY(0deg) rotateZ(45deg) scale(1.25);
    transform: rotateX(65deg) rotateY(0deg) rotateZ(45deg) scale(1.25);
    opacity: 0.1;
    background: #F97B37;

  }
  100% {
    -webkit-transform: rotateX(65deg) rotateY(0deg) rotateZ(45deg) scale(1);
    transform: rotateX(65deg) rotateY(0deg) rotateZ(45deg) scale(1);
    opacity: 0;
    background: #EF6243;

  }
}

.large-square {
  width: 70px;
  height: 70px;
  background: #fb8133;
  position: absolute;
  left: 50%;
  margin-left: -35px;
  top: 50%;
  margin-top: -35px;
  -webkit-transform: rotateX(60deg) rotateY(0deg) rotateZ(45deg)scale(0);
  transform: rotateX(60deg) rotateY(0deg) rotateZ(45deg) scale(0);
  opacity: 0;
  -webkit-animation: scaleIn 3s linear infinite 500ms;
  animation: scaleIn 3s linear infinite 500ms;
}