.bg-mild-blue {
  background-color: #F1F9FE;
}

.font-xxl {
  font-size: 1.9rem;
}

.spin-red {
  color: #EB2B40;
}

.border-round {
  border-radius: 50px;
}

.button-solid.button-purple {
  color: white;
  transition: box-shadow .3s;
  background-color: #3D304A;
  background-image: unset;

    &:hover {
      box-shadow: 0 0 11px rgba(33,33,33,.2); 
    }
}

@font-face {
  font-family: 'Gilroy';
  src: url('https://minio.codingblocks.com/public/Gilroy-Regular.ttf');
}

@font-face {
  font-family: 'Gilroy';
  font-weight: 700;
  src: url('https://minio.codingblocks.com/public/Gilroy-Bold.woff');
}

.c-spin {
  font-family: Gilroy;
}

.spin-wheel {
  position: relative;

  .wheel {
    display: block;
    max-width: 510px;
    z-index: 2;
  }

  .wheel-pointer {
    position: absolute;
    z-index: 3;
    width: 80px;
    left: calc(50% - 40px);
    top: -60px;
  }

  .wheel-base {
    position: absolute;
    z-index: 1;
    width: 145px;
    bottom: -42px;
    left: calc(50% - 70px)
  }
}

@media (min-width: 992px) and (max-width:1200px) {
  .spin-wheel {
    .wheel-pointer {
      top: -25px;
    }
  }
}

@media (max-width: 992px) {
  .spin-wheel {
    margin-top: 6rem;
  }
}

