.bg-mild-blue {
  background-color: #F1F9FE;
}

.font-xxl {
  font-size: 1.9rem;
}

.spin-red {
  color: #EB2B40;
}

.spin-yellow {
  color: #ffd81f;
}

.spin-purple {
  color: #3d304a;
}

.spin-bg-purple {
  background-color: #3d304a;
}

.spin-bg-red {
  background-color: #e92b40;
}

.spin-bg-blue {
  background-color: #145cd3;
}

.spin-bg-mild-blue {
  background-color: #f1f9fe;
}

.border-round {
  border-radius: 50px;
}

.border-dashed {
  border: 1px dashed;
}

.button-solid.button-purple {
  color: white;
  transition: box-shadow .3s;
  background-color: #3D304A;
  background-image: unset;

    &:hover {
      box-shadow: 0 0 11px rgba(33,33,33,.2); 
    }
}

.overflow-x-auto {
  overflow-x: auto;
}

@font-face {
  font-family: 'Gilroy';
  src: url('https://minio.codingblocks.com/public/Gilroy-Regular.ttf');
}

@font-face {
  font-family: 'Gilroy';
  font-weight: 700;
  src: url('https://minio.codingblocks.com/public/Gilroy-Bold.woff');
}

.c-spin {
  font-family: Gilroy;
}

.c-winning-card {
  .trophy {
    position: absolute;
    top: 0px;
    left: 50%;
    margin-left: -36px;
  }

  .content {
    width: 100%;
    height: auto;
    padding: 0px 30px 30px 30px;
    border-radius: 15px;
    margin-top: 25px;
    padding-top: 80px;
  }
}
