.video-container{
  @include dimensions(100%, 100%);
  position: absolute;
  top: 0%;
  right: 0%;
  background: $vp-background;
  transition: all 0.35s ease;

  &.collapse{
    right: 0%;
    width: 80%;
  }
}

