<div class="red bold font-sm">Your predictions for today</div>
<div class="list-divided border-none">
  {{#each predictions as |prediction index|}}
  <div class="py-4">
    <div class="d-flex">
      <div class="li-left">
        <div class="flex-column align-items-start">
          <div class="bold">
            Level
            {{index}}
          </div>
          <h4>
            {{prediction.cricketCupQuestion.title}}
          </h4>
        </div>
      </div>
      <div class="li-right">
        <div class="label-dashed">
          <span class="red">
            {{prediction.cricketCupQuestion.score}}
            Points
          </span>
        </div>
      </div>
    </div>
    <div class="mt-3">
      <span class="s-10x10 bg-red-lr round mr-2"></span> {{prediction.cricketCupChoice.title}}
    </div>
  </div>
  {{/each}}
</div>