
.o-layout-card  {
  display: block;
  @include padding-mixin(25.5px , null, null, 19.5px);
  position: relative;

  .button-solid {
    margin-left: 150px;
    position: absolute;
    top: 415px;
    left: 119px;
  }
}

.grid {
  margin-left: 34px;
  margin-right: 34px;
  padding:32px;
  .o-image-card {
    margin-bottom: 27px;
    padding-top: 40px;
  }
  .o-layout-card {
    padding-right: 25px;
    padding-left: 25px;
  }
}

.o-image-card {
  margin-bottom: 27px;
}

.o-text-card {
  margin-bottom: 11px;
}