
.o-layout-card  {
  display: block;
  margin-left: -4%;
  @include padding-mixin(25.5px , null, null, 19.5px);
  position: relative;

  .button-solid {
    position: absolute;
    top: 5px;
    left: 39%;
  }

  .button-parent {
    position: relative;
  }

  .price-detail {
    margin-top: 25px;
  }
}
.grid-background {
    background-color: #f6f6f6;
    padding: 5%;
}

.grid {
  margin: 0;
  padding:32px;
  .o-image-card {
    margin-bottom: 27px;
    padding-top: 40px;
  }
  .o-layout-card {
    padding-right: 25px;
    padding-left: 25px;
  }
}

.o-image-card {
  margin-bottom: 27px;
}

.o-text-card {
  margin-bottom: 11px;
}
