<!DOCTYPE html>
<html>
  <head>
      <link href="stylesheets/style.css" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Cabin" rel="stylesheet">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

<body>
	{{{body}}}
</body>

</html>