<video id="video" class="w-100" controls onended={{onVideoCompleted}}></video>
<div class="select-box">
	<div class="open-select-box">
	    <button type="video-fast-fwd" {{action 'changeSpeed' -0.5}} id="video-fbwd">
	      <i class="fa fa-fast-backward"></i>
	    </button>
	      <button type="video-fast-back" {{action 'changeSpeed' 0.5}} id="video-ffwd">
	    <i class="fa fa-fast-forward"></i>
	    </button>
	</div>
    <label id="playback-speed">{{pr}}x</label>
</div>
