<div class="row justify-content-center">
  <i class="fas fa-lock fa-4x grey"></i>
</div>
<div class="row justify-content-center">
  <h2 class="white">You need to buy this course to access this content.</h2>
</div>
{{#link-to 'courses.id' course.identifier tagName="button" activeClass="" class="row justify-content-center 
button-solid align-self-center"}} Buy Now {{/link-to}}
