.item-heading {
  margin-top: 40px;
  .heading-u {
    border-bottom: 2px solid $search-box-color;
  }
}

.o-item-card{
  padding: 5% 3%;
  height: auto;
  margin-bottom: 4%;

  .header{
    margin-bottom: 25px;
  }

  .footer{
    margin-top: 40px;
  }

  .main-h, .sub-h{
    font-weight: $font-normal;
  }

  .main-h{
    font-size: $font-sm;
  }

  .sub-h{
    font-size: $global-font-size;
  }

  .item-details{
    border-right: solid 1px $card-box-border;
    padding-right: 6%;
  }

  .quantity-details{
    padding-left: 6%;
  }

  .font-lg{
    font-size: $font-lg;
    font-weight: $font-medium;
    margin-right: 2%;
  }

  .line-through{
    color: $faded-text;
    text-decoration: line-through;
    margin-top: 5px;
  }

  .detail-row{
    font-size: $font-sm;
    font-weight: $font-medium;
    margin-bottom: 25px;
  }

  .item-img{
    padding-right: 7%;
  }

  .promo{
    font-size: $card-md;

    p{
      margin: 0;
    }
  }

  .promo-img{
    padding-right: 4%;
  }

  .no-promo{
    font-size: $card-sm;
    color: $faded-text;
    text-align: right;
  }

  .total-items{
    padding: 0 6px;
  }

  .row{
    padding: 0;
  }
}