<div class="border-card p-5">
  <h4 class="bold gradient-text-orange d-flex align-items-center">
    <img src="/app/images/doubt_chat.svg" alt="hat">
    <span class="ml-2">Have any Doubts?</span>
  </h4>
  <div class="divider-h my-4"></div>
  <p class="grey">
    Just fill in your details and our edu. counsellor will get back to you!
  </p>
  <div class="mt-4">
    <input type="text" class="input-search bg-light-grey p-3 w-100" placeholder="Name">
  </div>
  <div class="mt-4">
    <input type="text" class="input-search bg-light-grey p-3 w-100" placeholder="Name">
  </div>
  <button class="mt-4 button-solid button-orange">
    Send Details
  </button>
</div>