.container-courses {
  padding-left: 60px;

  .status-circle {
     transform: none;
     padding-bottom: 20%;
     width: 20%;
     position: absolute;
     right: 25px;

    .circle-back {
      width: 100%;
      height: 100%;
      position: absolute;
    }
    .circle-front {
      width: 80%;
      height: 80%;
      transform: translateY(14%);
      position: absolute;
      left: 10%;
      top: -2.1%;
    }

    .progress-text {
      font-size: calc( .9vw + .9vh );
      text-align: center;
      margin: 0;
      position: absolute;
      top: 30%;
      left: 25%;
      transform: none;
    }

  }

  .heading {
    font-size: $font-md;
    text-transform: uppercase;
    border-bottom: 1px solid black;
    width: 20%;
  }

  .short-heading {
    font-size: $font-sm;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .recommended-container {;
    padding: 0;
    margin: 0;
  }
  .recommended {

    .card-batches {
        position: static;
      }
    }
  }

