<div class="c-spin">
  <div class="bg-mild-blue">
    <div class="container">
      <div class="row bg-mild-blue p-5">
        <div class="col-sm-6">
          <div class="mb-5">
            <img src="https://svgshare.com/i/Gtd.svg" alt="">
          </div>
          <div class="spin-red font-xxl mb-4 bold">
            This festive season, Spin the CB Wheel and win assured prizes!!
          </div>
          <div class="mb-4">
            <button class="button-dashed button-pink w-75 p-3 border-round">
              <div class="d-flex justify-content-between align-items-center px-3">
                <span class="font-xl bold black">02 Spins Left</span>
                <span class="font-sm bold spin-red ml-auto">Earn More -></span>
              </div>
            </button>
          </div>

          <div class="font-md spin-red mb-5">
            Get <span class="bold">500 CB Credits</span> on your first successful spin
          </div>

          <button class="button-solid button-purple">
            <span class="font-xxl bold p-4">TAP TO SPIN</span>
          </button>

        </div>
      </div>
    </div>
  </div>
</div>