<section class="partners container my-5">
  <div class="row align-items-center py-5">
    <div class="col-12 col-md-6">
      <h2 class="mb-3">Our Partners</h2>
      <div class="grey mb-5">
        Get recruited by top multinational companies and get worldwide recognition
      </div>
    </div>
    <div class="col-12 col-md-6 t-align-l t-align-md-r">
      <img src="/images/logosheet.png" alt="Partner Logos">
    </div>
  </div>
</section>