@media all and (max-width: 1334px) {
  .home-container {
    padding: 0 15px;
    .input-search {
      display: block;
      margin: 0 auto;
    }
  }

  .home-heading {
    text-align: center;
    font-size: $font-md;
  }

  nav {
    .input-search {
      display: none;
    }
  }

  .home-column {
    display: none;
  }

  .home-img {
    margin: 0 auto;
    left: 0;
    width: 100%;
  }
}

@media all and (max-width: 767px) {
  .home-container {
    .input-search {
      width: 50%;
      min-width: 290px;
    }
  }
}

.testclass {
  width: 100px;
}
