@media screen and (max-width: 1200px) {
  .o-profile {
    .button-circle {
      @include margin(0, 0, 20px, 0);
      @include dimensions(60px, 60px);
      font-size: $card-sm;
    }

    .auth-link {
      @include margin(0, 6%, 0, 0);
      font-size: $font-xs;
    }
  }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
  .o-profile {
    .auth-link {
      font-size: $font-xs;
    }
  }
}

@media screen and (max-width: 575px) {
  .o-profile {
    .links {
      @include padding-mixin (10px, 0, 10px, 0);
    }
  }
}