@media all and (max-width: 1334px){
  .home-container{
    padding-left: 0;

    .input-search{
      display: block;
      margin:0 auto;
      width: 80%;
    }
  }

  .home-heading{
    text-align: center;
    font-size: $font-md;
  }

  nav{
    .input-search{
      display: none;
    }
  }

  .home-column{
    display: none;
  }

  .img-container{
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
  }

  .home-img{
    margin: 0;
    left: unset;
    width: 68%;
  }
}

.testclass{
  width: 100px;
}

@media all and(max-width: 767px){
  .home-img{
    max-width: unset;
  }
}

@media all and (max-width: 575px){
  .o-offerings{
    .left{
      width: 85%;
    }
  
    .right{
      width: 90px;
    }
  
    .offering-card-heading{
      margin-bottom: 15px;
    }
  }
}