@media all and (max-width: 767px){
  .sub-h{
    font-weight: $font-normal;
    font-size: $global-font-size;
  }

  .main-h{
    font-size: $font-xs;
  }

  .heading{
    font-size: $font-xs;
  }
}

@media all and (max-width: 575px){
  .heading-u-red{
    font-size: $font-sm;
    padding-right: 15px;
    margin-bottom: 30px;
  }

  .heading-u{
    font-size: $font-sm;
    padding-bottom: 15px;
  }
}

