@media screen and (max-width: 1200px) {
  .card-layout {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
  .o-layout-card {
    padding-top: 20px;
    padding-bottom: 20px;

    .footer {
      text-align: left;
      font-size: $global-font-size;
    }

    .card-mentors:nth-child(2) {
      z-index: 99;
      margin-left: 20px;
    }

    .rating {
      margin: 0;
    }

    .card-mentor-divider {
      margin-top: 0;
    }
  }

  .grid {
    margin: 0;

    .o-image-card {
      padding-top: 0;
      padding-right: 15px;
      margin: 0;
      float: left;
      width: 14%;
      min-width: 75px;
    }

    .row {
      padding: 0;
    }
  }

  .card-layout {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .card-heading {
    overflow: hidden;
    max-width: 70%;
    margin-top: 10px;
  }

  .card-text {
    overflow: hidden;
    width: 70%;
    display: inline-block;
    font-size: 1rem;
  }

  .card-mentor {
    display: flex;
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }

  .card-mentor-image {
    padding-bottom: 16.5%;
    width: 16.5%;
  }

  .card-mentors {
    height: 50% !important;
    position: absolute !important;
    width: 50% !important;
  }
  
  .card-price-details {
    float: right;
  }

  .card-image {
    width: 10%;
  }

  .button-dashed {
    margin: 20px auto;
  }

  .card, .card-text, .card-heading {
    height: auto;
  }

  .o-course-card {
    .card-price-details {
      float: right;
    }

    .card-price-details {
      text-align: right;
    }

    .card-heading {
      margin-bottom: 0;
    }
  }
}

@media screen and (max-width: 575px) {

  .card-layout {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .card-mentor-text {
    text-align: center;
    display: block;
    margin: 0 auto;
    top: 1px;
  }

  .o-image-card {
    width: 25%;
  }

  .button-dashed {
    margin: 20px auto;
  }

  .card-mentor-text {
    text-align: center;
    display: block;
    margin: 0 auto;
    padding-left: 0;
  }

  .card-mentor-image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
  }

  .rating {
    margin-top: 0;
    margin-bottom: 25px;
  }

  .card {
    height: auto;
    padding-bottom: 20px;
  }

  .card-text, .card-heading {
    height: auto;
  }

  .card-price-details {
    text-align: left;
    width: 100%;
  }
}
