@media screen and (max-width: 1200px) {
  .o-arrangement {
    .card {
      @include padding-mixin(40px, 40px, 40px, 40px);
      font-size: $font-xs;
    }

    .input-text {
      font-size: $font-xs;
    }

    .heading-u-red {
      @include padding-mixin(0, 140px, 33px, 0);
    }

    .attributes {
      .detail-row {
        width: 100%;
      }
    }

    .button-dashed {
      font-size: $global-font-size;
    }

    .button-solid {
      font-size: $global-font-size;
    }

    .nav-info {
      .card {
        @include padding-mixin (90px, 0, 50px, 0);
        text-align: center;
      }
    }
  }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
  .o-arrangement{
    .nav-info {
      display: none;
    }

    .card {
      @include padding-mixin(55px, 30px, 25px, 30px);
      font-size: $font-xs;
    }

    .input-text{
      height: 50px;
    }

    .border-card{
      width: 100%;
    }

    .heading-u-red {
      @include padding-mixin(0, 180px, 20px, 0);
      font-size: $font-mds;
    }
  }
}

@media screen and (max-width: 575px) {
  .o-arrangement {
    .nav-info {
      display: none;
    }

    .heading {
      font-size: $global-font-size;
    }

    .card {
      @include padding-mixin(25px, 20px, 25px, 20px);
      font-size: $card-sm;
      font-weight: $font-medium;
    }

    
    .button-dashed {
      font-size: $card-sm;
    }
    
    .button-solid {
      font-size: $card-sm;
    }

    .heading-u-red {
      @include padding-mixin(0, 93px, 13px, 0);
      margin-bottom: 20px;
      font-size: $font-xs;
    }

    .attributes {
      .flex-row {
        @include padding-mixin(20px, 0, 10px, 0);
        justify-content: space-between;
      }

      .input-text {
        height: 40px;
        font-size: $card-sm;
        width: 70%;
      }
    }

    .border-card {
      width: 100%;
      padding-bottom: 90px;
      padding-top: 20px;
    }

    .button-row {
      bottom: 30px;
    }

  }
}