@media all and (max-width: 875px) {
  .main-nav{
    .hamburger-parent {
      display: inline-block;
      opacity: .4;
      font-size: $font-md;
      margin-right: 20px;
      cursor: pointer;
    }
  }
  
  .nav-list {
    display: none;
  }

  .menu-icon {
    display: inline-block;
    @include dimensions(50px, 50px);
    background-size: 50px ;
    background-image: url("/images/menu-icon.png");
  }
}

@media all and(max-width: 575px){
  .nav-logo{
    height: 30px;
    margin: 0;
  }

  .logo-link{
    min-width: unset;
  }

  .main-nav{
    padding-top: 10px;
    padding-bottom: 10px;
    height: 60px;

    .hamburger-parent{
      font-size: $global-font-size;
    }

    .card{
      @include padding-s(5px, 25px);
      width: 240px;
    }

    .nav-info{
      font-size: $card-md;

      .flex-row{
        @include padding-s(20px, 0);
      }
    }

    .round-img{
      @include dimensions(40px, 40px);
    }
  }

}
