@media screen and (max-width: 1200px) {
  .card-layout {
    flex: 0 0 50% ;
    max-width: 50% ;
  }

}

@media screen and (max-width: 832px) {
  .card-layout {
    flex: 0 0 100% ;
    max-width: 100% ;
  }
}