@media screen and (max-width: 1200px) {
  .o-client-add {
    .attributes {
      .detail-row {
        @include margin(20px, 0, 20px, 0);
      }
    }

    .button-row {
      margin-top: 20px;
    }
  }
}

@media screen and (min-width: 575px) and (max-width: 767px) {
  .o-client-add {
    .flex-row {
      @include padding-mixin(0, 0, 0, 0);
      font-weight: $font-medium;
    }

    .button-solid {
      @include margin(0, 20px, 0, 0);
    }
  }
}

@media screen and (max-width: 575px) {
  .o-client-add {
    .attributes {
      .label-input {
        width: 30%;
      }

      .detail-row {
        @include margin(10px, 0, 10px, 0);
      }
    }
  }

  
}