@media all and (max-width: 1334px){
  .home-container{
    padding-left: 0;

    .input-search{
      display: block;
      margin:0 auto;
      width: 80%;
    }
  }
  
  .home-heading{
    text-align: center;
    font-size: $font-md;
  }
  
  nav{
    .input-search{
      display: none;
    }
  }

  .home-column{
    display: none;
  }

  .home-img{
    margin: 0;
    left: 0;
    width: 100%;
  }
}

.testclass{
  width: 100px;
} 

@media all and (max-width: 875px){
  .logo-link{
    display: inline-block;
    min-width: 80%;
  }
}