<section class="container feature-set">
  <div class="t-align-c mb-5">
    <h2 class="mb-2">Be in-demand with our courses</h2>
    <h4 class="grey semi-bold"> How our platform stands out from all other platforms </h4>
  </div>
  <div class="row justify-content-around justify-content-lg-between">
    <div class="col-6 col-md-4 col-lg-2">
      <img src="/images/i1.png" alt>
      <h3>Hands-on <br>Coding Experience</h3>
      <div class="grey">
        Experienced, engaging instructors take you through course material, step by step, in our high-quality video lessons. This will help you keep your skills sharp even after completing the course.
      </div>
    </div>
    <div class="col-6 col-md-4 col-lg-2">
      <img src="/images/i2.png" alt>
      <h3>Work on Live Projects</h3>
      <div class="grey">
        The Course Material contains lot of live projects to work on. The best way to learn making an application is put it into production.
      </div>
    </div>
    <div class="col-6 col-md-4 col-lg-2">
      <img src="/images/i3.png" alt>
      <h3>Mentor <br> Support</h3>
      <div class="grey">
        Our online programming courses online are a flexible alternative that provides online access to our in-depth curriculum—complete with real-time support from instructors, our own industry-tested learning platform, hands-on assignments and much more, all from the comfort of your abode.
      </div>
    </div>
    <div class="col-6 col-md-4 col-lg-2">
      <img src="/images/i4.png" alt>
      <h3>Coding Assignments</h3>
      <div class="grey">
        Study the course contents at your own pace. If you're an experienced developer, you can complete the courses in a matter of days. If you want to take things slowly you get access to courses for a minimum period of 6 months. You also get an option to purchase an extended availability of the course.
      </div>
    </div>
    <div class="col-6 col-md-4 col-lg-2">
      <img src="/images/i5.png" alt>
      <h3>Hackerblocks Leaderboard</h3>
      <div class="grey">
        You will be assessed weekly in your path to becoming a programming expert at this online certification course and all the practice, assignments and tests will be taken on our online automated code judge. Get instructor-signed certificate with our seal to accredit your achievement after the course completion and increase your job prospects!
      </div>
    </div>
  </div>
</section>