<section class="container feature-set">
  <div class="t-align-c mb-5">
    <h2 class="mb-2">Be in-demand with our courses</h2>
    <h4 class="grey semi-bold"> How our platform stands out from all other platforms </h4>
  </div>
  <div class="row justify-content-around justify-content-lg-between">
    <div class="col-6 col-md-4 col-lg-2">
      <img src="/images/i1.png" alt>
      <h3>Hands-on <br>Coding Experience</h3>
      <div class="grey">
        Lorem Lorem ipsum dolor sit amet, cotnsectetur adipiscing elit, sed do ipsum dolor sit amet,
        consectetur adipiscing elit, sed do
      </div>
    </div>
    <div class="col-6 col-md-4 col-lg-2">
      <img src="/images/i2.png" alt>
      <h3>Work on Live Projects</h3>
      <div class="grey">
        Lorem Lorem ipsum dolor sit amet, cotnsectetur adipiscing elit, sed do ipsum dolor sit amet,
        consectetur adipiscing elit, sed do
      </div>
    </div>
    <div class="col-6 col-md-4 col-lg-2">
      <img src="/images/i3.png" alt>
      <h3>Mentor <br> Support</h3>
      <div class="grey">
        Lorem Lorem ipsum dolor sit amet, cotnsectetur adipiscing elit, sed do ipsum dolor sit amet,
        consectetur adipiscing elit, sed do
      </div>
    </div>
    <div class="col-6 col-md-4 col-lg-2">
      <img src="/images/i4.png" alt>
      <h3>Coding Assignments</h3>
      <div class="grey">
        Lorem Lorem ipsum dolor sit amet, cotnsectetur adipiscing elit, sed do ipsum dolor sit amet,
        consectetur adipiscing elit, sed do
      </div>
    </div>
    <div class="col-6 col-md-4 col-lg-2">
      <img src="/images/i5.png" alt>
      <h3>Hackerblocks Leaderboard</h3>
      <div class="grey">
        Lorem Lorem ipsum dolor sit amet, cotnsectetur adipiscing elit, sed do ipsum dolor sit amet,
        consectetur adipiscing elit, sed do
      </div>
    </div>
  </div>
</section>