.o-notification{
  text-transform: none;
  right: 0;
  left: unset;
  display: none;
  top: 90%;
  
  .notify-text{
    color: $global-font-text-color;
    font-size: $card-md;
    text-align: justify;
    padding-right: 20px;
  }

  .row{
    padding: 0;
  }

  .dropdown-li{
    padding: 20px 0;
  }
}