.video-player{
  &:hover{
    .select-box{
      display: block;
    }
  }

  .select-box{
    display: none;
    @include border-radius(3px);
    position: absolute;
    bottom: 565px;
    right: 15px;
    width: 33px;
    color: $white;
    text-align: center;
    padding: 5px 0;
    cursor: pointer;
    background: $vp-select-box;
    font-weight: $font-medium;

    &:hover{
      .open-select-box{
        display: block;
      }
    }
  }

  .open-select-box{
    display: none;
    font-size: $card-sm;
    text-align: left;
    padding-bottom: 10px;
    padding-left: 5px;
    li{
      margin-bottom: 5px;
    }
  }

  ul{
    padding: 0;
    margin: 0;
  }
}
