<div class="row mx-0 align-items-center">
  <div class="col-md-6 col-12">
    <div class="row mx-0 align-items-center">
      <div class="col-3">
        <FaIcon @icon="trophy" @size="4" class="orange" />
      </div>
      <div class="col-9">
        <h6 class="bold">{{stats.performance.remarks}}</h6>
        <div class="font-normal grey mt-2">Your Performance</div>
      </div>
    </div>
    <div class="row mx-0 align-items-center mt-5">
      <div class="col-3">
        <FaIcon @icon="signal" @size="4" class="orange" />
      </div>
      <div class="col-9">
        <h6 class="bold">235/450</h6>
        <div class="font-normal grey mt-2">Leaderboard Ranking</div>
      </div>
    </div>
    <div class="row mx-0 align-items-center mt-5">
      <div class="col-3">
        <FaIcon @icon="users" @size="4" class="orange" />
      </div>
      <div class="col-9">
        <h6 class="bold">{{stats.performance.percentile}}</h6>
        <div class="font-normal grey mt-2">Percentile</div>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-12">
    <div class="bold mb-2">Weekly Course Progress</div>
    <EmberChart 
      @type="line" 
      @data={{performanceData}} 
      @options={{options}} 
      width="300"
      height="180"
      class="bg-white"
    />
  </div>
</div>
