<div class="row c-topnav py-4 align-items-center bg-dark-grey white">
  <div class="col-4 align-self-center t-align-c">
    <h3 class="bold">
      Section 1.4: Optimization
    </h3>
  </div>
  <div class="col-3 align-self-center">
    <CourseSearchBox @run={{run}} />
  </div>
  <div class="col-3 align-self-center">
    <div class="row no-gutters align-items-center justify-content-between">
      <span>Course Progress</span>
      <progress value="50" max="100" class="progress-orange w-50" />
      <span class="bold">45%</span>
    </div>
  </div>
  <div class="col-2 align-self-center t-align-c">
    <LinkTo
      @route="dashboard"
      class="button-solid button-orange">
      Exit Class  
    </LinkTo>
  </div>
</div>
