<div class="row c-topnav py-4 justify-content-between content-container  bg-dark-grey white w-100">
  <div class="col-3 align-self-center pl-0">
    <h5 class="bold contain-text">
      {{content.title}}
    </h5>
  </div>
  <div class="col-4 align-self-center">
    <CourseSearchBox @run={{run}} />
  </div>
  <div class="col-5 my-auto">
    <div class="row">
      <div class="col-8 t-align-c">
    <div class="row no-gutters align-items-center justify-content-center">
      <div class="col-11">
        <span class="px-2">Course Progress</span>
        <progress value="{{progress.percent}}" max="100" class="progress-orange w-50 d-inline-block" /> 
      </div>
      <div class="bold col-1"> 
        {{progress.percent}}%
      </div>
    </div>
      </div>
      <div class="col-4 t-align-r">
        <LinkTo
          @route="dashboard"
          class="button-solid button-orange">
          Exit Class  
        </LinkTo>
      </div>
    </div>
  </div>
  
</div>
