.o-changedp{
  font-size: $card-md;
  font-family: Cabin;

  .heading{
    font-size: $font-xs;
  }

  .modal-content{
    @include dimensions(90%, auto);
    max-width: 600px;
    padding: 30px;
  }

  .row{   //to overwrite bootstrap
    .images{
      cursor: pointer;
      @include padding-mixin(2%, 2%, 2%, 2%);

      &:hover{
        @include border(solid, 2px, $nav-border);
      }

      img{
        width: 100%;
      }
    }
  }


  .button-solid{
    @include dimensions(40%, 55px);
    max-width: 190px;
    margin-left: 20px;
  }

  .footer{
    margin-top: 35px;
  }

  p{
    @include margin(20px, 0, 20px, 0);
  }

  .row{
    padding: 0;
  }
}