.o-add-address {
  font-size: $font-sm;

  .card {
    @include dimensions(100%, auto);
    @include margin(0, 0, 30px, 0);
    @include padding-mixin(70px, 45px, 40px, 45px);
  }

  .input-text {
    @include padding-mixin(0, 20px, 0, 20px);
    height: 60px;
    color: $navLink;
  }

  .dropdown-ul {
    box-shadow: unset;
  }

  .input-text[disabled]{
    background: $disabled-input;
  }

  .button-row {
    @include margin(20px, 0, 0, 0);
  }

  .heading-u-red {
    @include padding-mixin(0, 380px, 33px, 0);
    @include margin(0,0,30px,0);
    font-size: $font-mds;
  }

  .row {
    @include padding-mixin(0, 0, 0, 0);
  }

  .attributes {
    @include margin(0, 0, 10px, 0);
    height: auto;
    font-weight: $font-normal;
    .detail-row {
      @include margin(20px, 0, 20px, 0);
      width: 48%;
    }
  }

  .button-solid {
    width: 30%;
    max-width: 162px;
    font-size: $font-xs;
    font-weight: $font-medium;
  }

  .reset-button {
    @include margin(0, 30px, 0, 0);
  }

}
