
$global-font-size: 19.9px;
@font-face {
  font-family: $global-font-family;
  font-style: $global-font-style;
  font-weight: $global-font-weight;
}

//Weight
$font-normal: 500;
$font-medium: 600;

//Size
$font-xs: 22px;
$font-sm: 24px;
$font-md: 28px;
$font-lg: 30px;
$font-xl: 32px;
