$color-button-primary: #ed8080;
$global-font-text-color: #333333;
$global-font-heading-color: #333333;
$card-box-border: #e8e8e8;
$card-mentor: #e9e9e9;
$card-box-shadow: rgba(51, 51, 51, 0.1);

$white: #ffffff;
$button-gradient: linear-gradient(to right, #ed7397 , #ec8773);
$button-element-level: #ff6666;