
$global-line-height: 24px !default;
$global-border-radius: 50% !default;

//button
$global-button-border-radius: 42.5px !default;
$global-transition: all 300ms ease-in-out !default;

$dashed-button-width: 173px;
$dashed-button-height: 44px;
$dashed-border-radius: 22px;
$dashed-button-color: $color-button-primary;
$dashed-button-background: $transparent;

$solid-button-background: $color-button-primary;
$solid-button-color: $white;
$solid-button-width: 110px;
$solid-button-height: 49px;
$solid-button-border-radius: 42.5px;

$circle-button-background: $nav-border;
$circle-button-color: $white;
$circle-button-width: 85px;
$circle-button-height: 85px;
$circle-button-border-radius: 50%;


//Font
$global-font-family: 'Cabin', sans-serif;
$global-font-style: normal !default;
$global-font-weight: normal !default;



$global-container-width: 551px;
$global-container-height: 106px;

