
$global-font-size: 16px;
@font-face {
  font-family: $global-font-family;
  font-style: $global-font-style;
  font-weight: $global-font-weight;
}

//Weight
$font-normal: 500;
$font-medium: 600;

//Size


$font-xs: 1.125rem; // 18px
$font-sm: 1.25rem;  // 20px
$font-mds: 1.375rem;// 22px
$font-md: 1.5rem;   // 24px
$font-lg: 1.625rem; // 26px
$font-xl: 1.75rem;  // 28px
