$color-button-primary: #ed8080;
$global-font-text-color: #333333;
$global-font-heading-color: #333333;
$card-box-border: #e8e8e8;
$card-mentor: #e9e9e9;
$card-box-shadow: rgba(51, 51, 51, 0.1);

$white: #ffffff;
$button-gradient: linear-gradient(to right, rgb(237, 114, 152), rgb(236, 136, 113));
$button-element-level: #ff6666;
$classroom-border: #cccccc;
$nav-border: #f6f6f6;
$rating-star: #fce298;
$reset-progress: #fc4f4f;
$course-progress-circle-front: linear-gradient(to right, rgba(237, 114, 152, 0.4), rgba(236, 136, 113, 0.4));
$faded-text: #999999;
$intermediate-level: #FECC6E;
$accordian-li: #fdfdfd;
$status-back-complete: #d7f1d3;
$status-front-complete: #82d073;
$font-complete: #8dbf75;
$status-back-incomplete: #bebebe;
$default-accordian-font: #666666;
$default-border: #cccccc;
$font-sub-heading: #f6776f;
$navLink: #666666;
$transparent: transparent;
$facebook: #3b5998;
$google: #f4695a;
$twitter: #03a9f4;

$disabled-input: #ececec;

$vp-background: #252525;
$vp-acc-head: #4c4c4c;
$vp-border: #676767;
$search-box-color: #f2f2f2;
$faded-cont: #e4e4e4;
$editor-background: #2e2e2e;
$editor-line-number: #202020;
$input-code-editor: #2a2a2a;

$modal-fader: #111111;
$fail-red: #e8685d;
$black: #000000;
$otp-input-bg: #ebebeb;

$hover-bg: #fafafa;
$dropdown-divider: #f4f4f4;

$vp-select-box: #262626;