.home-container {
  margin-top: 50px;
  padding-left: 50px;
  
  .input-search{
    display: none;
    float: none;
  }
}

.home-heading {
  font-size: $font-xl;
  margin-left: -0.6%;
  color: $button-element-level;
  margin-bottom: 30px;
}

.home-img {
  position: relative;
  margin-top: -190px;
  width: 85%;
  left: 65px;
}

.prev {
  padding-right: 20px;
  border-right: 1px solid;
}

.home-row {
   position: relative;
  .home-column {
    position: static;
  }
  margin-bottom: 3%;
}

.custom-heading{
  .heading-u{
    margin-bottom: 5px;
  }

  .button-dashed{
    float: right;
  }
}

.home-vh {
  //height: 35vh;
}