.home-container {
  padding-left: 50px;
}

.home-heading {
  font-size: 45px;
  color: $button-element-level;
  margin-bottom: 30px;
}

.home-img {
  position: relative;
  top: -80px;
}

.prev {
  padding-right: 20px;
  border-right: 1px solid;
}