.home-container {
  padding-left: 50px;
}

.home-heading {
  font-size: $font-xl;
  color: $button-element-level;
  margin-bottom: 30px;
}

.home-img {
  position: relative;
  margin-top: -190px;
  width: 85%;
  left: 65px;
}

.prev {
  padding-right: 20px;
  border-right: 1px solid;
}

.home-row {
   position: relative;
  .home-column {
    position: static;
  }
}