<li class="nav-items">
    <div class="notify-icon">
        <span class="notify-dot new"></span>
        <img src="images/notif-icon.png" alt="">
    </div>
    <div class="dropdown-ul o-notification display-block">
        <div class="dropdown-li row no-gutters">
            <div class="notify-type col-2 ">
                <div class="notify-icon">
                    <span class="notify-dot new"></span>
                    <img src="images/announcement.png" alt="">
                </div>
            </div>
            <div class="notify-text col-10">Please hard refresh (Ctrl + Shift + R) your web app to make sure that you are on latest version of the app. We just deployed some major changes so that might be causing
                issues for you.</div>
        </div>

        <div class="dropdown-li row no-gutters">
            <div class="notify-type col-2 ">
                <div class="notify-icon">
                    <span class="notify-dot new"></span>
                    <img src="images/announcement.png" alt="">
                </div>
            </div>
            <div class="notify-text col-10">Please hard refresh (Ctrl + Shift + R) your web app to make sure that you are on latest version of the app. We just deployed some major changes so that might be causing
                issues for you.</div>
        </div>

        <div class="dropdown-li row no-gutters">
            <div class="notify-type col-2 ">
                <div class="notify-icon">
                    <span class="notify-dot new"></span>
                    <img src="images/announcement.png" alt="">
                </div>
            </div>
            <div class="notify-text col-10">Please hard refresh (Ctrl + Shift + R) your web app to make sure that you are on latest version of the app. We just deployed some major changes so that might be causing
                issues for you.</div>
        </div>

        <div class="dropdown-li row no-gutters">
            <div class="notify-type col-2 ">
                <div class="notify-icon">
                    <span class="notify-dot new"></span>
                    <img src="images/announcement.png" alt="">
                </div>
            </div>
            <div class="notify-text col-10">Please hard refresh (Ctrl + Shift + R) your web app to make sure that you are on latest version of the app. We just deployed some major changes so that might be causing
                issues for you.</div>
        </div>
    </div>
</li>
