<div class="all-center h-100">
    <div class="w-60 t-align-c">
      <div class="extra-bold font-superlarge" style="font-size: 10rem">404</div>
      <div class="light subheading font-xl">Page not found. <a class="orange" href="/courses"> Click here to explore our courses </a> </div>

      <img src="https://minio.codingblocks.com/amoeba/404-image-min.png" alt="404" class="mt-1">
    </div>
  </div>