<div class="home-vh">
  <div class="home-container">
    <div class="home-heading d-flex justify-content-center">
      &lt; 404: The page you're looking for doesn't exist! /&gt;
    </div>
    <div class="row justify-content-center">
      <p>Seems like you're lost! You can find the courses we have to offer {{#link-to 'courses'}}<span style="color:#ff6666;">here.</span>{{/link-to}}</p>
    </div>
  </div>
</div>
