<div class="height-100 w-100 d-flex flex-row justify-content-center flex-column loader-height">
  <div class="lds-ellipsis">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
</div>

{{yield}}