<div class='element-wrapper'>
  <div class='element'></div>
  <div class='element'></div>
  <div class='element'></div>
  <div class='loading'>Loading…</div>
  <div class='large-square'></div>
</div>
{{yield}}