<div class="c-doubt">
  {{#if recent}}
    Hi
  {{else}}
  <div class="d-flex head">
    <div class="heading-u mr-auto">
      Ask your doubts ({{topic_list.topics.length}})
    </div>
    <a href="{{redirectLink}}" target="_blank">
        <div class="button-solid right-head-button">
            <button>Discussion Forum</button>
        </div>
    </a>
  </div>

  <div class="row doubts-box">
    <div class="col-12">
      {{#each topic_list.topics as |topic|}}
        {{doubt-view topicId=topic.id}}
      {{/each}}
    </div>
  </div>
  {{/if}}
</div>
