.o-announcement{
  background-color: $nav-border;
  padding-top: 40px;
  
  .accordian-ul{
    @include margin(0,auto, 17px, auto);
    max-width: 88%;
  }

  .accordian-li{
    @include padding-mixin(52px, 152px, 55px, 58px);
    height: auto;
  }

  .accordian-head{
    @include padding-mixin(0, 54px, 0, 43px);
    height: 79px;
  }

  .round-img{
    @include margin(0, 24px, 0, 0);
    @include dimensions(50px, 50px);
  }

  .accordian-collapsar{
    @include margin(0, 83px, 0, 0);
  }

  .heading-u{
    font-size: $font-md;
    padding-bottom: 20px;
    @include margin(0, 0, 55px, 6%);
  }

  .heading-d{
    @include margin(0,0,0,0);
  }

  .main-h{
    @include margin(0, 0, 13px, 0);
    color: $global-font-text-color;
    font-size: $font-sm;
    font-weight: $font-normal;
    margin-bottom: 2px ;
  }

  .sub-h{
    color: $default-accordian-font;
    font-size: 1rem;
    font-weight: $font-normal;
  }

  .classroom-para{
    @include margin(0,0,0,0);
    font-size: $font-sm;
  }

  .notify-icon{

    .notify-dot {
      width: 5px;
      height: 5px;
    }
    img {
      width: 41px;
    }
  }

  .button-dashed{
    @include dimensions(265px, 88px);
    @include margin(80px, auto, 0, auto);
    background: transparent;
    font-size: $font-xl;
    border-radius: 44px;
  }

}