{{head-layout}}
{{#if hideNav}}
  {{outlet}}
{{else}}
  <NavBar />
  <SideNav />
  <div class="ml-sidenav">
    <div class="row justify-content-center mx-0">
      <div class="w-100">
        <cb-navbar topalign="right"></cb-navbar>
      </div>
      <div class="pt-4 container-fluid content-container">
        {{outlet}}
      </div>
    </div>
  </div>
{{/if}}
