{{head-layout}}
{{#if hideNav}}
  {{outlet}}
{{else}}
  <NavBar />
  <SideNav />
  <div class="offset-1">
    <cb-navbar topalign="right" />
  </div>

  <div class="ml-sidenav">
    <div class="row justify-content-center mx-0">
      <div class="pt-4 container-fluid content-container">
        {{outlet}}
      </div>
    </div>
  </div>


{{/if}}
