<div class="p-5">
  <div class="row justify-content-center">
    <div>
      <FaIcon @icon="lock" @size="3" />
    </div>
  </div>
  <div class="mx-auto">
    <h2 class="my-3 t-align-c">Course Access Paused</h2>
    <p class="mt-3  t-align-c">You paused this course on {{moment-format runAttempt.lastPausedAt 'DD MMM YY HH:mm'}}. You must resume it before continuing</p>
  </div>
  <div class="row justify-content-center">
    <div class="mt-3">
      <button class="button-orange button-solid" {{action "unpauseRunAttempt"}}>UnPause</button>
    </div>
  </div>
</div>