@media all and (max-width:767px){
  .o-overview-recent{
    .card{
      height: 470px;
    }

    .card-text{
      font-size: $global-font-size;
    }

    .heading, .pull-right{
      font-size: $font-sm;
    }

    .notify-dot{
      @include dimensions(8px, 8px);
    }

    .card-content {
      max-height: 75%;
    }
  }
}