{{#each (range 1 6) as |index|}}
  <span class="{{if (lte index course.rating) 'pos-rating' 'neg-rating'}}">
    <i class="fas fa-star"></i>
  </span>
{{/each}}
<span class="edit-rating">{{course.rating}}</span>
<br>

{{#if reviewReq}}
  {{users}} Reviews
{{/if}}
