<!--showValue: {type: bool, description: to show total number of reviews}-->
{{#each (range 1 6) as |index|}}
   <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/star_{{if (lte index rating) 'filled' 'unfilled'}}.svg" alt="" class="mr-1">
{{/each}}

{{#if showValue}}
  <span class= "edit-rating">{{rating}}</span>
{{/if}}
