<!--showValue: {type: bool, description: to show total number of reviews}-->
{{#each (range 1 6) as |index|}}
  <span class="{{if (lte index rating) 'orange'}}">
    <FaIcon @icon="star" class="mr-1" />
  </span>
{{/each}}

{{#if showValue}}
  <span class= "edit-rating">{{rating}}</span>
{{/if}}
