<!--reviewCount: {type: bool, description: to show total number of reviews}-->

{{#each (range 1 6) as |index|}}
  <span class="{{if (lte index course.rating) 'pos-rating' 'neg-rating'}}">
    <i class="fas fa-star"></i>
  </span>
{{/each}}
<span class="rating">{{course.rating}}</span>
<br>
<br>
{{#if reviewCount}}
  {{users}} Reviews
{{/if}}
