<div class="c-cc">
{{outlet}}
  <div class="banner mb-4">
    <img src="/images/bannner.jpg" alt="">
  </div>

  <div class="container">
    <div class="d-flex justify-content-between align-items-center font-md bold">
      <div>Welcome Brother</div>
      <div>
        <span class="gradient-red-blue pr-4">
          Your Winnings: INR {{userWinnings}}
        </span>
        <button class="button-solid btn-grad-red-blue">Use Now</button>
      </div>
    </div>

  </div>
</div>