.notify-type{
  @include  flexbox(row);
  align-items: flex-start;
  flex: none;
}

.notify-icon{
  width: 40px;
}


.notify-dot{
  @include dimensions(10px, 10px);
  @include border-radius(50%);
  background-color: $button-element-level;
  display: none;
  position: relative;
  left: 100%;
}

.new{
  display: block;
}

.notify-text{
  font-size: $font-xs;
  color: $white;
}