.tab-nav{
  @include dimensions(100%, 100px);
  @include flexbox(row);
  background-color: $global-font-heading-color;
  color: $white;
  font-size: $font-md;
  font-weight: $font-medium;
  justify-content: space-around;
}

.tab-icons, .tab-items{
  cursor: pointer;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.tab-items{
  display: flex;

  &:hover{
    color: $button-element-level;
  }
}

.tab-icons{
  display: none;
  padding: 0 8%;
}

.active{
  border-bottom: solid 4px $button-element-level;
  color: $button-element-level;
}