.content-icon {
  width: 29px;
  height: 29px;
  background-size: 29px;
}

.play-icon-green {
  background-image: url("/images/video-green.png");
}

.play-icon-red {
  background-image: url("/images/video-red.png");
}

.file-icon-green {
  background-image: url("/images/file-green.png");
}

.file-icon-red {
  background-image: url("/images/file-red.png");
}

.code-icon-green {
  background-image: url("/images/code-green.png");
}

.code-icon-red {
  background-image: url("/images/code-red.png");
}
