

.expert-level {
  @include border-radius(50%);
  @include dimensions(30px,30px);
  border: 6px solid $button-element-level;
  margin: 0 auto;
  position: relative;
}

.expert-text {
  font-size: 13px;
  margin: 2px auto 0;
}

.advanced-level {
  @include border-radius(50%);
  @include dimensions(30px,30px);
  border: 6px solid $intermediate-level;
  margin: 0 auto;
  position: relative;
}

.advanced-text {
  font-size: 13px;
  margin: 2px auto 0;
}

.beginner-level {
  @include border-radius(50%);
  @include dimensions(30px,30px);
  border: 6px solid $status-front-complete;
  margin: 0 auto;
  position: relative;
}

.beginner-text {
  font-size: 13px;
  margin: 2px auto 0;
}