#mentors {
  @include dimensions(50px, 50px);
  @include border-radius(50%);
  position: relative;
  display: inline-block;
  background-color: $card-mentor;
}

.card-mentor-image {
  display: inline-block;
  position: relative;
  min-width: 51.53px;
}

@for $i from 0 through 2 {
  .card-mentors:nth-child(#{$i+1}) {
    @extend #mentors;
    z-index: 100 - $i;
    margin-left: - multiply-px($i,20px);
  }
}

.card-mentor-text {
  display: inline-block;
  font-size: $card-md;
  position: relative;
  top: -6px;
  padding-left: 10px;
}

.card-mentor-name {
  overflow: hidden;
  font-size: $font-sm;
}

.card-mentor-divider {
  border: .5px solid $card-mentor;
  margin: 20px 0;
}