.main-nav {
  border-bottom: 1px solid $nav-border;
  padding: 20px;
  position: fixed;
  top:0;
  background: $white;
  width: 100%;
  height: 90px;
  max-height:100px;
  z-index: 200;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-list{
  margin:  0;
  display: flex;
  align-items: center;
}

.nav-items {
  @include font($global-font-family, $global-font-size, $global-font-weight);
  display: inline-block;
  @include margin(null, 40px, null, null);
  text-transform: uppercase;
  position: relative;
}

.nav-items:hover {
  color: $button-gradient;
}

.nav-search{
  width: 350px;
}

.nav-logo {
  height: 50px;
}

.pointer:hover {
  cursor: pointer;
  color: $navLink;
}

.pointer {
  .notify-dot {
    position: absolute;   
  }
}

.active {
  color: $button-element-level;
}

.logo-parent{
  text-align : center;
}

.nav-right, .nav-left{
  display: flex;
  align-items: center;
}