nav {
  border-bottom: 1px solid $nav-border;
  padding: 10px;
  position: fixed;
  top:0;
  background: $white;
  width: 100%;
  max-height:100px;
  z-index: 101;
}
.nav-list {
  @include float(right);
}

.nav-items {
  @include font($global-font-family, $global-font-size, $global-font-weight);
  display: inline-block;
  @include margin(null, 40px, null, null);
  text-transform: uppercase;
}

.nav-items:hover {
  color: $button-gradient;
}


.nav-logo {
  height: 50px;
  @include margin(12px, null, null, 28px);
}

.nav-search{
  float: right;
  margin-top: 10px;
}

.pointer {
  color: $navLink;
}

.pointer:hover {
  cursor: pointer;
  color: $global-font-text-color;
}

.active {
  color: $button-gradient;
}
