%pill{
  @include width-fit();
  @include border-radius(17px);
  @include flexbox(row);

  background-color: $otp-input-bg;
  align-items: center;
  cursor: default;
}

.pill-sm{
  @extend %pill;
  @include padding-s(0, 12px);

  font-size: $card-sms;
  height: 17px;
}

.pill{
  @extend %pill;
  @include padding-s(0, 20px);

  font-size: $card-md;
  height: 35px;
}

.pill-lg{
  @extend %pill;
  @include padding-s(0, 30px);
  @include border-radius(30px);

  font-size: $font-sm;
  height: 45px;
}

