#mentors {
  @include dimensions(34.5px, 34.5px);
  @include border-radius(50%);
  position: relative;
  display: inline-block;
  background-color: $card-mentor;
}
.card-mentor {
   padding-bottom: 10px;
}

.card-mentor-image {
  display: inline-block;
  top: -15px;
  position: relative;
}
@for $i from 0 through 2 {
  .card-mentors:nth-child(#{$i+1}) {
    @extend #mentors;
    z-index: 100 - $i;
    margin-left: - multiply-px($i,20px);
    opacity: 1 - multiply-px($i,.5);
  }
}

.card-mentor-text {
  display: inline-block;
  margin-left: 20px;
  width: 161px;
}

.card-mentor-name {
  margin-top: 7.5px;
}

.card-mentor-divider {
  border: .5px solid $card-mentor;
  margin-left: -19.5px;
}