#mentors {
  @include dimensions(50px, 50px);
  @include border-radius(50%);
  position: relative;
  display: inline-block;
  background-color: $card-mentor;
}
.card-mentor {
   padding-bottom: 10px;
   max-height: 67px;
   margin-top: 37px;
   margin-bottom: 25px;
}

.card-mentor-image {
  display: inline-block;
  position: relative;
  min-width: 51.53px;
}
@for $i from 0 through 2 {
  .card-mentors:nth-child(#{$i+1}) {
    @extend #mentors;
    z-index: 100 - $i;
    margin-left: - multiply-px($i,20px);
    opacity: 1 - multiply-px($i,.5);
  }
}

.card-mentor-text {
  display: inline-block;
  margin-left: 20px;
  font-size: 14.1px;
  position: relative;
  top: -6px;
}

.card-mentor-name {
  max-height: 25px;
  overflow: hidden;
  font-size: 17.1px;
}

.card-mentor-divider {
  border: .5px solid $card-mentor;
}