.links{
  @include margin(50px, 0, 0, 0);
}

.auth-link{
  margin-right: 12%;
  font-size: $font-xs;
  font-weight: 600;
  text-align: center;
}

.facebook{
  background: $facebook;
}

.google{
  background: $google;
}

.twitter{
  background: $twitter;
}

.github{
  background: $global-font-text-color;
}