%bold {
  font-weight: $font-medium;
}

// Heading with Sub-Description
.heading-d{
  @include margin(0,0, 25px, 0);
}

.main-h{
  font-size:$font-md;
  @extend %bold;
  color: $global-font-text-color;
}

.sub-h{
  font-size: $font-sm;
  @extend %bold;
  color: $font-sub-heading;
}


//Heading with Underline
.heading-u{
  @include padding-mixin(0, 60px, 22px, 0);
  @include margin(0, 0, 49px, 0);
  border-bottom: solid 1px $global-font-text-color;
  color: $global-font-text-color;
  font-size: $font-md;
  @extend %bold;
  display: inline-block;
}

.heading-u-red{
  @include padding-mixin(0, 114px, 25px, 0);
  @include margin(0,0, 59px, 0);
  display: inline-block;
  font-size: $font-md;
  border-bottom: solid 3px $button-element-level;
  color: $button-element-level;
  @extend %bold;
}

//Heading Uppercase
.heading-U{
  text-transform: uppercase;
  font-size: $font-sm;
  @extend %bold;
}

//Heading Bold/Capitalized
.heading{
    @extend %bold;
    text-transform: capitalize;
    font-size: $font-md;
}
