

.expert-level {
  @include border-radius(50%);
  @include dimensions(30px,30px);
  border: 6px solid $button-element-level;
  position: absolute;
  top: 30px;
  left: 345px;
}

.expert-text {
  font-size: 13px;
  left: 343px;
  margin-top: 2px;
  position: absolute;
  top: 60px;
}