.content-icon {
  width: 39px;
  height: 39px;
  background-size: 39px;
  background-repeat: no-repeat;
}

.play-icon-green {
  background-image: url("/images/video-green.png");
}

.play-icon-red {
  background-image: url("/images/video-red.png");
}

.file-icon-green {
  background-image: url("/images/file-green.png");
}

.file-icon-red {
  background-image: url("/images/file-red.png");
}

.code-icon-green {
  background-image: url("/images/code-green.png");
}

.code-icon-red {
  background-image: url("/images/code-red.png");
}

.play-icon-green-dark {
  background-image: url("/images/video-green-dark.png");
}

.play-icon-red-dark {
  background-image: url("/images/video-red-dark.png");
}

.file-icon-green-dark {
  background-image: url("/images/file-green-dark.png");
}

.file-icon-red-dark {
  background-image: url("/images/file-red-dark.png");
}

.code-icon-green-dark {
  background-image: url("/images/code-green-dark.png");
}

.code-icon-red-dark {
  background-image: url("/images/code-red-dark.png");
}
