

.expert-level {
  @include border-radius(50%);
  @include dimensions(30px,30px);
  border: 6px solid $button-element-level;
  margin: 0 auto;
}

.expert-text {
  font-size: 13px;
  vertical-align: middle;
  text-align: center;
}

.advanced-level {
  @include border-radius(50%);
  @include dimensions(30px,30px);
  border: 6px solid $intermediate-level;
 margin: 0 auto;
}

.advanced-text {
  font-size: 13px;
  vertical-align: middle;
  text-align: center;
}

.beginner-level {
  @include border-radius(50%);
  @include dimensions(30px,30px);
  border: 6px solid $status-front-complete;
  margin: 0 auto;
}

.beginner-text {
  font-size: 13px;
  vertical-align: middle;
  text-align: center;
}
