.card-layout {
  margin-top: 30px;
}

.card {
  height: 500px;
  box-shadow: 0 20px 57px 0 $card-box-shadow;
  background: $white;
}

.card-text {
  font-size: $global-font-size;
  color: $global-font-text-color;
  overflow: hidden;
}

.card-heading {
  overflow: hidden;
  @include font($global-font-family, $font-mds, 300);
  color: $global-font-heading-color;

}

.card-image {
  width: 17%;
}

.grid-background {
  background-color: #f6f6f6;
  padding: 5%;
}