.input-search {
  display: flex;
  @include dimensions(375px, 57px);
  background-color: $search-box-color;
  @include border-radius(28px);
  position: relative;
}

.input-search > input {
  @include dimensions(78%,100%);
  border: none;
  background-color: transparent;
  font-size: $font-sm;
  position: absolute;
  left: 28px;
}

.input-search > img {
  width: 23px;
  height: 23px;
  top: 30%;
  left: 89%;
  position: absolute;
}