.card {
  @include dimensions(283px, 328px);
  box-shadow: 0 20px 57px 0 $card-box-shadow;
  border: solid .5px $card-box-border;
  background: $white;
}

.card-text {
  @include dimensions(181px,53px);
  @include font(Effra-Regular, 15.8px, 300);
  color: $global-font-text-color;
}

.card-heading {
  @include dimensions(179px, unset);
  @include font(Effra-Regular, 20.1px, 300);
  color: $global-font-heading-color;

}

.card-image {
  @include dimensions(58.5px, 65.5px);
}
