.tab-nav{
  @include flexbox(column);
  @include dimensions(100%, 100px);
  @include padding-mixin(0, 60px, 0, 60px);
  justify-content: center;
  background-color: $global-font-heading-color;
  color: $white;
  font-size: $font-md;
  font-weight: $font-medium;
}

.tab-list{
  @include flexbox(row);
  justify-content: space-around;
}

.tab-items{
  cursor: pointer;
  &:hover{
    color: $button-element-level;
  }
}

.tab-icons{
  display: none;
}

.active{
  border-bottom: solid 2px $button-element-level;
  color: $button-element-level;
}