.notify-type{
  @include  flexbox(row);
  align-items: flex-start;
  flex: none;
  position: relative;
}

.notify-icon{
  width: 20px;
}


.notify-dot{
  @include dimensions(6px, 6px);
  @include border-radius(50%);
  background-color: $button-element-level;
  display: none;
  position: absolute;
  left: 100%;
  top: -7px;
}

.new{
  display: block;
}

.notify-text{
  font-size: $font-sm;
  color: $white;
  position: relative;
}