
.circle-back{
  @include dimensions(113px, 113px);
  @include border-radius(50%);
  background: $course-progress-circle-front;
  margin-left: -16px;
}

.circle-front{
  @include dimensions(86px, 84px);
  @include border-radius(50%);
  margin: 0 auto;
  transform: translateY(18%);
  background: $button-gradient;
}

.progress-text {
  transform: translateY(65%);
  color: $white;
  @include textalign(center);
}
