.input-search {
  display: flex;
  @include dimensions(494px, 77px);
  background-color: $search-box-color;
  @include border-radius(38px);
  position: relative;
}

.input-search > input {
  @include dimensions(78%,100%);
  border: none;
  background-color: transparent;
  font-size: 27px;
  position: absolute;
  left: 28px;
}

.input-search > img {
  width: 40px;
  height: 40px;
  top: 25%;
  left: 86%;
  position: absolute;
}