
%button-text {
  @include font('Effra', $global-font-size, inherit);
  @include textalign(left);
}

@each $type,$width, $height, $border-radius,$background, $color
        in
  (dashed,
  $dashed-button-width,
  $dashed-button-height,
  $dashed-border-radius,
  $dashed-button-background,
  $dashed-button-color),

  (solid,
  $solid-button-width,
  $solid-button-height,
  $solid-button-border-radius,
  $button-gradient,
  $solid-button-color) {

  .button-#{$type} {
    @extend %button-text;
    @include dimensions($width, $height);
    @include border-radius($border-radius);
    background: $button-gradient;
    color: $color;
  }
}

