.card-price-details {
  display: inline-block;
  padding-right: 18px;
  max-height: 70px;
}

.card-batches {
  font-size: 17.1px;
  margin-bottom: 5px;
}

.card-batch-details {
  display: inline-block;
  font-size: 19.1px;
  span {
    color: red;
  }
}
