.o-otp-enroll{
  @include dimensions(100%, auto);
  @include padding-s(15px, 50px);
  background: $nav-border;
  font-size: $global-font-size;
  font-weight: $font-medium;

  .input-search{
    @include border-radius(37px);
    background-color: $otp-input-bg;
    width: 100%;
    max-width: 365px;
    float: right;
  }

  .button-solid{
    font-size: $global-font-size;
    font-weight: $font-medium;
    max-width: 125px;
    float: right;
  }

  .red{
    color: $button-element-level;
  }

  .text-center {
    text-align: center;
  }

  p{
    margin: 0;
  }

  .p-1 {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .row{
    padding:  0;
  }
}
