.o-otp-enroll{
  @include dimensions(100%, auto);
  background: $nav-border;
  font-size: $global-font-size;
  font-weight: $font-medium;
  @include padding-mixin(20px, 0px, 20px, 40px);

  .input-search{
    @include dimensions(100%, 60px);
    @include border-radius(37px);
    background-color: $otp-input-bg;
    max-width: 365px;
    float: right;
  }

  .button-solid{
    @include dimensions(100%, 60px);
    font-size: $global-font-size;
    font-weight: $font-medium;
    max-width: 178px;
    float: right;
  }

  .red{
    color: $button-element-level;
    margin-top: 10px;
  }

  .text-center {
    text-align: center;
  }

  p{
    margin: 0;
  }

  .p-1 {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
