<div class="card accordion-card mt-5 mb-5">
  <div class="c-accordion c-announcement">
    <div class="list-divided border-none">
      {{#unless announcements.length}}
        <div class="classroom-para">
          All announcements related to course will be shared here !
        </div>
      {{/unless}}
      {{#each announcements as |announcement|}}
      <div class="list-divided border-none">
        {{#accordion-head announcement=announcement course=course}}
        <div class="row no-gutters">
          <div class="classroom-para col-12 grey i">
            {{markdown-to-html announcement.text}}
          </div>
        </div>
          
        {{/accordion-head}}
      </div>
      {{/each}}
      
      <div id="an-load-more" class="button-dashed {{if (and visible announcements) '' 'display-none'}}">
        <button onclick={{action 'updatePage'}}>Load More</button>
      </div>
    </div>
  </div>
</div>
