<div class="o-announcement">
    <div class="heading-u">
		Announcements ({{run.announcements.length}})
    </div>
	{{#each run.announcements as |announcement|}}
		<div class="accordian-ul" data-show="true">
			{{#accordian-head announcement=announcement course=course}}
			<div class="accordian-li">
				<div class="classroom-para">
					{{announcement.text}}
				</div>
			</div>
			{{/accordian-head}}
		</div>
	{{/each}}

    <div class="button-dashed">
        <button>Load More</button>
    </div>
</div>
