<div class="row justify-content-center">
  <i class="fas fa-lock fa-4x grey"></i>
</div>
<div class="row justify-content-center">
  <h2 class="white">
    Please verify your email or mobile phone to get started
  </h2>
</div>
<div class="row justify-content-center my-2">
  <a class="button-solid mr-3" href="https://account.codingblocks.com/users/me"> Verify Email </a>
  <button class="button-solid" {{action "retryLogin"}}>Retry</button>
</div>