<div class="border-card border-none mb-5 bg-grey-darker">
  <span class="font-sm bold white">
    Compilation Successfull
  </span>
  {{#if output}}
    <div class="mt-3 bg-grey p-4">
      {{output}}
    </div>
  {{/if}}
</div>