<div class="border-card border-none mb-5 bg-grey-darker">
  <span class="font-sm bold white">
    Compilation Successfull
  </span>
  {{#if output}}
    <pre class="mt-3 bg-black-lighter p-4">{{output}}</pre>
  {{/if}}
</div>