<div class="border-card border-none mb-5" style="background-color: #292c33 ;">
  <span class="font-sm bold white">
    Compilation Successfull
  </span>
  {{#if output}}
    <div class="mt-3 bg-grey">
      {{output}}
    </div>
  {{/if}}
</div>