<div class="row justify-content-center">
  <i class="fas fa-lock fa-4x grey"></i>
</div>
<div class="row justify-content-center">
  <h2 class="white">Your course will start on {{run.startString}}</h2>
</div>