<div class="row justify-content-center">
  <FaIcon @icon="lock" @size="3" />
</div>
<div class="row justify-content-center my-3">
  <h2 class="white">Your course will start on {{moment-format (unix @run.start) "Do MMM, YYYY"}}</h2>
</div>