<div class="row justify-content-center">
  <FaIcon @icon="lock" @size="3" />
</div>
<div class="row justify-content-center">
  <h2 class="white">Your course will start on {{run.startString}}</h2>
</div>