{{#content-placeholders rounded=true as |placeholder|}}
  <div class="px-5 pt-5 position-relative">
    <div class="track-indicator complete">&#8226;</div>
    <div class="normal"></div>
    <div class="row align-items-center my-5">
      <div class="col-md-6 col-12 mb-md-0 mb-3">
            {{placeholder.heading img=true}}
      </div>
      <div class="col-md-3 col-6">
        
      </div>
      <div class="col-md-3 col-6">
         <button class="button-solid button-placeholder">
            {{placeholder.img}}
          </button>
      </div>
    </div>
    
    {{placeholder.text}}
  </div>
  <div class="divider-h content-divider mt-5 pl-5"></div>
{{/content-placeholders}}