.nav-list {
   li {
     display: inline-block;
   }
}

.nav-items {
  .button-solid {
    width: 110px;
  }

  .notify-dot{
    @include dimensions(8px, 8px);
  }

  .notify-icon{
    transform: translateY(13px);
  }
}

.main-nav{
  .nav-list {
    margin-top: 21px;
  }
  
  .round-img{
    @include dimensions(50px, 50px);
    margin: 5px 10px 0 0;
    float: right;
    cursor: pointer;
  }

  .round-img:hover{
      & + .card{
        display: block;
      }
  }

  .card{
    @include dimensions(300px, auto);
    @include padding-s(0, 40px);
    background-color: $nav-info-bg;
    display: none;
    position: absolute;
    right: 10px;

    &:hover{
      display: block;
    }

    .top-offset{
      @include dimensions(100%, 30px);
      position: absolute;
      top: -30px;
      background: transparent;
    }
  }

  .nav-info{
    .separator{
      float: right;
    }
  }
}