.nav-list {
   li {
     display: inline-block;
   }
}

.nav-items {
  .button-solid {
    width: 110px;
  }

  .notify-dot{
    @include dimensions(8px, 8px);
  }
}

.main-nav{
  .hamburger-parent {
    display: none;
  }
  
  .nav-search{
    width: 350px;
  }
  
  .nav-list {
    margin-top: 0;
  }
  
  .round-img{
    @include dimensions(40px, 40px);
    cursor: pointer;
    margin-left: 40px;
  }

  .round-img:hover{
      & + .card{
        display: block;
      }
  }

  .card{
    @include dimensions(300px, auto);
    @include padding-s(0, 40px);
    background-color: $nav-info-bg;
    display: none;
    position: absolute;
    right: 10px;
    top: 90%;

    &:hover{
      display: block;
    }

    .top-offset{
      @include dimensions(100%, 30px);
      position: absolute;
      top: -30px;
      background: transparent;
    }
  }

  .nav-info{
    .separator{
      float: right;
    }
  }
}

.search-box{
  .font-sm{
    font-size: $card-sm;
  }
}