.nav-list {
   li {
     display: inline-block;
   }
}

.nav-items {
  .button-solid {
    width: 110px;
  }

  .notify-dot{
    @include dimensions(8px, 8px);
  }

  .notify-icon{
    transform: translateY(13px);
  }
}