.o-content-section{
    background-color: $vp-background;
    height: 100vh;//set according to height of navbar;
    margin-top: -70px;

    .header{
        @include dimensions(100%, 100%);
        max-height: 80px;
        border-bottom: solid 1px $vp-border;
        font-size: $font-sm;
    }

    .section-toggler{
        @include dimensions(22%, 100%);
        min-width: 20%;
        justify-content: center;
        border-right: 1px solid $vp-border;
    }

    .dashboard{
        @include dimensions(78%, auto);
        padding-left: 40px;
    }

    .button-dashed{
        @include dimensions(180px, 43px);
        @include border-radius(27px);
        background-color: $vp-background;
        color: $white;
        font-size: $font-sm;
        max-width: 239px;
    }

    .heading-d{
        @include margin(0,0,0,0);
        flex: none;
    }

    .main-h, .sub-h{
        font-size: $font-sm;
        font-weight: $font-normal;
    }

    .main-h{
        @include margin(0,0,0,0);
        color: $white;
    }

    .sub-h{
        color: $faded-text;
    }

    .button-solid{
        @include dimensions(100%, 44px);
        text-align: center;
        font-size: $font-sm;
        max-width: 175px;
        overflow: hidden;
    }

    .notify-text{
        cursor: pointer;
        margin-left: 20%;
    }

    .new{
        @include dimensions(8px, 8px);
    }

    .content-section{
        position: relative;
        height: calc(100% - 80px);//set according to .lecture-header;
        overflow: hidden;
    }

    .section{
        @include dimensions(22%, 100%);
        overflow-y: auto;
        border-right: solid 1px $vp-border;
        background-color: $vp-background;
        transition: all 0.35s ease;

        &.collapse {
            transform: translateX(-40%);
        }

        &::-webkit-scrollbar{
            display: none;
        }
    }

    .section-collapsor{
      display: none;
      height: 60px;
      cursor: pointer;
      font-size: $global-font-size;
      padding-left: 8%;
      padding-right: 4%;
    }

    .content{
        @include dimensions(100%, 100%);
        position: absolute;
        top: 0;
        right: 0;
        background: $vp-background;
        transition: all 0.35s ease;
        z-index: 100;

        &.collapse{
            right: 0;
            width: 78%;
        }
    }

}
