.o-code-editor{
  width: 70%;
  height: 100%;
  float: left;
  position: relative;
}

#editor{
  @include dimensions(100%, 60%);
  font-size: $font-xs;
  background: $editor-background;

  .ace_gutter-layer{
    background: $editor-line-number;
    color: $white;
  }
}

.editor-options{
  @include dimensions(100%, 100px);
  max-height: 100px;
  background-color: $global-font-text-color;
  padding-left: 18px;
  padding-right: 30px;

  .select-box {
    background: $editor-line-number;
    text-indent: 25px;
    width: 221px;
    height: 61px;
    color: $white;
    display: flex;
    align-items: center;

     span {
       float:right;
     }
  }

  .open-select-box {

    margin-bottom: 4px;
    position: absolute;
    background: $editor-line-number;
    color: white;
    width: 221px;
    display: none;
    border-top: 1px solid gray;
    z-index: 100;
    ul {
      padding-left: 25px;
      li {
        padding-bottom: 10px;
      }
    }

    .show-block {
      display: block
    }
  }

  .button-solid{
    @include dimensions(140px, 45px);
  }
}

.options-result{
  @include dimensions(100%, 40%);
}

.result {
  @include dimensions(100%, calc(100% - 100px));

  .button-solid {
    @include dimensions(100px, 40px);
    font-size: 1rem;
    float: right;
  }

  .row {
    padding:0;
  }

  &>.row{
    height: 100%;
  }
}

#dragger-ce-rs{
  @include dimensions(100%, 10px);
  position: absolute;
}


.output {
  background-color: $editor-line-number;
}

.input {
 background-color: #2a2a2a;
}

.output, .input {
  height: 100%;
  padding-top: 22px;

  .heading {
    p {
      font-size: 1rem;
      color: $white;
    }

    span {
      color: $button-element-level;
      font-size: 1rem;
    }
  }
   .input-box {
     padding-top: 10px;
     color: #ccc;
     font-size: 1rem;
     max-height: 100%;
     overflow-y: scroll;
   }

  .row:nth-child(2) {
    height: calc(100% - 85px);
    margin-top: 20px;
  }
}