.o-content-section{
    background-color: $vp-background;
    height: calc(100vh - 100px);//set according to height of navbar;

    .header{
        @include dimensions(100%, 100%);
        max-height: 90px;
        border-bottom: solid 1px $vp-border;
    }

    .section-toggler{
        @include dimensions(20%, 100%);
        min-width: 20%;
        justify-content: center;
        border-right: 1px solid $vp-border;
    }

    .dashboard{
        @include padding-mixin(0, 27px, 0, 44px);
        @include dimensions(80%, auto);
        justify-content: space-between;
    }

    .button-dashed{
        @include dimensions(211px, 48px);
        @include border-radius(27px);
        background-color: $vp-background;
        color: $white;
        font-size: $font-xs;
        max-width: 239px;
    }

    .heading-d{
        @include margin(0,0,0,0);
        flex: none;
    }

    .main-h, .sub-h{
        font-size: $font-xs;
        font-weight: $font-normal;
    }

    .main-h{
        @include margin(0,0,0,0);
        color: $white;
    }

    .sub-h{
        color: $faded-text;
    }

    .button-solid{
        @include dimensions(233px, 55px);
        @include margin(0, 0, 0, 33px);
        text-align: center;
        font-size: $font-xs;
        max-width: 233px;
    }

    .notify-text{
        cursor: pointer;
    }

    .new{
        @include dimensions(8px, 8px);
    }

    .content-section{
        position: relative;
        height: calc(100% - 90px);//set according to .lecture-header;
        overflow: hidden;
    }

    .section{
        @include dimensions(20%, 100%);
        overflow-y: auto;
        border-right: solid 1px $vp-border;
        background-color: $vp-background;
        transition: all 0.35s ease;

        &.collapse {
            transform: translateX(-40%);
        }

        &::-webkit-scrollbar{
            display: none;
        }
    }

    .content{
        @include dimensions(100%, 100%);
        position: absolute;
        top: 0;
        right: 0;
        background: $vp-background;
        transition: all 0.35s ease;

        &.collapse{
            right: 0;
            width: 80%;
        }
    }

}

