.o-document {
	height: 100%;
	position: relative;
	background-color: white;
	padding: 2%;
	overflow: auto;

	.button-solid {
		margin-left: 0;
	}

	.heading {
		padding: 0.75%;
	}

	.float-right {
		float: right
	}
}