.o-pb-submissions{
  padding: 8%;

  .card{
    height: auto;
    max-width: 440px;
    margin: 25px auto;
    position: relative;
    padding-top: 10px;
    padding-bottom: 20px;
  }

  .circle-container{
    padding-top: 100%;
    position: relative;
  }

  .status-circle{
    position: relative;
  }

  .circle-back{
    @include dimensions(100%, 100%);
    position: absolute;
    top: 0;
  }

  .circle-front{
    @include dimensions(75%, 75%);
    transform: none;
    position: absolute;
    top: 12.5%;
    left: 12.5%;
  }

  .circle-md{
    @include dimensions(75%, 75%);
    margin: 12.5%;
  }

  .circle-sm{
    @include dimensions(100%, 100%);
    max-width: 36px;
    max-height: 36px;
  }

  .progress-text{
    font-size: $font-mds;
    font-weight: $font-medium;
    transform: none;
  }

  .pass{
    background: $font-complete;
  }

  .fail{
    background: $fail-red;
  }

  .para{
    font-size: $global-font-size;
    text-align: center;
  }

  .divider{
    @include dimensions(80%, 2px);
    background: $default-border;
    margin: 9px auto;
    opacity: 0.11;
  }

  .test-cases{
    padding: 10px 7%;
    .para{
      text-align: left;
    }
  }

  .button-solid{
    @include dimensions(46%, 42px);
    margin: 10px auto;
    font-size: $global-font-size;
    max-width: 150px;
  }
}
