.o-pb{
  height: 100%;
  position: relative;
}

.pb-desk{
  @include dimensions(30%, 100%);
  overflow-y: auto;
  background-color: $vp-background;
  transition: transform 0.35s ease;
  background: $white;
  position: relative;
  float: left;

  &.collapse {
    transform: translateX(-40%);
  }

  .tab-nav{
    background: $white;
    font-size: $font-xs;
    font-weight: $font-normal;
    color: $global-font-text-color;
    padding:0;
    box-shadow: 0px 14px 41px 0 rgba(51, 51, 51, 0.1);
    position: sticky;
    top: 0;
    z-index: 100;
  }


  &::-webkit-scrollbar{
    display: none;
  }
}

#dragger-ps-ce{
  @include dimensions(10px, 100%);
  position: absolute;
  top: 0;
  cursor: ew-resize;
  z-index: 20;
}

#dragger-ce-rs{
  @include dimensions(100%, 10px);
  position: absolute;
  cursor: ns-resize;
  z-index: 20;
}