.section{
  color: $white;
  .o-accordian{
    padding-top: 0px;
  }

  .accordian-li, .accordian-status, .accordian-head{
      color: $white;
  }

  .accordian-head{
    @include padding-mixin(0, 19px, 0, 5px);
    background-color: $vp-acc-head;
    min-height: 79px;
    border-bottom: solid 1px $vp-border;
  }

  .accordian-collapsar{
    @include dimensions(39px, 39px);
    @include margin(0, 12px, 0, 0);
  }

  .accordian-ul{
    border: none;
    margin: 0 0;
    max-width: 100%;
  }

  .accordian-li{
    @include padding-mixin(10px, 14px, 10px, 5px);
    border-bottom: solid 1px $vp-border;
    background-color: $vp-background;
    min-height: 79px;
    font-size: $global-font-size;
  }

  .accordian-li-type{
    @include dimensions(39px, 39px);
    margin-right: 12px;
  }

  .accordian-heading, .accordian-status, .main-h, .sub-h{
    font-size: $font-xs;
  }


  .circle-front{
    @include dimensions(29px, 29px);
    transform: translateY(13%);
  }

  .circle-back{
    @include dimensions(37px, 37px);
    margin-left: 20px;
  }

  .li-left{
    width: 70%;
  }

}
