.o-app-page {
  .app-row {
    @include padding-mixin(10px, 0, 10px, 0);
    overflow: hidden;
  }

  button {
    @include margin(0, 0, 20px, 0);
  }
  
  .button-row {
    @include padding-mixin(20px, 60px, 0, 0);
  }

}
