<div class="row font-mds my-5">
  <div class="col-10 col-sm-6 mx-auto t-align-c">
    You are already logged in from somewhere else. <br>
    We only allow one session per user, please logout from other devices and try again.
    
  </div>
</div>


<div class="d-flex all-center my-5">
  <button class="button-solid button-orange" {{action "logoutFromAll"}}>Logout from all devices and Continue</button>
</div>
