<div class="heading t-align-c mb-5">
  Recommended Courses
</div>
<div class="row justify-content-center pt-md-5">
  {{#if fetchRecommendedCoursesTask.isRunning}}
  {{!-- here we can show blank cards to indicate loading --}}
  {{loading-card}}
  {{else}}
  {{#each recommendedCourses as |course|}}
  <div class="c-layout-card col-12 col-md-6 col-lg-3 pr-md-0">
    {{course-card course=course}}
  </div>
  {{/each}} {{/if}}
</div>
