<div class="t-align-c mb-5 font-xl bold">
  Recommended Courses
</div>
<div>
  {{#if fetchRecommendedCoursesTask.isRunning}}
  {{!-- here we can show blank cards to indicate loading --}}
  <LoadingCard class="w-100"/>
  {{else}}
  <CardGrid class="row justify-content-center" as |card|>
    {{#each recommendedCourses as |course index|}}
    <div class="c-layout-card col-12 col-md-6 col-lg-4 pr-md-0">
      {{course-card 
        course=course 
        index=index 
        showPopUp=(eq index card.poppedIndex) 
        onChangePopped=card.changePoppedCard
        organization=organization}}
    </div>
    {{/each}}
  </CardGrid>
  {{/if}}
</div>
