<div class="row">
  {{#each jobs as |job|}}
    <div class="col-12 col-md-6 mb-5">
      <JobCard @job={{job}}/>
    </div>
  {{/each}}
</div>

{{#if fetchJobsTask.lastSuccessful.value.meta.pagination.nextOffset}}
  <button class="row justify-content-center button-solid" {{action "loadMore"}}>
    Load More
  </button>
{{/if}}