<div class="row">
  <div class="col-12 col-md-6 mb-5">
    <JobCard />
  </div>
  <div class="col-12 col-md-6 mb-5">
    <JobCard />
  </div>
  <div class="col-12 col-md-6 mb-5">
    <JobCard />
  </div>
  <div class="col-12 col-md-6 mb-5">
    <JobCard />
  </div>
  <div class="col-12 col-md-6 mb-5">
    <JobCard />
  </div>
  <div class="col-12 col-md-6 mb-5">
    <JobCard />
  </div>
</div>