<header>
       <nav>
           <span>
             {{#link-to 'index' activeClass=''}}
                  <img src="/images/online-logo.png" alt="online-logo" class="nav-logo pointer">
              {{/link-to}}
           </span>

           <ul class="nav-list">
               <li class="nav-items pointer">
                 {{#link-to 'classroom'}}Home{{/link-to}}
               </li>
               <li class="nav-items pointer">
                        {{#link-to 'classroom'}}All
                       Courses{{/link-to}}
               </li>
               {{#if session.isAuthenticated}}
               <li class="nav-items pointer">
                    {{#link-to 'classroom'}}My Courses{{/link-to}}
               </li>
               {{/if}}
               <li class="nav-items pointer">
                 <div class="button-solid">
                    {{#if session.isAuthenticated}}
                        <button onclick={{action 'invalidateSession'}}>Logout</button>
                    {{else}}
                        {{login-button tagName="button"}}
                    {{/if}}
                 </div>
               </li>
           </ul>
           <div class="input-search nav-search">
                <input type="text" placeholder="Search here">
                <img src="/images/searchicon.png" alt="search">
           </div>
       </nav>
   </header>