.o-arrangement {
    justify-content: space-evenly;
    font-size: $font-sm;

    .card {
        @include dimensions(100%, auto);
        @include margin(0, 0, 30px, 0);
        @include padding-mixin(40px, 60px, 40px, 60px);
    }

    .heading-u-red {
        @include padding-mixin(0, 160px, 33px, 0);
        @include margin(0, 0, 30px, 0);
        font-size: $font-mds;
    }

    .button-solid {
        font-size: $font-xs;
        font-weight: $font-medium;
    }

    .row {
        @include padding-mixin(0, 0, 0, 0);
    }    

    .attributes {
        @include margin(0, 0, 10px, 0);
        height: auto;
        justify-content: space-between;
        font-weight: $font-normal;
        
        .flex-row {
          @include padding-mixin(40px, 0, 20px, 0);
          justify-content: space-between;
        }
        
        .detail-row {
            @include margin(0, 0, 20px, 0);
        }
    }

    .input-text {
        @include padding-mixin(0, 20px, 0, 20px);
        height: 70px;
        color: $navLink;
    }

    .dropdown-ul {
        box-shadow: unset;
    }

    .border-card {
        @include padding-mixin(30px, 30px, 120px, 30px);
        @include margin(0, 0, 30px, 0);
        position: relative;
    }

    .button-dashed {
        @include margin(0, 0, 0, 0);
        max-width: 136px;
        min-width: 90px;
        width: 40%;
        font-size: $font-xs;
        font-weight: $font-medium;
    }

    .button-row {
        width: 100%;
        bottom: 40px;
        position: absolute;
    }

    .heading {
        font-size: $font-sm;
    }
}