<div class="d-flex justify-content-between">  
  <div>
    <span class="font-mds">I am a</span>
    <button class="button-solid button-orange ml-3">Student</button>
    <button class="button-solid button-grey">Professional</button>
    <span class="font-mds ml-5">I want to become a</span>
    <select name="" id="" class="ml-3">
      <option value="">Web Developer</option>
      <option value="">Data Scientist</option>
      <option value="">System Architect</option>
    </select>
  </div>
  <div>
    <button class="button-dashed button-orange">Continue &gt;</button>
  </div>
</div>
