<footer class="a-hb">
    <div class="bg-dark-grey white landing-page__footer">
      <div>
        <div class="row no-gutters align-items-center">
          <div class="col-lg-2 col-12">
            <img
              src="https://codingblocks.com/assets/images/cb/cb_tshirt_logo.png"
              alt="logo"
              class="landing-page__footer__logo"
            />
          </div>
          <div class="col-lg-10 col-12 mt-lg-0 mt-5">
            <div class="font-sm pl-lg-5 pl-0 light">
              Coding Blocks was founded in 2014 with a mission to create
              skilled Software Engineers for our country and the world. We
              are here to bridge the gap between the quality of skills
              demanded by industry and the quality of skills imparted by
              conventional institutes. At Coding Blocks, we strive to
              increase student interest by providing hands on practical
              training on every concept taught in the classroom.
            </div>
          </div>
        </div>

        <div class="row mt-5 justify-content-between">
          <div class="col-lg-2 col-md-3 col-6">
            <h5 class="mb-5 orange">Beginner Courses</h5>
            <div class="font-sm light">
              <div class="my-3">
                <a
                  href="/courses/data-structures-and-algorithms-online-course-java-algo"
                  class="white"
                >Algo.Java Online</a>
              </div>
              <div class="my-3">
                <a
                  href="/courses/python-for-beginners-developers"
                  class="white"
                >Python For Developers</a>
              </div>
            </div>
          </div>
          <div class="col-lg-2 col-md-3 col-6">
            <h5 class="mb-5 orange">Development Courses</h5>
            <div class="font-sm light">
              <div class="my-3">
                <a href="/courses/python-django" class="white">Web Dev with Python-Django</a>
              </div>
              <div class="my-3">
                <a
                  href="/courses/data-structures-and-algorithms-online-course-java-algo"
                  class="white"
                >Algo.Java Online</a>
              </div>
              <div class="my-3">
                <a
                  href="/courses/android-app-training-online"
                  class="white"
                >Android App Development Online</a>
              </div>
              <div class="my-3">
                <a
                  href="/courses/coding-interview-preparation-course-online-c-plus-plus"
                  class="white"
                >Interview Preparation - C++</a>
              </div>
            </div>
          </div>
          <div class="col-lg-2 col-md-3 col-6 mt-md-0 mt-5">
            <h5 class="mb-5 orange">Advanced Courses</h5>
            <div class="font-sm light">
              <div class="my-3">
                <a
                  href="/courses/coding-interview-preparation-online"
                  class="white"
                >Interview Prep Bootcamp</a>
              </div>
              <div class="my-3">
                <a
                  href="/courses/competitive-programming-course-online"
                  class="white"
                >Competitive Programming Online</a>
              </div>
              <div class="my-3">
                <a
                  href="/courses/machine-learning-course-online"
                  class="white"
                >Machine Learning Master Course</a>
              </div>
              <div class="my-3">
                <a
                  href="/courses/coding-interview-preparation-course-online-java"
                  class="white"
                >Interview Preparation - Java</a>
              </div>
            </div>
          </div>
          <div class="col-lg-2 col-md-3 col-6 word-wrap mt-md-0 mt-5">
            <h5 class="mb-lg-5 mb-4 orange">Contact Us</h5>
            <div class="font-sm light row no-gutters">
              <div class="col-12">
                <div class="extra-bold gradient-text-orange my-2">Technical Support</div>
                <a
                  href="mailto:support@codingblocks.com"
                  class="my-2 white font-xs"
                >support@codingblocks.com</a>
                <br />
                <a href="tel:+18002744504" class="my-2 white font-sm">+1800 274 4504</a>
              </div>
              <div class="mt-4 col-12">
                <div class="extra-bold gradient-text-orange my-2">Online Courses Enquiry</div>
                <div class="my-2 white font-xs">support@hellointern.com</div>
                <a href="tel:+914049492040" class="my-2 white font-sm">+91 40-49492040</a>
              </div>
              <div class="mt-5 col-12 d-flex">
                <a href="#" class="grey">
                  <i class="fab fa-twitter fa-lg px-2"></i>
                </a>
                <a href="#" class="grey">
                  <i class="fab fa-facebook-f fa-lg px-2"></i>
                </a>
                <a href="#" class="grey">
                  <i class="fab fa-instagram fa-lg px-2"></i>
                </a>
                <a href="#" class="grey">
                  <i class="fab fa-linkedin-in fa-lg px-2"></i>
                </a>
                <a href="#" class="grey">
                  <i class="fab fa-youtube fa-lg px-2"></i>
                </a>
                <a href="#" class="grey">
                  <i class="fab fa-github fa-lg px-2"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="bg-black-grey py-4 white font-sm landing-page__footer">
      <div class="d-md-flex d-none">
        <div class="li-left">
          <ul class="divided-list">
            <li class="pr-3">
              <a href="https://codingblocks.com/privacypolicy.html" class="white">Policy</a>
            </li>
            <li class="pl-3">
              <a href="https://codingblocks.com/tos.html" class="white">Terms of Service</a>
            </li>
          </ul>
        </div>
        <div class="li-right">
          <div>Copyright 2019 - Coding Blocks Pvt. Ltd.</div>
        </div>
      </div>
      <div class="t-align-c d-md-none d-block">
        <ul class="divided-list d-block my-0">
          <li class="pr-3">
            <a href="https://codingblocks.com/privacypolicy.html" class="white">Policy</a>
          </li>
          <li class="pl-3">
            <a href="https://codingblocks.com/tos.html" class="white">Terms of Service</a>
          </li>
        </ul>
        <div class="mt-2">Copyright 2019 - Coding Blocks Pvt. Ltd.</div>
      </div>
    </div>
  </footer>