<footer>
  <div class="row justify-content-center height-100">
    <div class="col-8">
      <div class="row justify-content-center logo-row">
        <img src="/images/online-logo.png" alt="online-logo" class="nav-logo pointer">
      </div>
      <div class="d-flex flex-row justify-content-around links">
        <a class="link" target="_blank" href="https://codingblocks.com/about.html">About Us</a>
        <span class="link">|</span>
        <a class="link" target="_blank" href="https://codingblocks.com/centres/">Contact Us</a>
        <span class="link">|</span>
        <a class="link" target="_blank" href="https://hack.codingblocks.com/">Hackerblocks</a>
        <span class="link">|</span>
        <a class="link" target="_blank" href="https://codingblocks.com/privacypolicy.html">privacy policy</a>
        <span class="link">|</span>
        <a class="link" target="_blank" href="https://codingblocks.com/tos.html">terms of service</a>
      </div>
      <div class="d-flex flex-row justify-content-center links">
        <a target="_blank" href="http://facebook.com/codingblocksindia" class="link shadow">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a target="_blank" href="http://twitter.com/codingblocksIN" class="link shadow">
          <i class="fab fa-twitter"></i>
        </a>
        <a target="_blank" href="https://www.youtube.com/codingblocksindia" class="link shadow">
          <i class="fab fa-youtube"></i>
        </a>
        <a target="_blank" href="http://github.com/coding-blocks" class="link shadow">
          <i class="fab fa-github"></i>
        </a>
        <a target="_blank" href="https://www.linkedin.com/company/coding-blocks" class="link shadow">
          <i class="fab fa-linkedin-in"></i>
        </a>
      </div>
      <div class="row justify-content-center links">
        <a href="https://codingblocks.com/" >Copyright 2018 - Coding Blocks Pvt Ltd</a>
      </div>
    </div>
  </div>
</footer>