.o-overview-course{
  flex-wrap: wrap-reverse;
  align-items: flex-end;
  margin-bottom: 70px;

  .classroom-para{
    flex: 25%;
    text-align: justify;
    display: inline-block;
    font-size: $font-sm;
    margin-bottom: 40px;
  }

  .course-features{
    &>.row{
      padding: 0;
      margin-bottom: 40px;
    }
  }

  .round-img{
    @include dimensions(100%, 100%);
    position: absolute;
    top: 0;
  }

  .para{
    width: 113px;
    text-align: left;
    @include margin(0,0,0,0);
    font-size: $font-xs;
    padding: 0 4%;
  }

  .img-box{
    max-width: 72px;
  }

  .img-container{
    position: relative;
    padding-bottom: 100%;
  }
}