.o-about-instructors{
  .img-desc{
    //@include margin(0, 0px, 10px, 0);
    margin-bottom: 50px;
  }

  .round-img{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .classroom-para{
    @include margin(0,0,0,0);
    text-align: justify;
    font-size: $font-sm;
    display: block;
  }

  .heading-d{
    margin-bottom: 25px;
  }

  .main-h{
    margin-bottom: 5px;
  }

  .flex-col{
    align-items: flex-start;
  }

  .img-container{
    position: relative;
    width:60%;
    padding-bottom: 60%;
    min-width: 75px;
    min-height: 75px;
  }

  .description{
    margin-left: -10%;
  }

  .row{
    padding: 0;
  }
}