<section class="home-banner mb-5">
  <div class="left white">
    <h2>FIND YOUR DREAM JOB HERE</h2>
    <div class="mb-5">
      Get recruited by top multinational companies and get worldwide recongnition
    </div>
    <button class="button-solid md">Explore Jobs</button>
  </div>

  <img class="dsp-none-sm" src="/images/home_main.jpg" alt="home-image">
</section>

<FeatureSet />
<PartnersSection />

<SuccessStories />

<section class="container mt-4 recommended-jobs">
  <h2 class="mb-5 t-align-c">Recommended Jobs</h2>

  <div class="row justify-content-center mb-5">
    <JobCard class="col-12 col-lg-5"/>
    <JobCard class="col-12 col-lg-5"/>
  </div>

  <div class="row justify-content-center align-items-center">
    <div class="col-12 col-lg-5 t-align-c t-align-lg-l mb-4">
      <h2>Get Started</h2>
      <div class="grey mb-4">
        Start applying to jobs right now
      </div>
      <button class="button-solid md">View all Jobs</button>
    </div>
    <img class="col-12 col-lg-5" src="/images/footer.png" alt="guy sitting next to a plant">
  </div>
</section>