<section class="home-banner mb-5">
  <div class="left white">
    <h2>FIND YOUR DREAM JOB HERE</h2>
    <div class="mb-5">
      Get recruited by top multinational companies and get worldwide recognition
    </div>
    <EnsureLoginButton class="button-solid md" >Explore Jobs</EnsureLoginButton>
  </div>

  <img class="dsp-none-sm" src="/images/home_main.jpg" alt="home-image">
</section>

<FeatureSet />
<PartnersSection />

<div class="container">
  <SuccessStories />
</div>

<RecommendedJobs />