.o-overview-course{
  flex-wrap: wrap-reverse;
  align-items: flex-end;

  .classroom-para{
    @include margin(0,0,40px,0);
    flex: 25%;
    text-align: justify;
    display: inline-block;
    font-size: $font-sm;
  }

  .course-features{
    padding-right: 55px;
    &>.flex-row{
      @include margin(0, 0, 50px, 0);
    }
  }

  .img-desc{
    .round-img{
      @include dimensions(72px, 72px);
      @include margin(0, 20px, 0, 0);
    }

    .classroom-para{
      width: 113px;
      text-align: left;
      @include margin(0,0,0,0);
      font-size: $global-font-size;
    }
  }
}