.o-announcement{
  background-color: $nav-border;
  padding: 40px 0;
  
  .accordian-ul{
    @include margin(0,auto, 17px, auto);
    max-width: 88%;
  }

  .accordian-li{
    @include padding-mixin(4%, 5%, 4%, 4%);
    height: auto;
    color: $global-font-text-color;
    text-align: justify;
  }

  .accordian-head{
    @include padding-mixin(1%, 5%, 1%, 3%);
    min-height: 79px;

    & .flex-row:first-child{
      width: 90%;
    }
  }

  .img-desc{
    width: 93%;
  }

  .round-img{
    @include dimensions(50px, 50px);
    margin-right: 3%;
  }

  .accordian-collapsar{
    margin-right: 5%;
  }

  .heading-u{
    font-size: $font-md;
    padding-bottom: 20px;
    @include margin(0, 0, 55px, 6%);
  }

  .heading-d{
    margin-bottom: 0;
    width: 80%;
  }

  .main-h{
    color: $global-font-text-color;
    font-size: $font-sm;
    font-weight: $font-normal;
    margin-bottom: 2px ;
  }

  .sub-h{
    color: $default-accordian-font;
    font-size: 1rem;
    font-weight: $font-normal;
  }

  .classroom-para{
    @include margin(0,0,0,0);
    font-size: $font-sm;
  }

  .notify-icon{

    .notify-dot {
      width: 8px;
      height: 8px;
    }
    img {
      width: 41px;
    }
  }

  .button-dashed{
    @include dimensions(152px, 48px);
    @include margin(60px, auto, 0, auto);
    font-size: $global-font-size;
    border-radius: 24px;
  }

}