<ul class="list-divided border-none">
  {{#each sections as |section|}}
    <li class="list-item px-0">
      <Player::PlayerSectionListItem
        @section={{section}}
        @isOpen={{eq initialSectionId section.id}} />
    </li>
  {{/each}}
</ul>