<div class="c-testimonial-video">
  <div class="back-div bg-gradient-black-lr"></div>
  {{yield}}
    <div class="video-container">
      <iframe src="{{videoLink}}" frameborder="0" loading="lazy"></iframe>
    </div>
</div>