.skeleton-card {
  height: auto;
  position: relative;
  @include padding-mixin(10px, 20px, 60px, 20px);

  .img-component {
    margin: 60px 20px;

    .rod-component {
      margin: 0;
      width: 100%;
    }
  }

  .rod-component {
    margin-top: 30px;
  }
  
  .round-img {
    width: 70px;
    height: 70px;
  }
  
  .round-img-sm {
    width: 40px;
    height: 40px;
    margin-bottom: 40px;
  }

  .skeleton-lg {
    margin: 10px 20px;
  }

  .skeleton-md {
    margin: 10px 20px;
  }

  .skeleton-sm{
    margin: 10px 20px;
  }

}
