<div class="row">
    <div class="card-layout col-md-4 col-sm-6 col-lg-4">
        <div class="card skeleton-card skeleton-animation">
            <div class="row justify-content-end">
                <div class="round-img-sm round-img"></div>
            </div>
            <div class="rod-component ">
                <div class="skeleton-lg "></div>
                <div class="skeleton-md "></div>
            </div>
            <div class="rod-component">
                <div class="skeleton-lg bg-grey "></div>
                <div class="skeleton-md bg-grey "></div>
            </div>
            <div class="img-component d-flex">
                <div class=" round-img"></div>
                <div class="rod-component">
                    <div class="skeleton-lg bg-grey "></div>
                    <div class="skeleton-md bg-grey "></div>
                </div>
            </div>
            <div class="rod-component">
                <div class="skeleton-md "></div>
                <div class="skeleton-sm "></div>
            </div>
        </div>
    </div>
     <div class="card-layout col-md-4 col-sm-6 col-lg-4">
        <div class="card skeleton-card skeleton-animation">
            <div class="row justify-content-end">
                <div class="round-img-sm round-img"></div>
            </div>
            <div class="rod-component">
                <div class="skeleton-lg"></div>
                <div class="skeleton-md"></div>
            </div>
            <div class="rod-component">
                <div class="skeleton-lg bg-grey"></div>
                <div class="skeleton-md bg-grey"></div>
            </div>
            <div class="img-component d-flex">
                <div class=" round-img"></div>
                <div class="rod-component">
                    <div class="skeleton-lg bg-grey"></div>
                    <div class="skeleton-md bg-grey"></div>
                </div>
            </div>
            <div class="rod-component">
                <div class="skeleton-md"></div>
                <div class="skeleton-sm"></div>
            </div>
        </div>
    </div>
     <div class="card-layout col-md-4 col-sm-6 col-lg-4">
        <div class="card skeleton-card skeleton-animation">
            <div class="row justify-content-end">
                <div class="round-img-sm round-img"></div>
            </div>
            <div class="rod-component">
                <div class="skeleton-lg "></div>
                <div class="skeleton-md "></div>
            </div>
            <div class="rod-component">
                <div class="skeleton-lg bg-grey "></div>
                <div class="skeleton-md bg-grey "></div>
            </div>
            <div class="img-component d-flex">
                <div class=" round-img"></div>
                <div class="rod-component">
                    <div class="skeleton-lg bg-grey "></div>
                    <div class="skeleton-md bg-grey "></div>
                </div>
            </div>
            <div class="rod-component">
                <div class="skeleton-md "></div>
                <div class="skeleton-sm "></div>
            </div>
        </div>
    </div>
    <div class="card-layout col-md-4 col-sm-6 col-lg-4">
        <div class="card skeleton-card skeleton-animation">
            <div class="row justify-content-end">
                <div class="round-img-sm round-img"></div>
            </div>
            <div class="rod-component ">
                <div class="skeleton-lg "></div>
                <div class="skeleton-md "></div>
            </div>
            <div class="rod-component">
                <div class="skeleton-lg bg-grey "></div>
                <div class="skeleton-md bg-grey "></div>
            </div>
            <div class="img-component d-flex">
                <div class=" round-img"></div>
                <div class="rod-component">
                    <div class="skeleton-lg bg-grey "></div>
                    <div class="skeleton-md bg-grey "></div>
                </div>
            </div>
            <div class="rod-component">
                <div class="skeleton-md "></div>
                <div class="skeleton-sm "></div>
            </div>
        </div>
    </div>
     <div class="card-layout col-md-4 col-sm-6 col-lg-4">
        <div class="card skeleton-card skeleton-animation">
            <div class="row justify-content-end">
                <div class="round-img-sm round-img"></div>
            </div>
            <div class="rod-component">
                <div class="skeleton-lg"></div>
                <div class="skeleton-md"></div>
            </div>
            <div class="rod-component">
                <div class="skeleton-lg bg-grey"></div>
                <div class="skeleton-md bg-grey"></div>
            </div>
            <div class="img-component d-flex">
                <div class=" round-img"></div>
                <div class="rod-component">
                    <div class="skeleton-lg bg-grey"></div>
                    <div class="skeleton-md bg-grey"></div>
                </div>
            </div>
            <div class="rod-component">
                <div class="skeleton-md"></div>
                <div class="skeleton-sm"></div>
            </div>
        </div>
    </div>
     <div class="card-layout col-md-4 col-sm-6 col-lg-4">
        <div class="card skeleton-card skeleton-animation">
            <div class="row justify-content-end">
                <div class="round-img-sm round-img"></div>
            </div>
            <div class="rod-component">
                <div class="skeleton-lg "></div>
                <div class="skeleton-md "></div>
            </div>
            <div class="rod-component">
                <div class="skeleton-lg bg-grey "></div>
                <div class="skeleton-md bg-grey "></div>
            </div>
            <div class="img-component d-flex">
                <div class=" round-img"></div>
                <div class="rod-component">
                    <div class="skeleton-lg bg-grey "></div>
                    <div class="skeleton-md bg-grey "></div>
                </div>
            </div>
            <div class="rod-component">
                <div class="skeleton-md "></div>
                <div class="skeleton-sm "></div>
            </div>
        </div>
    </div>
</div>
