<div class="row">
    {{#each (range 0 8)}}
        <div class="c-layout-card col-12 col-sm-12 col-md-6 col-lg-3 pr-md-0">
            <div class="img-card online-card">
                <div class="head d-flex bg-grey skeleton-animation">
                    <div class="content d-flex flex-column justify-content-center">
                        <div class="round-img-b"></div>
                        <div class="rod-component">
                            <div class="skeleton-lg mb-3"></div>
                            <div class="skeleton-md"></div>
                        </div>
                    </div>
                </div>
                <div class="foot skeleton-animation">
                    <div class="rod-component-small">
                        <div class="skeleton-md"></div>
                    </div>
                </div>
            </div>
        </div>
    {{/each}}
</div>