{{yield}}

<div class="row mb-5 pb-5">
  <div class="col-lg-4 col-md-6 pb-4">
    <div class="border-card p-5">
      <div class="d-flex align-items-center">
        <div class="bg-grey s-50x50 br-50"></div> 
        <div class="ml-3">
          <div class="bold">Shivam Agarwal</div> 
          <div class="card-md font-normal">Android App Dev</div>
        </div>
      </div> 
      <div class="my-5 font-normal">
      Coding Blocks helped in gaining enough
      experience to get internships at giants like
      Google and Rubrik.
      </div> 
      <div class="extra-bold">Placed at Google</div>
    </div>
  </div>
  <div class="col-lg-4 col-md-6 pb-4">
    <div class="border-card p-5">
      <div class="d-flex align-items-center">
        <div class="bg-grey s-50x50 br-50"></div> 
        <div class="ml-3">
          <div class="bold">Shivam Agarwal</div> 
          <div class="card-md font-normal">Android App Dev</div>
        </div>
      </div> 
      <div class="my-5 font-normal">
      Coding Blocks helped in gaining enough
      experience to get internships at giants like
      Google and Rubrik.
      </div> 
      <div class="extra-bold">Placed at Google</div>
    </div>
  </div>
  <div class="col-lg-4 col-md-6 pb-4">
    <div class="border-card p-5">
      <div class="d-flex align-items-center">
        <div class="bg-grey s-50x50 br-50"></div> 
        <div class="ml-3">
          <div class="bold">Shivam Agarwal</div> 
          <div class="card-md font-normal">Android App Dev</div>
        </div>
      </div> 
      <div class="my-5 font-normal">
      Coding Blocks helped in gaining enough
      experience to get internships at giants like
      Google and Rubrik.
      </div> 
      <div class="extra-bold">Placed at Google</div>
    </div>
  </div>
</div>
