{{> nav-bar }}
<div class="o-buy-top slide-up row no-gutters justify-content-between">
    <div class="col-6 align-self-center">
        <div class="row no-gutters">
            <div class="o-image-card col-2">
                <img src="images/c++" alt="">
            </div>
            <div class="heading-d col-10 align-self-center">
                <div class="main-h">
                    Competitive Programming
                </div>
                <div class="sub-h">
                    Taught By : Prateek Narang, Arnav Gupta, +2 More
                </div>
            </div>
        </div>
    </div>
    <div class="col-6 align-self-center">
        <div class="row justify-content-end">
            <div class="button-dashed col-6">
                <button>ENROLL VIA OTP</button>
            </div>
            <div class="button-solid col-6">
                <button>BUY NOW TO ENROLL</button>
            </div>
        </div>
    </div>

</div>



<div class="o-summary">
    <div class="classroom-container row">
        <div class="classroom-header-box col-md-7 col-sm-12 col-xs-12">
            <div class="classroom-header row">
                <div class="classroom-image col-md-2 col-2 col-sm-2">
                    <img src="images/c++" alt="">
                </div>
                <div class="classroom-text col-md-10 col-10 col-sm-10">
                    Competitive Programming
                </div>
            </div>

            <p class="classroom-para">
                Coding Blocks is pleased to bring you the ultimate competitive programming course, hand crafted to ensure your success in challengessuch as Google CodeJam,
                Google Kickstart, ACM-ICPC, and more.
            </p>

            <div class="rating">
                <span class="pos-rating">
                    <i class="fas fa-star"></i>
                </span>
                <span class="pos-rating">
                    <i class="fas fa-star"></i>
                </span>
                <span class="pos-rating">
                    <i class="fas fa-star"></i>
                </span>
                <span class="pos-rating">
                    <i class="fas fa-star"></i>
                </span>
                <span class="neg-rating">
                    <i class="fas fa-star"></i>
                </span>
            </div>

            <div class="para">
                <span class="key">Taught By : </span> Prateek Narang, Arnav Gupta
            </div>


            <div class="o-buy-right">
                <div class="card">
                    <div class="card-video">
                        <div class="fader"></div>

                        <div class="status-circle">
                            <div class="circle-back"></div>
                            <div class="circle-front"></div>
                        </div>

                        <div class="preview">
                            <iframe src="https://www.youtube.com/embed/mFbitwLUCRs" controls allowfullscreen></iframe>
                        </div>

                    </div>
                    <div class="button-container row justify-content-center">
                        <div class="button-solid col-6">
                            <button>BUY NOW TO ENROLL</button>
                        </div>

                        <div class="button-dashed col-6">
                            <button>ENROLL VIA OTP</button>
                        </div>
                    </div>


                    <div class="course-features">
                        <div class="row justify-content-center">
                            <div class="col-2 align-self-center">
                                <div class="img-container">
                                    <div class="round-img">
                                        <img src="" alt="">
                                    </div>
                                </div>

                            </div>
                            <div class="para col-4 align-self-center">
                                30+ Hours Video Content
                            </div>

                            <div class="col-2 align-self-center">
                                <div class="img-container">
                                    <div class="round-img">
                                        <img src="" alt="">
                                    </div>
                                </div>

                            </div>
                            <div class="para col-4 align-self-center">
                                Full Lifetime Access
                            </div>
                        </div>

                        <div class="row justify-content-center">
                            <div class="col-2 align-self-center">
                                <div class="img-container">
                                    <div class="round-img">
                                        <img src="" alt="">
                                    </div>
                                </div>

                            </div>
                            <div class="para col-4 align-self-center">
                                Certification of Completion
                            </div>

                            <div class="col-2 align-self-center">
                                <div class="img-container">
                                    <div class="round-img">
                                        <img src="" alt="">
                                    </div>
                                </div>

                            </div>
                            <div class="para col-4 align-self-center">
                                Supplemental Resources
                            </div>
                        </div>

                    </div>

                </div>
            </div>

            <div class="heading-u">
                Summary
            </div>

            <div class="para">
                Coding Blocks is pleased to bring you the ultimate competitive programming course, hand crafted to ensure your success in challenges such as Google CodeJam, Google Kickstart, ACM-ICPC, and more. This 8 week programme will kickstart your foray in to the exciting world of competitive coding. You will master commonly used problem solving techniques, hone your mathematical analysis skills, and push the boundaries of your reasoning abilities. The course will cover Advanced Data Structures like Segment Trees, Binary Index / Fenwick Trees.

                You shall learn construct algorithms involving Dynamic Programming, Bitmasking, Greedy Algorithms, and Divide & Conquer. The course will also cover other advanced competitive topics. The course will also cover other advanced competitive topics. The course will also cover.
            </div>
        </div>
    </div>
</div>

<div class="o-about-accordian">
    <div class="custom-heading accordian-head">
        <div class="heading-u">
            What will you learn
        </div>

        <div class="flex-row">
            <div class="lecture-count">
                84 Lectures
            </div>
            <div class="duration">
                54 Hours
            </div>
        </div>
    </div>

    <div class="o-accordian">
        <div class="accordian-ul" data-show="true">
            <div class="accordian-head">
                <div class="li-left flex-row">
                    <div class="accordian-collapsar">
                        -
                    </div>
                    <div class="accordian-heading">
                        Mathematics 1.0
                    </div>
                </div>

                <div class="flex-row">
                    <div class="lecture-count">
                        6 Lectures
                    </div>
                    <div class="duration">
                        01:03:34
                    </div>
                </div>
            </div>

            <div data-completed="true" class="accordian-li">
                <div class="li-left flex-row">
                    <div class="accordian-li-type"></div>
                    <div class="accordian-li-heading">
                        Chewback and numbers system
                    </div>
                </div>

                <div class="flex-row">
                    <div>
                        Preview
                    </div>
                    <div class="accordian-li-duration">
                        01:03:34
                    </div>
                </div>


            </div>

            <div data-completed="true" class="accordian-li">
                <div class="li-left flex-row">
                    <div class="accordian-li-type"></div>
                    <div class="accordian-li-heading">
                        Tavas and SaDDas, Codeforces 535-B
                    </div>
                </div>

                <div class="flex-row">
                    <div>
                        Preview
                    </div>
                    <div class="accordian-li-duration">
                        03:34
                    </div>
                </div>


            </div>

            <div data-completed="false" class="accordian-li">
                <div class="li-left flex-row">
                    <div class="accordian-li-type"></div>
                    <div class="accordian-li-heading">
                        Fast Exponentiation
                    </div>
                </div>

                <div class="flex-row">
                    <div class="accordian-li-duration">
                        03:34
                    </div>
                </div>
            </div>

            <div data-completed="false" class="accordian-li">
                <div class="li-left flex-row">
                    <div class="accordian-li-type"></div>
                    <div class="accordian-li-heading">
                        Unique Number-III, Hackerblocks, Bitmasking
                    </div>
                </div>

                <div class="flex-row">
                    <div class="accordian-li-duration">
                        03:34
                    </div>
                </div>
            </div>

            <div data-completed="false" class="accordian-li">
                <div class="li-left flex-row">
                    <div class="accordian-li-type"></div>
                    <div class="accordian-li-heading">
                        Help Ramu, Bruteforce, Hackerblocks
                    </div>
                </div>

                <div class="flex-row">
                    <div class="accordian-li-duration">
                        03:34
                    </div>
                </div>
            </div>

            <div data-completed="false" class="accordian-li">
                <div class="li-left flex-row">
                    <div class="accordian-li-type"></div>
                    <div class="accordian-li-heading">
                        Sanjay's New Job, Sorting, Hackerblocks
                    </div>
                </div>

                <div class="flex-row">
                    <div class="accordian-li-duration">
                        03:34
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>

<div class="o-instructor">
    <div class="heading-u">
        About Instructors
    </div>

    <div class="o-about-instructors container-fluid">
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <div class="img-desc row">
                    <div class="col-4">
                        <div class="img-container">
                            <div class="round-img">
                                <img src="" alt="">
                            </div>
                        </div>
                    </div>


                    <div class="description col-8">
                        <div class="heading-d">
                            <div class="main-h">
                                Prateek Narang
                            </div>
                            <div class="sub-h">
                                Founding Member, Coding Blocks
                            </div>
                        </div>

                        <div class="classroom-para">
                            Coding Blocks is pleased to bring you the ultimate competitive programming course, hand crafted                            Coding Blocks is pleased to bring you the ultimate competitive programming course, hand crafted
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-sm-12">
                <div class="img-desc row">
                    <div class="col-4">
                        <div class="img-container">
                            <div class="round-img">
                                <img src="" alt="">
                            </div>
                        </div>

                    </div>


                    <div class="description col-8">
                        <div class="heading-d">
                            <div class="main-h">
                                Prateek Narang
                            </div>
                            <div class="sub-h">
                                Founding Member, Coding Blocks
                            </div>
                        </div>

                        <div class="classroom-para">
                            Coding Blocks is pleased to bring you the ultimate competitive programming course, hand crafted                            Coding Blocks is pleased to bring you the ultimate competitive programming course, hand crafted
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 col-sm-12">
                <div class="img-desc row">
                    <div class="col-4">
                        <div class="img-container">
                            <div class="round-img">
                                <img src="" alt="">
                            </div>
                        </div>
                    </div>


                    <div class="description col-8">
                        <div class="heading-d">
                            <div class="main-h">
                                Prateek Narang
                            </div>
                            <div class="sub-h">
                                Founding Member, Coding Blocks
                            </div>
                        </div>

                        <div class="classroom-para">
                            Coding Blocks is pleased to bring you the ultimate competitive programming course, hand crafted                            Coding Blocks is pleased to bring you the ultimate competitive programming course, hand crafted
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-sm-12">
                <div class="img-desc row">
                    <div class="col-4">
                        <div class="img-container">
                            <div class="round-img">
                                <img src="" alt="">
                            </div>
                        </div>

                    </div>


                    <div class="description col-8">
                        <div class="heading-d">
                            <div class="main-h">
                                Prateek Narang
                            </div>
                            <div class="sub-h">
                                Founding Member, Coding Blocks
                            </div>
                        </div>

                        <div class="classroom-para">
                            Coding Blocks is pleased to bring you the ultimate competitive programming course, hand crafted                            Coding Blocks is pleased to bring you the ultimate competitive programming course, hand crafted
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="o-batches">
    <div class="heading-u">
        Choose from Available Batches
    </div>

    <div class="grid row">
        <div class="card-layout col-lg-3 col-md-4 col-sm-6">
            <div class="card my-course o-layout-card ">
                <div class="card-heading o-text-card">
                    MARCH' 18
                </div>
                <div class="batch">
                    <div class="card-text">
                        Batch Starts
                    </div>
                    <div class="red-card-text">
                        20th March 2018
                    </div>
                </div>
                <div class="batch">
                    <div class="card-text">
                        Batch Ends
                    </div>
                    <div class="red-card-text">
                        20th March 2018
                    </div>
                </div>

                <div class="card-mentor-divider"></div>
                <div class="price-detail row">
                    <div class="my-course-grid col-md-6 col-sm-12 col-xs-12">
                        <div class="card-price-details">
                            <div class="card-batch-details">
                                <span class="price">Rs 2000</span>
                            </div>
                        </div>
                    </div>
                    <div class="button-parent col-md-6 col-sm-12 col-xs-12">

                        <div class="button-solid">
                            <button>Enroll Now</button>
                        </div>
                    </div>
                </div>
                <div class="batch footer">
                    <div class="card-text">
                        HURRY UP!
                    </div>
                    <div class="red-card-text">
                        20th March 2018
                    </div>
                </div>
            </div>
        </div>
        <div class="card-layout col-lg-3 col-md-4 col-sm-6">
            <div class="card my-course o-layout-card ">
                <div class="card-heading o-text-card">
                    MARCH' 18
                </div>
                <div class="batch">
                    <div class="card-text">
                        Batch Starts
                    </div>
                    <div class="red-card-text">
                        20th March 2018
                    </div>
                </div>
                <div class="batch">
                    <div class="card-text">
                        Batch Ends
                    </div>
                    <div class="red-card-text">
                        20th March 2018
                    </div>
                </div>

                <div class="card-mentor-divider"></div>
                <div class="price-detail row">
                    <div class="my-course-grid col-md-6 col-sm-12 col-xs-12">
                        <div class="card-price-details">
                            <div class="card-batch-details">
                                <span class="price">Rs 2000</span>
                            </div>
                        </div>
                    </div>
                    <div class="button-parent col-md-6 col-sm-12 col-xs-12">

                        <div class="button-solid">
                            <button>Enroll Now</button>
                        </div>
                    </div>
                </div>
                <div class="batch footer">
                    <div class="card-text">
                        HURRY UP!
                    </div>
                    <div class="red-card-text">
                        20th March 2018
                    </div>
                </div>
            </div>
        </div>
        <div class="card-layout col-lg-3 col-md-4 col-sm-6">
            <div class="card my-course o-layout-card ">
                <div class="card-heading o-text-card">
                    MARCH' 18
                </div>
                <div class="batch">
                    <div class="card-text">
                        Batch Starts
                    </div>
                    <div class="red-card-text">
                        20th March 2018
                    </div>
                </div>
                <div class="batch">
                    <div class="card-text">
                        Batch Ends
                    </div>
                    <div class="red-card-text">
                        20th March 2018
                    </div>
                </div>

                <div class="card-mentor-divider"></div>
                <div class="price-detail row">
                    <div class="my-course-grid col-md-6 col-sm-12 col-xs-12">
                        <div class="card-price-details">
                            <div class="card-batch-details">
                                <span class="price">Rs 2000</span>
                            </div>
                        </div>
                    </div>
                    <div class="button-parent col-md-6 col-sm-12 col-xs-12">

                        <div class="button-solid">
                            <button>Enroll Now</button>
                        </div>
                    </div>
                </div>
                <div class="batch footer">
                    <div class="card-text">
                        HURRY UP!
                    </div>
                    <div class="red-card-text">
                        20th March 2018
                    </div>
                </div>
            </div>
        </div>
        <div class="card-layout col-lg-3 col-md-4 col-sm-6">
            <div class="card my-course o-layout-card ">
                <div class="card-heading o-text-card">
                    MARCH' 18
                </div>
                <div class="batch">
                    <div class="card-text">
                        Batch Starts
                    </div>
                    <div class="red-card-text">
                        20th March 2018
                    </div>
                </div>
                <div class="batch">
                    <div class="card-text">
                        Batch Ends
                    </div>
                    <div class="red-card-text">
                        20th March 2018
                    </div>
                </div>

                <div class="card-mentor-divider"></div>
                <div class="price-detail row">
                    <div class="my-course-grid col-md-6 col-sm-12 col-xs-12">
                        <div class="card-price-details">
                            <div class="card-batch-details">
                                <span class="price">Rs 2000</span>
                            </div>
                        </div>
                    </div>
                    <div class="button-parent col-md-6 col-sm-12 col-xs-12">

                        <div class="button-solid">
                            <button>Enroll Now</button>
                        </div>
                    </div>
                </div>
                <div class="batch footer">
                    <div class="card-text">
                        HURRY UP!
                    </div>
                    <div class="red-card-text">
                        20th March 2018
                    </div>
                </div>
            </div>
        </div>
        <div class="card-layout col-lg-3 col-md-4 col-sm-6">
            <div class="card my-course o-layout-card ">
                <div class="card-heading o-text-card">
                    MARCH' 18
                </div>
                <div class="batch">
                    <div class="card-text">
                        Batch Starts
                    </div>
                    <div class="red-card-text">
                        20th March 2018
                    </div>
                </div>
                <div class="batch">
                    <div class="card-text">
                        Batch Ends
                    </div>
                    <div class="red-card-text">
                        20th March 2018
                    </div>
                </div>

                <div class="card-mentor-divider"></div>
                <div class="price-detail row">
                    <div class="my-course-grid col-md-6 col-sm-12 col-xs-12">
                        <div class="card-price-details">
                            <div class="card-batch-details">
                                <span class="price">Rs 2000</span>
                            </div>
                        </div>
                    </div>
                    <div class="button-parent col-md-6 col-sm-12 col-xs-12">

                        <div class="button-solid">
                            <button>Enroll Now</button>
                        </div>
                    </div>
                </div>
                <div class="batch footer">
                    <div class="card-text">
                        HURRY UP!
                    </div>
                    <div class="red-card-text">
                        20th March 2018
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="o-recommended">
    <div class="custom-heading row justify-content-between">
        <div class="heading-u">
            Recommended Courses
        </div>

        <div class="button-dashed align-self-center">
            <button onclick="sectionToggler()">View All Courses</button>
        </div>
    </div>


    <div class="grid row">
        <div class="card-layout col-lg-3 col-md-4 col-sm-6">
            <div class="card o-layout-card ">

                <div class="expert-level"></div>
                <div class="expert-text">Expert</div>

                <div class="card-image o-image-card">
                    <img src="images/c++">
                </div>

                <div class="card-heading o-text-card">
                    Registration Open for Launchpad online
                </div>
                <div class="card-text">
                    Learn data structures & algorithm in C++ Learn data structures & algorithm in C++
                </div>
                <div class="card-mentor">
                    <div class="card-mentor-image">
                        <span class="card-mentors" src="https://avatars0.githubusercontent.com/u/1327050?s=460&v=4"></span>
                        <span class="card-mentors" src="https://avatars0.githubusercontent.com/u/1327050?s=460&v=4"></span>
                    </div>
                    <div class="card-mentor-text">
                        <span>Instructors</span>
                        <div class="card-mentor-name">Prateek Narang, Arnav Gupta</div>
                    </div>
                </div>
                <div class="card-mentor-divider"></div>
                <div class="price-detail row">
                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <div class="card-price-details">
                            <div class="card-batches">
                                2 Batches Available
                            </div>
                            <div class="card-batch-details">
                                Starting from <span class="price">Rs 2000</span>
                            </div>
                        </div>
                    </div>
                    <div class="button-parent col-md-6 col-sm-12 col-xs-12">

                        <div class="button-solid">
                            <button>Register</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="card-layout col-lg-3 col-md-4 col-sm-6">
            <div class="card o-layout-card ">

                <div class="expert-level"></div>
                <div class="expert-text">Expert</div>

                <div class="card-image o-image-card">
                    <img src="images/c++">
                </div>

                <div class="card-heading o-text-card">
                    Registration Open for Launchpad online
                </div>
                <div class="card-text">
                    Learn data structures & algorithm in C++ Learn data structures & algorithm in C++
                </div>
                <div class="card-mentor">
                    <div class="card-mentor-image">
                        <span class="card-mentors" src="https://avatars0.githubusercontent.com/u/1327050?s=460&v=4"></span>
                        <span class="card-mentors" src="https://avatars0.githubusercontent.com/u/1327050?s=460&v=4"></span>
                    </div>
                    <div class="card-mentor-text">
                        <span>Instructors</span>
                        <div class="card-mentor-name">Prateek Narang, Arnav Gupta</div>
                    </div>
                </div>
                <div class="card-mentor-divider"></div>
                <div class="price-detail row">
                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <div class="card-price-details">
                            <div class="card-batches">
                                2 Batches Available
                            </div>
                            <div class="card-batch-details">
                                Starting from <span class="price">Rs 2000</span>
                            </div>
                        </div>
                    </div>
                    <div class="button-parent col-md-6 col-sm-12 col-xs-12">

                        <div class="button-solid">
                            <button>Register</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="card-layout col-lg-3 col-md-4 col-sm-6">
            <div class="card o-layout-card ">

                <div class="expert-level"></div>
                <div class="expert-text">Expert</div>

                <div class="card-image o-image-card">
                    <img src="images/c++">
                </div>

                <div class="card-heading o-text-card">
                    Registration Open for Launchpad online
                </div>
                <div class="card-text">
                    Learn data structures & algorithm in C++ Learn data structures & algorithm in C++
                </div>
                <div class="card-mentor">
                    <div class="card-mentor-image">
                        <span class="card-mentors" src="https://avatars0.githubusercontent.com/u/1327050?s=460&v=4"></span>
                        <span class="card-mentors" src="https://avatars0.githubusercontent.com/u/1327050?s=460&v=4"></span>
                    </div>
                    <div class="card-mentor-text">
                        <span>Instructors</span>
                        <div class="card-mentor-name">Prateek Narang, Arnav Gupta</div>
                    </div>
                </div>
                <div class="card-mentor-divider"></div>
                <div class="price-detail row">
                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <div class="card-price-details">
                            <div class="card-batches">
                                2 Batches Available
                            </div>
                            <div class="card-batch-details">
                                Starting from <span class="price">Rs 2000</span>
                            </div>
                        </div>
                    </div>
                    <div class="button-parent col-md-6 col-sm-12 col-xs-12">

                        <div class="button-solid">
                            <button>Register</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="card-layout col-lg-3 col-md-4 col-sm-6">
            <div class="card o-layout-card ">

                <div class="expert-level"></div>
                <div class="expert-text">Expert</div>

                <div class="card-image o-image-card">
                    <img src="images/c++">
                </div>

                <div class="card-heading o-text-card">
                    Registration Open for Launchpad online
                </div>
                <div class="card-text">
                    Learn data structures & algorithm in C++ Learn data structures & algorithm in C++
                </div>
                <div class="card-mentor">
                    <div class="card-mentor-image">
                        <span class="card-mentors" src="https://avatars0.githubusercontent.com/u/1327050?s=460&v=4"></span>
                        <span class="card-mentors" src="https://avatars0.githubusercontent.com/u/1327050?s=460&v=4"></span>
                    </div>
                    <div class="card-mentor-text">
                        <span>Instructors</span>
                        <div class="card-mentor-name">Prateek Narang, Arnav Gupta</div>
                    </div>
                </div>
                <div class="card-mentor-divider"></div>
                <div class="price-detail row">
                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <div class="card-price-details">
                            <div class="card-batches">
                                2 Batches Available
                            </div>
                            <div class="card-batch-details">
                                Starting from <span class="price">Rs 2000</span>
                            </div>
                        </div>
                    </div>
                    <div class="button-parent col-md-6 col-sm-12 col-xs-12">

                        <div class="button-solid">
                            <button>Register</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


<script>
    var buyRight= $('.o-buy-right');
    var buyTop= $('.o-buy-top')[0];
    var accordian= $('.o-about-accordian');
    var accordOffsetTop= accordian.offset().top- 350;
    console.log(buyTop);
    window.onscroll= function(){
        if(window.pageYOffset>= accordOffsetTop){
            buyRight.addClass('slide-right');
            buyTop.classList.remove('slide-up');
        }else{
            buyTop.classList.add('slide-up');
            buyRight.removeClass('slide-right');
        }
    }
</script>

