{{> nav-bar }}
<div class="address-card row">
    <div class="col-md-10">
        <h3>CHOOSE SHIPPING ADDRESS</h3>
    </div>
    <div class="col-md-2">
        <div class="button-solid">
            <button> + Add new Address</button>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12 col-sm-6 col-md-4">
        <div class="card o-address-card">
            <div class="heading">
                Siddharth Jain
            </div>

            <div class="para grey">
                47, Nishant Kunj, 1st & 2nd Floor, Pitampura Main Road, Opposite Metro Pillar 337,
                Pitampura, New Delhi, Delhi 110034
            </div>

            <div class="row justify-content-between align-items-center">
                <div class="button grey">
                    <button>Edit Address</button>
                </div>

                <div class="button-dashed">
                    <button>Deliver Here</button>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 col-sm-6 col-md-4">
        <div class="card o-address-card select-card">
            <div class="heading">
                Siddharth Jain
            </div>

            <div class="para grey">
                47, Nishant Kunj, 1st & 2nd Floor, Pitampura Main Road, Opposite Metro Pillar 337,
                Pitampura, New Delhi, Delhi 110034
            </div>

            <div class="row justify-content-between align-items-center">
                <div class="button grey">
                    <button>Edit Address</button>
                </div>

                <div class="button-dashed">
                    <button>Deliver Here</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4">
        <div class="card o-address-card">
            <div class="heading">
                Siddharth Jain
            </div>

            <div class="para grey">
                47, Nishant Kunj, 1st & 2nd Floor, Pitampura Main Road, Opposite Metro Pillar 337,
                Pitampura, New Delhi, Delhi 110034
            </div>

            <div class="row justify-content-between align-items-center">
                <div class="button grey">
                    <button>Edit Address</button>
                </div>

                <div class="button-dashed">
                    <button>Deliver Here</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="address-card row">
    <div class="col-md-10">
        <h3>CHOOSE BILLING ADDRESS</h3>
    </div>
    <div class="col-md-2">
        <div class="button-solid">
            <button> + Add new Address</button>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12 col-sm-6 col-md-4">
        <div class="card o-address-card">
            <div class="heading">
                Siddharth Jain
            </div>

            <div class="para grey">
                47, Nishant Kunj, 1st & 2nd Floor, Pitampura Main Road, Opposite Metro Pillar 337,
                Pitampura, New Delhi, Delhi 110034
            </div>

            <div class="row justify-content-between align-items-center">
                <div class="button grey">
                    <button>Edit Address</button>
                </div>

                <div class="button-dashed">
                    <button>Deliver Here</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="address-card row">
    <div class="offset-md-10 col-md-2">
        <div class="button-solid">
            <button> SAVE & EXIT </button>
        </div>
    </div>
</div>