{{> nav-bar }}
    <div class="o-buy-top row no-gutters justify-content-between">
        <div class="col-6 align-self-center">
            <div class="row no-gutters">
                <div class="o-image-card col-2">
                    <img src="images/c++" alt="">
                </div>
                <div class="heading-d col-10 align-self-center">
                    <div class="main-h">
                        Competitive Programming
                    </div>
                    <div class="sub-h">
                        Taught By : Prateek Narang, Arnav Gupta, +2 More
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6 align-self-center">
            <div class="row justify-content-end">
                <div class="button-dashed col-6">
                    <button>ENROLL VIA OTP</button>
                </div>
                <div class="button-solid col-6">
                    <button>BUY NOW TO ENROLL</button>
                </div>
            </div>
        </div>

    </div>
