<div class="row">
    <div class="col-12 col-md-6">
        <div class="card o-checkout-card">
            <div class="address row justify-content-between">
                <span>Shipping Address</span>
                <span class="font-sm red pointer">Change</span>
                <div class="para grey">
                    47, Nishant Kunj, 1st & 2nd Floor, Pitampura Main Road, Opposite Metro Pillar 337,  New Delhi, 110034
                </div>
            </div>

            <div class="address row justify-content-between">
                <span>Billing Address</span>
                <span class="font-sm red pointer">Change</span>
                <div class="para grey">
                    47, Nishant Kunj, 1st & 2nd Floor, Pitampura Main Road, Opposite Metro Pillar 337,  New Delhi, 110034
                </div>
            </div>

            <div class="quantity-details row justify-content-between">
                <span>Total Items</span>
                <span class="font-lg">20</span>
            </div>

            <div class="quantity-details row justify-content-between">
                <span>Total Amount</span>
                <span class="font-lg">Rs 20000</span>
            </div>

            <div>
                Apply Coupon
            </div>

            <div class="faded-cont row justify-content-between align-items-center">
                <span class="black">FLAT20</span>
                <span class="no-promo font-sm grey pointer">Remove</span>
            </div>

            <div class="red">
                Coupon Applied Successfully
            </div>

            <div class="button-solid">
                <button>Proceed to Checkout &gt</button>
            </div>
        </div>

    </div>

    <div class="col-12 col-md-6">
        <div class="card o-checkout-card">
            <div class="address row justify-content-between">
                <span>Shipping Address</span>
                <div class="para grey">
                    47, Nishant Kunj, 1st & 2nd Floor, Pitampura Main Road, Opposite Metro Pillar 337,  New Delhi, 110034
                </div>
            </div>

            <div class="address row justify-content-between">
                <span>Billing Address</span>
                <div class="para grey">
                    47, Nishant Kunj, 1st & 2nd Floor, Pitampura Main Road, Opposite Metro Pillar 337,  New Delhi, 110034
                </div>
            </div>

            <div class="quantity-details row justify-content-between">
                <span>Total Items</span>
                <span class="font-lg">20</span>
            </div>

            <div class="quantity-details row justify-content-between">
                <span>Total Amount</span>
                <span class="font-lg">Rs 20000</span>
            </div>

            <div class="row no-gutters align-items-center">
                <div class="promo-img  col-2">
                    <img src="images/c++" alt="">
                </div>
                <div class="col-10">
                    <div class="red">FLAT20</div>
                    <div class="red">Coupon Applied Successfully</div>
                </div>
            </div>

            <div class="button-solid">
                <button>Proceed to Checkout &gt</button>
            </div>
        </div>

    </div>
</div>