{{> nav-bar }}
<div class="content-icon play-icon-green"></div>
<div class="content-icon play-icon-red"></div>
<div class="content-icon file-icon-green"></div>
<div class="content-icon file-icon-red"></div>
<div class="content-icon code-icon-green"></div>
<div class="content-icon code-icon-red"></div>

