{{> nav-bar }}
<div class="container-courses">
  <div class="heading">
    <p>My Courses</p>
  </div>
  <div class="short-heading">
    <p>Recently Accessed</p>
  </div>
  
  
  <div class="row">
    <div class="card-layout col-md-4 col-sm-6">
      <div class="card o-layout-card ">
        
        <div data-completed="false" class="status-circle offset-md-8 col-md-4">
          <div class="circle-back">
            <div class="circle-front">
              <p class="progress-text">26%</p>
            </div>
          </div>
        </div>
        <div class="card-image o-image-card">
          <img src="images/c++">
        </div>
        
        <div class="card-heading o-text-card">
          Registration Open for Launchpad online
        </div>
        <div class="card-text">
          Learn data structures & algorithm in C++ Learn data structures & algorithm in C++
        </div>
        <div class="card-mentor">
          <div class="card-mentor-image">
            <span class="card-mentors" src="https://avatars0.githubusercontent.com/u/1327050?s=460&v=4"></span>
            <span class="card-mentors" src="https://avatars0.githubusercontent.com/u/1327050?s=460&v=4"></span>
          </div>
          <div class="card-mentor-text">
            <span>Instructors</span>
            <div class="card-mentor-name">Prateek Narang, Arnav Gupta</div>
          </div>
        </div>
        <div class="card-mentor-divider"></div>
        <div class="price-detail row">
          <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="card-price-details">
              <div class="card-batches">
                Nov-Dec 2017
              </div>
            </div>
          </div>
          <div class="button-parent col-md-6 col-sm-12 col-xs-12">
            
            <div class="button-solid">
              <button>Register</button>
            </div>
          </div>
        </div>
      
      </div>
    </div>
    
    <div class="card-layout col-md-4 col-sm-6">
      <div class="card o-layout-card ">
        
        <div data-completed="false" class="status-circle offset-md-8 col-md-4">
          <div class="circle-back">
            <div class="circle-front">
              <p class="progress-text">26%</p>
            </div>
          </div>
        </div>
        <div class="card-image o-image-card">
          <img src="images/c++">
        </div>
        
        <div class="card-heading o-text-card">
          Registration Open for Launchpad online
        </div>
        <div class="card-text">
          Learn data structures & algorithm in C++ Learn data structures & algorithm in C++
        </div>
        <div class="card-mentor">
          <div class="card-mentor-image">
            <span class="card-mentors" src="https://avatars0.githubusercontent.com/u/1327050?s=460&v=4"></span>
            <span class="card-mentors" src="https://avatars0.githubusercontent.com/u/1327050?s=460&v=4"></span>
          </div>
          <div class="card-mentor-text">
            <span>Instructors</span>
            <div class="card-mentor-name">Prateek Narang, Arnav Gupta</div>
          </div>
        </div>
        <div class="card-mentor-divider"></div>
        <div class="price-detail row">
          <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="card-price-details">
              <div class="card-batches">
                Nov-Dec 2017
              </div>
            </div>
          </div>
          <div class="button-parent col-md-6 col-sm-12 col-xs-12">
            
            <div class="button-solid">
              <button>Resume Learning</button>
            </div>
          </div>
        </div>
      
      </div>
    </div>
    
    
    <div class="card-layout col-md-4 col-sm-6">
      <div class="card o-layout-card ">
        
        <div data-completed="false" class="status-circle offset-md-8 col-md-4">
          <div class="circle-back">
            <div class="circle-front">
              <p class="progress-text">26%</p>
            </div>
          </div>
        </div>
        <div class="card-image o-image-card">
          <img src="images/c++">
        </div>
        
        <div class="card-heading o-text-card">
          Registration Open for Launchpad online
        </div>
        <div class="card-text">
          Learn data structures & algorithm in C++ Learn data structures & algorithm in C++
        </div>
        <div class="card-mentor">
          <div class="card-mentor-image">
            <span class="card-mentors" src="https://avatars0.githubusercontent.com/u/1327050?s=460&v=4"></span>
            <span class="card-mentors" src="https://avatars0.githubusercontent.com/u/1327050?s=460&v=4"></span>
          </div>
          <div class="card-mentor-text">
            <span>Instructors</span>
            <div class="card-mentor-name">Prateek Narang, Arnav Gupta</div>
          </div>
        </div>
        <div class="card-mentor-divider"></div>
        <div class="price-detail row">
          <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="card-price-details">
              <div class="card-batches">
                Nov-Dec 2017
              </div>
            </div>
          </div>
          <div class="button-parent col-md-6 col-sm-12 col-xs-12">
            
            <div class="button-solid">
              <button>Register</button>
            </div>
          </div>
        </div>
      
      </div>
    </div>

  </div>
    <div class="short-heading">
      <p>My Current Enrollments</p>
    </div>
    
    <div class="recommended row">
      <div class="card-layout col-md-4 col-sm-6">
        <div class="card o-layout-card ">
          
          <div class="expert-level"></div>
          <div class="expert-text">Expert</div>
          
          <div class="card-image o-image-card">
            <img src="images/c++">
          </div>
          
          <div class="card-heading o-text-card">
            Registration Open for Launchpad online
          </div>
          <div class="card-text">
            Learn data structures & algorithm in C++ Learn data structures & algorithm in C++
          </div>
          <div class="card-mentor">
            <div class="card-mentor-image">
              <span class="card-mentors" src="https://avatars0.githubusercontent.com/u/1327050?s=460&v=4"></span>
              <span class="card-mentors" src="https://avatars0.githubusercontent.com/u/1327050?s=460&v=4"></span>
            </div>
            <div class="card-mentor-text">
              <span>Instructors</span>
              <div class="card-mentor-name">Prateek Narang, Arnav Gupta</div>
            </div>
          </div>
          <div class="card-mentor-divider"></div>
          <div class="price-detail row">
            <div class="col-md-6 col-sm-12 col-xs-12">
              <div class="card-price-details">
                <div class="card-batches">
                  2 Batches Available
                </div>
                <div class="card-batch-details">
                  Starting from <span class="price">Rs 2000</span>
                </div>
              </div>
            </div>
            <div class="button-parent col-md-6 col-sm-12 col-xs-12">
              
              <div class="button-solid">
                <button>Register</button>
              </div>
            </div>
          </div>
        
        </div>
      </div>
      <div class="card-layout col-md-4 col-sm-6">
        <div class="card o-layout-card ">
          
          <div class="expert-level"></div>
          <div class="expert-text">Expert</div>
          
          <div class="card-image o-image-card">
            <img src="images/c++">
          </div>
          
          <div class="card-heading o-text-card">
            Registration Open for Launchpad online
          </div>
          <div class="card-text">
            Learn data structures & algorithm in C++ Learn data structures & algorithm in C++
          </div>
          <div class="card-mentor">
            <div class="card-mentor-image">
              <span class="card-mentors" src="https://avatars0.githubusercontent.com/u/1327050?s=460&v=4"></span>
              <span class="card-mentors" src="https://avatars0.githubusercontent.com/u/1327050?s=460&v=4"></span>
            </div>
            <div class="card-mentor-text">
              <span>Instructors</span>
              <div class="card-mentor-name">Prateek Narang, Arnav Gupta</div>
            </div>
          </div>
          <div class="card-mentor-divider"></div>
          <div class="price-detail row">
            <div class="col-md-6 col-sm-12 col-xs-12">
              <div class="card-price-details">
                <div class="card-batches">
                  2 Batches Available
                </div>
                <div class="card-batch-details">
                  Starting from <span class="price">Rs 2000</span>
                </div>
              </div>
            </div>
            <div class="button-parent col-md-6 col-sm-12 col-xs-12">
              
              <div class="button-solid">
                <button>Register</button>
              </div>
            </div>
          </div>
        
        </div>
      </div>
      <div class="card-layout col-md-4 col-sm-6">
        <div class="card o-layout-card ">
          
          <div class="expert-level"></div>
          <div class="expert-text">Expert</div>
          
          <div class="card-image o-image-card">
            <img src="images/c++">
          </div>
          
          <div class="card-heading o-text-card">
            Registration Open for Launchpad online
          </div>
          <div class="card-text">
            Learn data structures & algorithm in C++ Learn data structures & algorithm in C++
          </div>
          <div class="card-mentor">
            <div class="card-mentor-image">
              <span class="card-mentors" src="https://avatars0.githubusercontent.com/u/1327050?s=460&v=4"></span>
              <span class="card-mentors" src="https://avatars0.githubusercontent.com/u/1327050?s=460&v=4"></span>
            </div>
            <div class="card-mentor-text">
              <span>Instructors</span>
              <div class="card-mentor-name">Prateek Narang, Arnav Gupta</div>
            </div>
          </div>
          <div class="card-mentor-divider"></div>
          <div class="price-detail row">
            <div class="col-md-6 col-sm-12 col-xs-12">
              <div class="card-price-details">
                <div class="card-batches">
                  2 Batches Available
                </div>
                <div class="card-batch-details">
                  Starting from <span class="price">Rs 2000</span>
                </div>
              </div>
            </div>
            <div class="button-parent col-md-6 col-sm-12 col-xs-12">
              
              <div class="button-solid">
                <button>Register</button>
              </div>
            </div>
          </div>
        
        </div>
      </div>
    </div>
    
    <div class="recommended-container">
      <div class="short-heading">
        <p>Recommended Courses</p>
      </div>
      <div class="recommended row">
        <div class="card-layout col-md-4 col-sm-6">
          <div class="card o-layout-card ">
            
            <div class="expert-level"></div>
            <div class="expert-text">Expert</div>
            
            <div class="card-image o-image-card">
              <img src="images/c++">
            </div>
            
            <div class="card-heading o-text-card">
              Registration Open for Launchpad online
            </div>
            <div class="card-text">
              Learn data structures & algorithm in C++ Learn data structures & algorithm in C++
            </div>
            <div class="card-mentor">
              <div class="card-mentor-image">
                <span class="card-mentors" src="https://avatars0.githubusercontent.com/u/1327050?s=460&v=4"></span>
                <span class="card-mentors" src="https://avatars0.githubusercontent.com/u/1327050?s=460&v=4"></span>
              </div>
              <div class="card-mentor-text">
                <span>Instructors</span>
                <div class="card-mentor-name">Prateek Narang, Arnav Gupta</div>
              </div>
            </div>
            <div class="card-mentor-divider"></div>
            <div class="price-detail row">
              <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="card-price-details">
                  <div class="card-batches">
                    2 Batches Available
                  </div>
                  <div class="card-batch-details">
                    Starting from <span class="price">Rs 2000</span>
                  </div>
                </div>
              </div>
              <div class="button-parent col-md-6 col-sm-12 col-xs-12">
                
                <div class="button-solid">
                  <button>Register</button>
                </div>
              </div>
            </div>
          
          </div>
        </div>
        <div class="card-layout col-md-4 col-sm-6">
          <div class="card o-layout-card ">
            
            <div class="expert-level"></div>
            <div class="expert-text">Expert</div>
            
            <div class="card-image o-image-card">
              <img src="images/c++">
            </div>
            
            <div class="card-heading o-text-card">
              Registration Open for Launchpad online
            </div>
            <div class="card-text">
              Learn data structures & algorithm in C++ Learn data structures & algorithm in C++
            </div>
            <div class="card-mentor">
              <div class="card-mentor-image">
                <span class="card-mentors" src="https://avatars0.githubusercontent.com/u/1327050?s=460&v=4"></span>
                <span class="card-mentors" src="https://avatars0.githubusercontent.com/u/1327050?s=460&v=4"></span>
              </div>
              <div class="card-mentor-text">
                <span>Instructors</span>
                <div class="card-mentor-name">Prateek Narang, Arnav Gupta</div>
              </div>
            </div>
            <div class="card-mentor-divider"></div>
            <div class="price-detail row">
              <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="card-price-details">
                  <div class="card-batches">
                    2 Batches Available
                  </div>
                  <div class="card-batch-details">
                    Starting from <span class="price">Rs 2000</span>
                  </div>
                </div>
              </div>
              <div class="button-parent col-md-6 col-sm-12 col-xs-12">
                
                <div class="button-solid">
                  <button>Register</button>
                </div>
              </div>
            </div>
          
          </div>
        </div>
        <div class="card-layout col-md-4 col-sm-6">
          <div class="card o-layout-card ">
            
            <div class="expert-level"></div>
            <div class="expert-text">Expert</div>
            
            <div class="card-image o-image-card">
              <img src="images/c++">
            </div>
            
            <div class="card-heading o-text-card">
              Registration Open for Launchpad online
            </div>
            <div class="card-text">
              Learn data structures & algorithm in C++ Learn data structures & algorithm in C++
            </div>
            <div class="card-mentor">
              <div class="card-mentor-image">
                <span class="card-mentors" src="https://avatars0.githubusercontent.com/u/1327050?s=460&v=4"></span>
                <span class="card-mentors" src="https://avatars0.githubusercontent.com/u/1327050?s=460&v=4"></span>
              </div>
              <div class="card-mentor-text">
                <span>Instructors</span>
                <div class="card-mentor-name">Prateek Narang, Arnav Gupta</div>
              </div>
            </div>
            <div class="card-mentor-divider"></div>
            <div class="price-detail row">
              <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="card-price-details">
                  <div class="card-batches">
                    2 Batches Available
                  </div>
                  <div class="card-batch-details">
                    Starting from <span class="price">Rs 2000</span>
                  </div>
                </div>
              </div>
              <div class="button-parent col-md-6 col-sm-12 col-xs-12">
                
                <div class="button-solid">
                  <button>Register</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
