<div class="classroom-container row">
<div class="classroom-header-box col-md-6 col-sm-12 col-xs-12">
    <div class="classroom-header row">
        <div class="classroom-image col-md-2 col-xs-2 col-sm-2">
            <img src="images/c++">
        </div>
        <div class="classroom-text col-md-10 col-xs-10 col-sm-10">
            Competitive Programming
        </div>
    </div>
    <p class="classroom-para">
        Coding Blocks is pleased to bring you the ultimate competitive programming course, hand crafted to ensure your success in challengessuch as Google CodeJam,
        Google Kickstart, ACM-ICPC, and more.
    </p>
    <div class="rating">
        <span class="pos-rating">
            <i class="fas fa-star"></i>
        </span>
        <span class="pos-rating">
            <i class="fas fa-star"></i>
        </span>
        <span class="pos-rating">
            <i class="fas fa-star"></i>
        </span>
        <span class="pos-rating">
            <i class="fas fa-star"></i>
        </span>
        <span class="neg-rating">
            <i class="fas fa-star"></i>
        </span>

    </div>
</div>
<div class="course-progress-box col-md-6 col-sm-12 col-xs-12">
    <div class="course-progress-2">
        <p class="course-progress-heading">Course Progress</p>

        <div data-completed="false" class="status-circle col-md-2">
            <div class="circle-back">
                <div class="circle-front">
                    <p class="progress-text">26%</p>
                </div>
            </div>
        </div>
        <div class="course-progress-detail col-md-10">
            <p class="lectures-completed">12 of 46 Lectures completed</p>
            <p class="reset-progress">Reset Progress</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-6 col-md-5">
            <div class="button-solid">
                <button>Resume Learning</button>
            </div>
        </div>
    </div>
</div>
</div>

<div class="tab-nav">
<div class="tab-list">
    <div class="tab-items">Overview</div>
    <div class="tab-items">Course Content</div>
    <div class="tab-items active">Announcements</div>
    <div class="tab-items">Solve Your Doubts</div>
</div>
</div>

<div class="o-doubt">
<div class="d-flex head">
    <div class="heading-u mr-auto">
        Solve your doubts (10)
    </div>
    <div class="button-solid right-head-button">
        <button>Ask a Question</button>
    </div>
</div>

<div class="row doubts-box">
    <div class="col-12">
        <div class="row doubt">
            <div class="d-flex flex-row doubt-head">
                <div class="left flex-row mr-auto">
                    <div class="round-img">
                        <img src="http://via.placeholder.com/150x150" class="rounded-circle">
                    </div>
                    <div class="author-name">
                        Abhishek Gupta
                        <br>
                        <span class="time">45min ago</span>
                    </div>
                </div>
                <div class="text"> 3 Replies</div>     
                <div class="button-dashed reply">
                    <button>Reply Now</button>
                </div>
            </div>

            <div class="doubt-body">
                Lorem ipsum dolor sit amet, an ius graeco scripta. Sea euismod antiopam dissentiet cu, tritani mandamus no vel. Fugit elitr nec an, eu eum tota periculis. Pri an audire assentior disputando, epicuri propriae delicata pri ad.

                Quo essent postulant te, dicant libris nostrum in nec. Quo albucius consetetur et, vis probo veritus volumus ea. Eu nibh saepe mnesarchum pro, qui prompta scripserit no, has errem timeam ex. Per quis solum prodesset in. Pri id populo intellegat, tollit pericula gloriatur duo cu.
            </div>
        </div>
        <div class="row doubt">
            <div class="d-flex flex-row doubt-head">
                <div class="left flex-row mr-auto">
                    <div class="round-img">
                        <img src="http://via.placeholder.com/150x150" class="rounded-circle">
                    </div>
                    <div class="author-name">
                        Abhishek Gupta
                        <br>
                        <span class="time">45min ago</span>
                    </div>
                </div>
                <div class="text"> 3 Replies</div>     
                <div class="button-dashed reply">
                    <button>Reply Now</button>
                </div>
            </div>

            <div class="doubt-body">
                Lorem ipsum dolor sit amet, an ius graeco scripta. Sea euismod antiopam dissentiet cu, tritani mandamus no vel. Fugit elitr nec an, eu eum tota periculis. Pri an audire assentior disputando, epicuri propriae delicata pri ad.

                Quo essent postulant te, dicant libris nostrum in nec. Quo albucius consetetur et, vis probo veritus volumus ea. Eu nibh saepe mnesarchum pro, qui prompta scripserit no, has errem timeam ex. Per quis solum prodesset in. Pri id populo intellegat, tollit pericula gloriatur duo cu.
            </div>
        </div>
        <div class="row doubt">
            <div class="d-flex flex-row doubt-head">
                <div class="left flex-row mr-auto">
                    <div class="round-img">
                        <img src="http://via.placeholder.com/150x150" class="rounded-circle">
                    </div>
                    <div class="author-name">
                        Abhishek Gupta
                        <br>
                        <span class="time">45min ago</span>
                    </div>
                </div>
                <div class="text"> 3 Replies</div>     
                <div class="button-dashed reply">
                    <button>Reply Now</button>
                </div>
            </div>

            <div class="doubt-body">
            <pre><code>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi pharetra molestie ex, quis ullamcorper eros sodales et. Aenean ut nunc posuere, euismod justo vitae, fringilla nibh. Cras et metus et est tristique congue a laoreet turpis. Etiam a commodo libero, vehicula fermentum dolor. Nulla non massa feugiat, tempor erat non, tincidunt felis. Nunc nibh ligula, eleifend eu ipsum ullamcorper, congue efficitur libero. Suspendisse rhoncus lacinia ultricies. Aenean vel tellus eu leo gravida vulputate a at metus.
            </code></pre>
            </div>
        </div>
    </div>
</div>


</div>
<!-- <div class="o-announcement">
<div class="heading-u">
    Announcements (45)
</div>
<div class="accordian-ul" data-show="true">
    <div class="accordian-head">
        <div class="flex-row">
            <div class="accordian-collapsar">
                <i class="fas fa-minus"></i>
            </div>
            <div class="img-desc flex-row">
                <div class="round-img">
                    <img src="" alt="">
                </div>
                <div>
                    <div class="heading-d">
                        <div class="main-h">
                            New Design and Prototype Section!
                        </div>
                        <div class="sub-h">
                            Prateek Narang | 45 min ago
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="flex-row">
            <div class="notify-type">
                <div class="notify-icon">
                    <span class="notify-dot new"></span>
                    <img src="images/announcement.png" alt="">
                </div>
            </div>
        </div>
    </div>

    <div class="accordian-li">
        <div class="classroom-para">
            We're happy to announce that we have a new section available!

            On this section we go over the most modern design and prototyping tools.
            We discuss design tools like Sketch 3, Photoshop, and Illustrator, so you can decide what to use.
            Overview of static prototyping tools like Marvel App and Invision
            Quick introduction to granular animation prototyping tools like Pixate, Flinto, FramerJS
            We create a simple design flow using Sketch!
            We put our prototype on Marvel
        </div>


    </div>
</div>

<div class="accordian-ul" data-show="false">
    <div class="accordian-head">
        <div class="flex-row">
            <div class="accordian-collapsar">
                <i class="fas fa-plus"></i>
            </div>
            <div class="img-desc flex-row">
                <div class="round-img">
                    <img src="" alt="">
                </div>
                <div>
                    <div class="heading-d">
                        <div class="main-h">
                            New Design and Prototype Section!
                        </div>
                        <div class="sub-h">
                            Prateek Narang | 45 min ago
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="flex-row">
            <div class="notify-type">
                <div class="notify-icon">
                    <span class="notify-dot new"></span>
                    <img src="images/announcement.png" alt="">
                </div>
            </div>
        </div>
    </div>

    <div class="accordian-li">
        <div class="classroom-para">
            We're happy to announce that we have a new section available!

            On this section we go over the most modern design and prototyping tools.
            We discuss design tools like Sketch 3, Photoshop, and Illustrator, so you can decide what to use.
            Overview of static prototyping tools like Marvel App and Invision
            Quick introduction to granular animation prototyping tools like Pixate, Flinto, FramerJS
            We create a simple design flow using Sketch!
            We put our prototype on Marvel
        </div>


    </div>
</div>

<div class="accordian-ul" data-show="true">
    <div class="accordian-head">
        <div class="flex-row">
            <div class="accordian-collapsar">
                <i class="fas fa-minus"></i>
            </div>
            <div class="img-desc flex-row">
                <div class="round-img">
                    <img src="" alt="">
                </div>
                <div>
                    <div class="heading-d">
                        <div class="main-h">
                            New Design and Prototype Section!
                        </div>
                        <div class="sub-h">
                            Prateek Narang | 45 min ago
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="flex-row">
            <div class="notify-type">
                <div class="notify-icon">
                    <span class="notify-dot new"></span>
                    <img src="images/announcement.png" alt="">
                </div>
            </div>
        </div>
    </div>

    <div class="accordian-li">
        <div class="classroom-para">
            We're happy to announce that we have a new section available!

            On this section we go over the most modern design and prototyping tools.
            We discuss design tools like Sketch 3, Photoshop, and Illustrator, so you can decide what to use.
            Overview of static prototyping tools like Marvel App and Invision
            Quick introduction to granular animation prototyping tools like Pixate, Flinto, FramerJS
            We create a simple design flow using Sketch!
            We put our prototype on Marvel
        </div>


    </div>
</div>

<div class="button-dashed">
    <button>Load More</button>
</div>
</div> -->
