<!--
INPUT TEXT

* Use "icon" class to show icon for input
-->

<h3>Normal Input</h3>
<input type="text" class="input-text" placeholder="Enter Username">

<h3>Input with Icon</h3>
<input type="text" class="input-text icon" placeholder="Enter Username">

<h3>Input with Overlay Button</h3>
<div class="input-btn">
    <input type="text" class="input-text" placeholder="Enter Username">
    <button class="grey">Forgot?</button>
</div>



<!--
INPUT CHECKBOX
-->

<h3>Checkbox</h3>
<input type="checkbox" id="remember" class="input-checkbox">
<label for="remember"> Remember me</label>
