{{> nav-bar }}

<div class="item-heading row">
    <div class="col-md-6 col-sm-12 col-xs-12">
        <div class="row">
            <div class="col-md-6 heading-u">
               REVIEW & PAY
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-12 col-md-12">
                <div class="card o-item-card">
                    <div class="row">
                        <div class="item-details col-12 col-sm-12 col-md-6">
                            <div class="header row no-gutters align-items-center">
                                <div class="item-img col-3">
                                    <img src="images/c++" alt="">
                                </div>
                                <div class="heading-d col-9">
                                    <div class="main-h">Product Name here</div>
                                    <div class="sub-h black">Any meta information</div>
                                </div>
                            </div>

                            <div class="row align-items-center">
                                <span class="font-lg">Rs 5000</span>
                                <span>+18% Tax</span>
                            </div>
                            <div class="line-through">Rs 8000</div>

                            <div class="footer black pointer">X Remove from product Cart</div>
                        </div>

                        <div class="quantity-details col-12 col-sm-12 col-md-6">
                            <div class="detail-row row justify-content-between">
                                <span>Quantity</span>
                                <span> <span class="pointer">+</span> <span class="total-items">5</span> <span class="pointer">-</span></span>
                            </div>

                            <div class="detail-row row justify-content-between">
                                <span>Tax</span>
                                <span>Rs 800</span>
                            </div>

                            <div class="detail-row row justify-content-between">
                                <span>Final Amount</span>
                                <span>Rs 4000</span>
                            </div>

                            <div class="footer row align-items-center no-gutters">
                                <div class="promo-img col-2">
                                    <img src="images/c++" alt="">
                                </div>
                                <div class="promo red col-7">
                                    <p>FLAT20</p>
                                    <p>Applied Successfully</p>
                                </div>
                                <div class="no-promo pointer col-3">Remove</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row no-gutters">
            <div class="col-12 col-md-12">
                <div class="card o-item-card">
                    <div class="row">
                        <div class="item-details col-12 col-sm-12 col-md-6">
                            <div class="header row no-gutters align-items-center">
                                <div class="item-img col-3">
                                    <img src="images/c++" alt="">
                                </div>
                                <div class="heading-d col-9">
                                    <div class="main-h">Product Name here</div>
                                    <div class="sub-h black">Any meta information</div>
                                </div>
                            </div>

                            <div class="row align-items-center">
                                <span class="font-lg">Rs 5000</span>
                                <span>+18% Tax</span>
                            </div>
                            <div class="line-through">Rs 8000</div>

                            <div class="footer black pointer">X Remove from product Cart</div>
                        </div>

                        <div class="quantity-details col-12 col-sm-12 col-md-6">
                            <div class="detail-row row justify-content-between">
                                <span>Quantity</span>
                                <span> <span class="pointer">+</span> <span class="total-items">5</span> <span class="pointer">-</span></span>
                            </div>

                            <div class="detail-row row justify-content-between">
                                <span>Tax</span>
                                <span>Rs 800</span>
                            </div>

                            <div class="detail-row row justify-content-between">
                                <span>Final Amount</span>
                                <span>Rs 4000</span>
                            </div>

                            <div class="footer row align-items-center no-gutters">
                                <div class="promo-img col-2">
                                    <img src="images/c++" alt="">
                                </div>
                                <div class="promo red col-7">
                                    <p>FLAT20</p>
                                    <p>Applied Successfully</p>
                                </div>
                                <div class="no-promo pointer col-3">Remove</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row no-gutters">
            <div class="col-12 col-md-12">
                <div class="card o-item-card">
                    <div class="row">
                        <div class="item-details col-12 col-sm-12 col-md-6">
                            <div class="header row no-gutters align-items-center">
                                <div class="item-img col-3">
                                    <img src="images/c++" alt="">
                                </div>
                                <div class="heading-d col-9">
                                    <div class="main-h">Product Name here</div>
                                    <div class="sub-h black">Any meta information</div>
                                </div>
                            </div>

                            <div class="row align-items-center">
                                <span class="font-lg">Rs 5000</span>
                                <span>+18% Tax</span>
                            </div>
                            <div class="line-through">Rs 8000</div>

                            <div class="footer black pointer">X Remove from product Cart</div>
                        </div>

                        <div class="quantity-details col-12 col-sm-12 col-md-6">
                            <div class="detail-row row justify-content-between">
                                <span>Quantity</span>
                                <span> <span class="pointer">+</span> <span class="total-items">5</span> <span class="pointer">-</span></span>
                            </div>

                            <div class="detail-row row justify-content-between">
                                <span>Tax</span>
                                <span>Rs 800</span>
                            </div>

                            <div class="detail-row row justify-content-between">
                                <span>Final Amount</span>
                                <span>Rs 4000</span>
                            </div>

                            <div class="footer row align-items-center no-gutters">
                                <div class="promo-img col-2">
                                    <img src="images/c++" alt="">
                                </div>
                                <div class="promo red col-7">
                                    <p>FLAT20</p>
                                    <p>Applied Successfully</p>
                                </div>
                                <div class="no-promo pointer col-3">Remove</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="col-md-6 col-sm-12 col-xs-12">
        <div class="card o-checkout-card">
            <div class="address row justify-content-between">
                <span>Shipping Address</span>
                <span class="font-sm red pointer">Change</span>
                <div class="para grey">
                    47, Nishant Kunj, 1st & 2nd Floor, Pitampura Main Road, Opposite Metro Pillar 337,  New Delhi, 110034
                </div>
            </div>

            <div class="address row justify-content-between">
                <span>Billing Address</span>
                <span class="font-sm red pointer">Change</span>
                <div class="para grey">
                    47, Nishant Kunj, 1st & 2nd Floor, Pitampura Main Road, Opposite Metro Pillar 337,  New Delhi, 110034
                </div>
            </div>

            <div class="quantity-details row justify-content-between">
                <span>Total Items</span>
                <span class="font-lg">20</span>
            </div>

            <div class="quantity-details row justify-content-between">
                <span>Total Amount</span>
                <span class="font-lg">Rs 20000</span>
            </div>

            <div>
                Apply Coupon
            </div>

            <div class="faded-cont row justify-content-between align-items-center">
                <span class="black">FLAT20</span>
                <span class="no-promo font-sm grey pointer">Remove</span>
            </div>

            <div class="red">
                Coupon Applied Successfully
            </div>

            <div class="button-solid">
                <button>Proceed to Checkout &gt</button>
            </div>
        </div>
    </div>
</div>
