{{> nav-bar }}
<div class="grid row">
    <div class="card-layout col-lg-3 col-md-4 col-sm-6">
        <div class="card my-course o-layout-card ">
            <div class="card-heading o-text-card">
                MARCH' 18
            </div>
            <div class="row">
                <div class="batch">
                    <div class="card-text grey">
                        Batch Starts
                    </div>
                    <div class="card-text">
                        20th March 2018
                    </div>
                </div>

                <div class="divider-v"></div>

                <div class="batch">
                    <div class="card-text grey">
                        Batch Ends
                    </div>
                    <div class="card-text">
                        20th March 2018
                    </div>
                </div>
            </div>

            <div class="price">
                Rs 9000
            </div>
            
            <div class="my-course-enroll row no-gutters">
                <div class="col-8 align-self-end">
                    <div>HURRY UP!</div>
                    <div class="red">Enrollment ends 21th Feb. 2018 </div>
                </div>

                <div class="button-parent col-4">
                    <div class="button-solid">
                        <button>Enroll Now</button>
                    </div>
                </div>

            </div>

            <div class="card-mentor-divider"></div>

            <div class="row no-gutters">
                <div class="col-8 align-self-center">
                    You may also try our
                    free lectures:
                </div>
                <div class="button-parent col-4">
                    <div class="button-dashed">
                        <button>Start Free Trial</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-layout col-lg-3 col-md-4 col-sm-6">
        <div class="card my-course o-layout-card ">
            <div class="card-heading o-text-card">
                MARCH' 18
            </div>
            <div class="row">
                <div class="batch">
                    <div class="card-text grey">
                        Batch Starts
                    </div>
                    <div class="card-text">
                        20th March 2018
                    </div>
                </div>

                <div class="divider-v"></div>

                <div class="batch">
                    <div class="card-text grey">
                        Batch Ends
                    </div>
                    <div class="card-text">
                        20th March 2018
                    </div>
                </div>
            </div>

            <div class="price">
                Rs 9000
            </div>
            <div class="my-course-enroll row no-gutters">
                <div class="col-8 align-self-end">
                    <div>HURRY UP!</div>
                    <div class="red">Enrollment ends 21th Feb. 2018 </div>
                </div>

                <div class="button-parent col-4">
                    <div class="button-solid">
                        <button>Enroll Now</button>
                    </div>
                </div>

            </div>

            <div class="card-mentor-divider"></div>

            <div class="row no-gutters">
                <div class="col-8 align-self-center">
                    You may also try our
                    free lectures:
                </div>
                <div class="button-parent col-4">
                    <div class="button-dashed">
                        <button>Start Free Trial</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-layout col-lg-3 col-md-4 col-sm-6">
        <div class="card my-course o-layout-card ">
            <div class="card-heading o-text-card">
                MARCH' 18
            </div>
            <div class="row">
                <div class="batch">
                    <div class="card-text grey">
                        Batch Starts
                    </div>
                    <div class="card-text">
                        20th March 2018
                    </div>
                </div>

                <div class="divider-v"></div>

                <div class="batch">
                    <div class="card-text grey">
                        Batch Ends
                    </div>
                    <div class="card-text">
                        20th March 2018
                    </div>
                </div>
            </div>

            <div class="price">
                Rs 9000
            </div>
            <div class="my-course-enroll row no-gutters">
                <div class="col-8 align-self-end">
                    <div>HURRY UP!</div>
                    <div class="red">Enrollment ends 21th Feb. 2018 </div>
                </div>

                <div class="button-parent col-4">
                    <div class="button-solid">
                        <button>Enroll Now</button>
                    </div>
                </div>

            </div>

            <div class="card-mentor-divider"></div>

            <div class="row no-gutters">
                <div class="col-8 align-self-center">
                    You may also try our
                    free lectures:
                </div>
                <div class="button-parent col-4">
                    <div class="button-dashed">
                        <button>Start Free Trial</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-layout col-lg-3 col-md-4 col-sm-6">
        <div class="card my-course o-layout-card ">
            <div class="card-heading o-text-card">
                MARCH' 18
            </div>
            <div class="row">
                <div class="batch">
                    <div class="card-text grey">
                        Batch Starts
                    </div>
                    <div class="card-text">
                        20th March 2018
                    </div>
                </div>

                <div class="divider-v"></div>

                <div class="batch">
                    <div class="card-text grey">
                        Batch Ends
                    </div>
                    <div class="card-text">
                        20th March 2018
                    </div>
                </div>
            </div>

            <div class="price">
                Rs 9000
            </div>
            <div class="my-course-enroll row no-gutters">
                <div class="col-8 align-self-end">
                    <div>HURRY UP!</div>
                    <div class="red">Enrollment ends 21th Feb. 2018 </div>
                </div>

                <div class="button-parent col-4 align-self-center">
                    <div class="button-solid">
                        <button>Enroll Now</button>
                    </div>
                </div>

            </div>

            <div class="card-mentor-divider"></div>

            <div class="row no-gutters">
                <div class="col-8 align-self-center">
                    You may also try our
                    free lectures:
                </div>
                <div class="button-parent col-4 align-self-center">
                    <div class="button-dashed">
                        <button>Start Free Trial</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-layout col-lg-3 col-md-4 col-sm-6">
        <div class="card my-course o-layout-card ">
            <div class="card-heading o-text-card">
                MARCH' 18
            </div>
            <div class="row">
                <div class="batch">
                    <div class="card-text grey">
                        Batch Starts
                    </div>
                    <div class="card-text">
                        20th March 2018
                    </div>
                </div>

                <div class="divider-v"></div>

                <div class="batch">
                    <div class="card-text grey">
                        Batch Ends
                    </div>
                    <div class="card-text">
                        20th March 2018
                    </div>
                </div>
            </div>

            <div class="price">
                Rs 9000
            </div>
            <div class="my-course-enroll row no-gutters">
                <div class="col-8 align-self-end">
                    <div>HURRY UP!</div>
                    <div class="red">Enrollment ends 21th Feb. 2018 </div>
                </div>

                <div class="button-parent col-4 align-self-center">
                    <div class="button-solid">
                        <button>Enroll Now</button>
                    </div>
                </div>

            </div>

            <div class="card-mentor-divider"></div>

            <div class="row no-gutters">
                <div class="col-8 align-self-center">
                    You may also try our
                    free lectures:
                </div>
                <div class="button-parent col-4 align-self-center">
                    <div class="button-dashed">
                        <button>Start Free Trial</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
