{{> nav-bar }}

<div class="o-otp-enroll row align-items-center">
    <div class="col-12 col-lg-6 flex-row justify-content-center">
        <div>
            <p class="text-center text-lg-left">ENROLL TO COURSES VIA OTP</p>
            <p class="red text-center text-lg-left">We have sent an OTP to your registered Email</p>
        </div>
    </div>
    <div class="col-12 col-lg-6">
        <div class="row justify-content-center justify-content-lg-end">
            <div class="col-12 col-md-3 col-lg-8 d-flex justify-content-center justify-content-md-end p-1">
                <div class="input-search">
                    <input type="text" placeholder="Enter OTP">
                </div>
            </div>
            <div class="col-12 col-md-3 col-lg-4 d-flex justify-content-center justify-content-md-start p-1">
                <div class="button-solid">
                    <button>Enroll Now</button>
                </div>
            </div>
        </div>
    </div>
</div>
