{{> nav-bar }}

<div class="classroom-container row">

    <div class="classroom-header-box col-md-6 col-12">
        <div class="classroom-header row">
            <div class="classroom-image col-2">
                <img src="images/c++" alt="">
            </div>
            <div class="classroom-text col-10">
                Competitive Programming

                <div class="rating mob">
                    <span class="pos-rating">
                        <i class="fas fa-star"></i>
                    </span>
                    <span class="pos-rating">
                        <i class="fas fa-star"></i>
                    </span>
                    <span class="pos-rating">
                        <i class="fas fa-star"></i>
                    </span>
                    <span class="pos-rating">
                        <i class="fas fa-star"></i>
                    </span>
                    <span class="neg-rating">
                        <i class="fas fa-star"></i>
                    </span>
                    <span class="edit-rating">Edit my rating</span>

                </div>
            </div>
        </div>
        <p class="classroom-para">
            Coding Blocks is pleased to bring you the ultimate competitive programming course, hand crafted to ensure your success in challengessuch as Google CodeJam,
            Google Kickstart, ACM-ICPC, and more.
        </p>
        <div class="rating">
            <span class="pos-rating">
                <i class="fas fa-star"></i>
            </span>
                <span class="pos-rating">
                <i class="fas fa-star"></i>
            </span>
                <span class="pos-rating">
                <i class="fas fa-star"></i>
            </span>
                <span class="pos-rating">
                <i class="fas fa-star"></i>
            </span>
                <span class="neg-rating">
                <i class="fas fa-star"></i>
            </span>
            <span class="edit-rating">Edit my rating</span>
        </div>
    </div>
    <div class="course-progress-box col-md-6 col-12 ">
        <div class="course-progress-heading row no-gutters">
            <div class="heading col-4 col-md-6 align-self-center">Course Progress</div>
            <div class="divider-h col-6 align-self-center"></div>
        </div>

        <div class="progress row no-gutters justify-content-around align-items-center">
            <div class="progress-circle col-3 col-md-3">
                <div class="status-circle">
                    <div class="circle-back"></div>
                    <div class="circle-front d-flex flex-column justify-content-center">
                        <p class="progress-text">26%</p>
                    </div>
                </div>
            </div>

            <div class="course-progress-detail col-5 col-md-9">
                <p class="heading-mob">Course Progress</p>
                <p class="lectures-completed">12 of 46 completed</p>
                <button class="reset-progress">Reset Progress</button>
            </div>

            <div class="offset-md-5 col-4 col-md-5">
                <div class="button-solid">
                    <button>Resume</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="tab-nav">
    <div class="tab-list">
        <div class="tab-items active">Overview</div>
        <div class="tab-icons active"><img src="images/video-green-dark.png" alt=""></div>
        <div class="tab-items">Course Content</div>
        <div class="tab-icons"><img src="images/video-green-dark.png" alt=""></div>
        <div class="tab-items">Announcements</div>
        <div class="tab-icons"><img src="images/video-green-dark.png" alt=""></div>
        <div class="tab-items">Solve Your Doubts</div>
        <div class="tab-icons"><img src="images/video-green-dark.png" alt=""></div>
    </div>
</div>


<div class="overview-container">
    <!-- -----------------------------------------Recent Activity--------------------------------- -->
    <div class="heading-u">
        Recent Activity
    </div>

    <div class="container-fluid pl-0 pr-0">
        <div class="o-overview-recent row">
            <div class="col-12 col-md-6">
                <div class="card">
                    <div class="heading">Recent Doubts</div>
                    <div class="card-content">
                    <div class="row">
                        <div class="notify-type col-2 ">
                            <div class="notify-icon">
                                <span class="notify-dot new"></span>
                                <img src="images/doubt.png" alt="">
                            </div>
                        </div>
                        <div class="card-text col-10 align-self-center">
                            Varun asked a doubt "<a class="faded" title="hello">sample text lorem ipsum let ips istim tum</a>"
                        </div>

                    </div>
                    <div class="row">
                        <div class="notify-type col-2">
                            <div class="notify-icon">
                                <span class="notify-dot new"></span>
                                <img src="images/doubt.png" alt="">
                            </div>
                        </div>
                        <div class="card-text col-10 align-self-center">
                            Sid asked a doubt "<span class="faded">sample text lorem ipsum let ips istim tum</span>"
                        </div>
                    </div>
                    <div class="row">
                        <div class="notify-type col-2">
                            <div class="notify-icon">
                                <span class="notify-dot new"></span>
                                <img src="images/doubt.png" alt="">
                            </div>
                        </div>
                        <div class="card-text col-10 align-self-center">
                            Sid asked a doubt "<span class="faded">sample text lorem ipsum let ips istim tum</span>"
                        </div>
                    </div>
                    <div class="row">
                        <div class="notify-type col-2">
                            <div class="notify-icon">
                                <span class="notify-dot new"></span>
                                <img src="images/doubt.png" alt="">
                            </div>
                        </div>
                        <div class="card-text col-10 align-self-center">
                            Sid asked a doubt "<span class="faded">sample text lorem ipsum let ips istim tum</span>"
                        </div>
                    </div>
                    <div class="row">
                        <div class="notify-type col-2">
                            <div class="notify-icon">
                                <span class="notify-dot new"></span>
                                <img src="images/doubt.png" alt="">
                            </div>
                        </div>
                        <div class="card-text col-10 align-self-center">
                            Sid asked a doubt "<span class="faded">sample text lorem ipsum let ips istim tum</span>"
                        </div>
                    </div>
                    <div class="row">
                        <div class="notify-type col-2">
                            <div class="notify-icon">
                                <span class="notify-dot new"></span>
                                <img src="images/doubt.png" alt="">
                            </div>
                        </div>
                        <div class="card-text col-10 align-self-center">
                            Sid asked a doubt "<span class="faded">sample text lorem ipsum let ips istim tum</span>"
                        </div>
                    </div>

                    <div class="row">
                        <div class="notify-type col-2">
                            <div class="notify-icon">
                                <span class="notify-dot"></span>
                                <img src="images/doubt.png" alt="">
                            </div>
                        </div>
                        <div class="card-text col-10 align-self-center">
                            Varun asked a doubt "<span class="faded">sample text lorem ipsum let ips istim tum</span>"
                        </div>
                    </div>

                    <div class="row">
                        <div class="notify-type col-2">
                            <div class="notify-icon">
                                <span class="notify-dot"></span>
                                <img src="images/doubt.png" alt="">
                            </div>
                        </div>
                        <div class="card-text col-10 align-self-center">
                            Varun asked a doubt "<span class="faded">sample text lorem ipsum let ips istim tum</span>"
                        </div>
                    </div>

                    </div>

                    <div class="pull-right">
                        Browse All
                    </div>
                </div>

            </div>

            <div class="col-12 col-md-6">
                <div class="card">
                    <div class="heading">Announcements</div>
                    <div class="row">
                        <div class="notify-type col-2">
                            <div class="notify-icon">
                                <span class="notify-dot new"></span>
                                <img src="images/announcement.png" alt="">
                            </div>
                        </div>
                        <div class="card-text col-10 align-self-center">
                            UPDATE: UI animation on Flinto
                        </div>

                    </div>

                    <div class="row">
                        <div class="notify-type col-2">
                            <div class="notify-icon">
                                <span class="notify-dot new"></span>
                                <img src="images/announcement.png" alt="">
                            </div>
                        </div>
                        <div class="card-text col-10 align-self-center">
                            New Section: Principle App
                        </div>

                    </div>

                    <div class="row">
                        <div class="notify-type col-2">
                            <div class="notify-icon">
                                <span class="notify-dot"></span>
                                <img src="images/announcement.png" alt="">
                            </div>
                        </div>
                        <div class="card-text col-10 align-self-center">
                            New Design and Prototype Section!
                        </div>

                    </div>

                    <div class="row">
                        <div class="notify-type col-2">
                            <div class="notify-icon">
                                <span class="notify-dot"></span>
                                <img src="images/announcement.png" alt="">
                            </div>
                        </div>
                        <div class="card-text col-10 align-self-center">
                            New section: 9 videos
                        </div>

                    </div>

                    <div class="row">
                        <div class="notify-type col-2">
                            <div class="notify-icon">
                                <span class="notify-dot"></span>
                                <img src="images/announcement.png" alt="">
                            </div>
                        </div>
                        <div class="card-text col-10 align-self-center">
                            New section: 9 videos added with new features explained
                        </div>

                    </div>

                    <div class="pull-right">
                        Browse All
                    </div>
                </div>

            </div>

        </div>
    </div>


    <!-- -----------------------------------------About this course--------------------------------- -->
    <div class="heading-u">
        About This Course
    </div>

    <div class="o-overview-course">
        <div class="row no-gutters flex-wrap-reverse">
            <div class="course-features col-12 col-md-5">
                <div class="row no-gutters justify-content-center">
                    <div class="img-box col-2 align-self-center">
                        <div class="img-container">
                            <div class="round-img">
                                <img src="" alt="">
                            </div>
                        </div>

                    </div>
                    <div class="para col-4 align-self-center">
                        30+ Hours Video Content
                    </div>

                    <div class="img-box col-2 align-self-center">
                        <div class="img-container">
                            <div class="round-img">
                                <img src="" alt="">
                            </div>
                        </div>

                    </div>
                    <div class="para col-4 align-self-center">
                        Full Lifetime Access
                    </div>
                </div>

                <div class="row no-gutters justify-content-center">
                    <div class="img-box col-2 align-self-center">
                        <div class="img-container">
                            <div class="round-img">
                                <img src="" alt="">
                            </div>
                        </div>

                    </div>
                    <div class="para col-4 align-self-center">
                        Certification of Completion
                    </div>

                    <div class="img-box col-2 align-self-center">
                        <div class="img-container">
                            <div class="round-img">
                                <img src="" alt="">
                            </div>
                        </div>

                    </div>
                    <div class="para col-4 align-self-center">
                        Supplemental Resources
                    </div>
                </div>

            </div>

            <div class="classroom-para col-12 offset-md-1 col-md-5">
                Coding Blocks is pleased to bring you the ultimate competitive programming course, hand crafted to ensure your success in challenges such as Google CodeJam, Google Kickstart, ACM-ICPC, and more. This 8 week programme will kickstart your foray in to the exciting world of competitive coding. You will master commonly used problem solving techniques, hone your mathematical analysis skills, and push the boundaries of your reasoning abilities. The course will cover Advanced Data Structures like Segment Trees, Binary Index / Fenwick Trees.
            </div>
        </div>

    </div>

    <!-------------------------------------------About Instructors------------------------------------>
    <div class="heading-u">
        About Instructors
    </div>

    <div class="o-about-instructors">
        <div class="row no-gutters">
            <div class="col-md-6 col-12">
                <div class="img-desc row no-gutters">
                    <div class="col-4">
                        <div class="img-container">
                            <div class="round-img">
                                <img src="" alt="">
                            </div>
                        </div>
                    </div>


                    <div class="description col-8">
                        <div class="heading-d">
                            <div class="main-h">
                                Prateek Narang
                            </div>
                            <div class="sub-h">
                                Founding Member, Coding Blocks
                            </div>
                        </div>

                        <div class="classroom-para">
                            Coding Blocks is pleased to bring you the ultimate competitive programming course, hand crafted                            Coding Blocks is pleased to bring you the ultimate competitive programming course, hand crafted
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-12">
                <div class="img-desc row no-gutters">
                    <div class="col-4">
                        <div class="img-container">
                            <div class="round-img">
                                <img src="" alt="">
                            </div>
                        </div>

                    </div>


                    <div class="description col-8">
                        <div class="heading-d">
                            <div class="main-h">
                                Prateek Narang
                            </div>
                            <div class="sub-h">
                                Founding Member, Coding Blocks
                            </div>
                        </div>

                        <div class="classroom-para">
                            Coding Blocks is pleased to bring you the ultimate competitive programming course, hand crafted                            Coding Blocks is pleased to bring you the ultimate competitive programming course, hand crafted
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row no-gutters">
            <div class="col-md-6 col-12">
                <div class="img-desc row no-gutters">
                    <div class="col-4">
                        <div class="img-container">
                            <div class="round-img">
                                <img src="" alt="">
                            </div>
                        </div>
                    </div>


                    <div class="description col-8">
                        <div class="heading-d">
                            <div class="main-h">
                                Prateek Narang
                            </div>
                            <div class="sub-h">
                                Founding Member, Coding Blocks
                            </div>
                        </div>

                        <div class="classroom-para">
                            Coding Blocks is pleased to bring you the ultimate competitive programming course, hand crafted                            Coding Blocks is pleased to bring you the ultimate competitive programming course, hand crafted
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-12">
                <div class="img-desc row no-gutters">
                    <div class="col-4">
                        <div class="img-container">
                            <div class="round-img">
                                <img src="" alt="">
                            </div>
                        </div>

                    </div>


                    <div class="description col-8">
                        <div class="heading-d">
                            <div class="main-h">
                                Prateek Narang
                            </div>
                            <div class="sub-h">
                                Founding Member, Coding Blocks
                            </div>
                        </div>

                        <div class="classroom-para">
                            Coding Blocks is pleased to bring you the ultimate competitive programming course, hand crafted                            Coding Blocks is pleased to bring you the ultimate competitive programming course, hand crafted
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
