
        <div class="container">
            <div class="o-profile">
                <div class="card">
                    <div class="heading-u-red">
                        MY PROFILE
                    </div>
                    <div class="edit flex-row">
                        <div class="round-img"></div>
                        <div class="button-solid">
                            <button>EDIT PROFILE</button>
                        </div>
                    </div>
                    <div class="attributes flex-col">
                        <div class="flex-row">
                            <div>UserID</div>
                            <div><span class="faded">8769</span></div>
                        </div>
                        <div class="flex-row">
                            <div>Username</div>
                            <div><span class="faded">sidjain</span></div>
                        </div>
                        <div class="flex-row">
                            <div>Firstname</div>
                            <div><span class="faded">Siddhart</span></div>
                        </div>
                        <div class="flex-row">
                            <div>Lastname</div>
                            <div><span class="faded">Jain</span></div>
                        </div>
                        <div class="flex-row">
                            <div>Email Address</div>
                            <div><span class="faded">sidjain2901@gmail.com</span></div>
                        </div>
                        <div class="flex-row">
                            You may also connect to:
                        </div>
                    </div>


                    <div>
                        <div class="links flex-row">
                            <div class="auth-link">
                                <button class="button-circle facebook">
                                    <i class="fab fa-facebook-f fa-2x"></i>
                                </button>
                                <div>FACEBOOK</div>
                            </div>
                            <div class="auth-link">
                                <button class="button-circle google">
                                    <i class="fab fa-google-plus-g fa-2x"></i>
                                </button>
                                <div>GOOGLE</div>
                            </div>
                            <div class="auth-link">
                                <button class="button-circle twitter">
                                    <i class="fab fa-twitter fa-2x"></i>
                                </button>
                                <div>TWITTER</div>
                            </div>
                            <div class="auth-link">
                                <button class="button-circle github">
                                    <i class="fab fa-github fa-2x"></i>
                                </button >
                                <div>GITHUB</div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>

        <hr style="margin: 100px;">

        <div class="container">
            <div class="o-edit-profile">
                <div class="card">
                    <div class="heading-u-red">
                        EDIT PROFILE
                    </div>

                    <div class="attributes flex-col">
                        <div class="flex-row">
                            <div>UserID</div>
                            <input type="text" disabled>
                        </div>
                        <div class="flex-row">
                            <div>Username</div>
                            <input type="text" disabled>
                        </div>
                        <div class="flex-row">
                            <div>Firstname</div>
                            <input type="text" >
                        </div>
                        <div class="flex-row">
                            <div>Lastname</div>
                            <input type="text" >
                        </div>
                        <div class="flex-row">
                            <div>Email</div>
                            <input type="text" disabled>
                        </div>
                        <div class="flex-row">
                            <div>Password</div>
                            <input type="text" >
                        </div>
                        <div class="flex-row">
                            <div>Re-enter</div>
                            <input type="text" >
                        </div>
                    </div>

                    <div class="footer flex-row">
                        <div class="">
                            <button>RESET</button>
                        </div>
                        <div class="button-solid">
                            <button>SAVE CHANGES</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
