{{> nav-bar }}
    <div class="o-progress">
        <div class="o-accordian">
            <div class="accordian-ul" data-show="true">
                <div class="accordian-head">
                    <div class="flex-row">
                        <div class="accordian-collapsar">
                            -
                        </div>
                        <div class="accordian-heading">
                            Mathematics 1.0
                        </div>
                    </div>

                    <div class="flex-row">
                        <div class="accordian-status">
                            <span class="completed">2</span>/ 6 Lectures Completed
                        </div>
                    </div>
                </div>

                <div data-completed="true" class="accordian-li">
                    <div class="li-left flex-row">
                        <div class="accordian-li-type"></div>
                        <div class="accordian-li-heading">
                            Chewback and numbers system and basic execution tutorial
                            fgds dfg dg g gsdlkg sdf;lkjg sf;lkgj g;sfdjg l;kfd lkfj j sfkjgf
                        </div>
                    </div>

                    <div class="flex-row">
                        <div class="accordian-li-duration">
                            03:34
                        </div>
                        <div class="circle-back">
                            <div class="circle-front"></div>
                        </div>
                    </div>


                </div>

                <div data-completed="true" class="accordian-li">
                    <div class="li-left flex-row">
                        <div class="accordian-li-type"></div>
                        <div class="accordian-li-heading">
                            Chewback and numbers system
                        </div>
                    </div>

                    <div class="flex-row">
                        <div class="accordian-li-duration">
                            03:34
                        </div>
                        <div class="circle-back">
                            <div class="circle-front"></div>
                        </div>
                    </div>


                </div>

                <div data-completed="false" class="accordian-li">
                    <div class="li-left flex-row">
                        <div class="accordian-li-type"></div>
                        <div class="accordian-li-heading">
                            Chewback and numbers system
                        </div>
                    </div>

                    <div class="flex-row">
                        <div class="accordian-li-duration">
                            03:34
                        </div>
                        <div class="circle-back">
                            <div class="circle-front"></div>
                        </div>
                    </div>


                </div>


            </div>

            <div class="accordian-ul" data-show="false">
                <div class="accordian-head">
                    <div class="flex-row">
                        <div class="accordian-collapsar">
                            +
                        </div>
                        <div class="accordian-heading">
                            Mathematics 1.0
                        </div>
                    </div>

                    <div class="flex-row">
                        <div class="accordian-status">
                            <span class="completed">2</span>/ 6 Lectures Completed
                        </div>
                    </div>
                </div>

                <div data-completed="false" class="accordian-li">
                    <div class="li-left flex-row">
                        <div class="accordian-li-type"></div>
                        <div class="accordian-li-heading">
                            Chewback and numbers system
                        </div>
                    </div>

                    <div class="flex-row">
                        <div class="accordian-li-duration">
                            03:34
                        </div>
                        <div class="circle-back">
                            <div class="circle-front"></div>
                        </div>
                    </div>


                </div>

                <div data-completed="false" class="accordian-li">
                    <div class="li-left flex-row">
                        <div class="accordian-li-type"></div>
                        <div class="accordian-li-heading">
                            Chewback and numbers system
                        </div>
                    </div>

                    <div class="flex-row">
                        <div class="accordian-li-duration">
                            03:34
                        </div>
                        <div class="circle-back">
                            <div class="circle-front"></div>
                        </div>
                    </div>


                </div>


            </div>

            <div class="accordian-ul" data-show="true">
                <div class="accordian-head">
                    <div class="flex-row">
                        <div class="accordian-collapsar">
                            -
                        </div>
                        <div class="accordian-heading">
                            Mathematics 1.0
                        </div>
                    </div>

                    <div class="flex-row">
                        <div class="accordian-status">
                            <span class="completed">2</span>/ 6 Lectures Completed
                        </div>
                    </div>
                </div>

                <div data-completed="true" class="accordian-li">
                    <div class="li-left flex-row">
                        <div class="accordian-li-type"></div>
                        <div class="accordian-li-heading">
                            Chewback and numbers system
                        </div>
                    </div>

                    <div class="flex-row">
                        <div class="accordian-li-duration">
                            03:34
                        </div>

                        <div class="circle-back">
                            <div class="circle-front"></div>
                        </div>

                    </div>


                </div>

                <div data-completed="true" class="accordian-li">
                    <div class="li-left flex-row">
                        <div class="accordian-li-type"></div>
                        <div class="accordian-li-heading">
                            Chewback and numbers system
                        </div>
                    </div>

                    <div class="flex-row">
                        <div class="accordian-li-duration">
                            03:34
                        </div>

                        <div class="circle-back">
                            <div class="circle-front"></div>
                        </div>

                    </div>


                </div>

                <div data-completed="false" class="accordian-li">
                    <div class="li-left flex-row">
                        <div class="accordian-li-type"></div>
                        <div class="accordian-li-heading">
                            Chewback and numbers system
                        </div>
                    </div>

                    <div class="flex-row">
                        <div class="accordian-li-duration">
                            03:34
                        </div>

                        <div class="circle-back">
                            <div class="circle-front"></div>
                        </div>

                    </div>


                </div>

                <div data-completed="false" class="accordian-li">
                    <div class="li-left flex-row">
                        <div class="accordian-li-type"></div>
                        <div class="accordian-li-heading">
                            Chewback and numbers system
                        </div>
                    </div>

                    <div class="flex-row">
                        <div class="accordian-li-duration">
                            03:34
                        </div>

                        <div class="circle-back">
                            <div class="circle-front"></div>
                        </div>

                    </div>


                </div>


            </div>
        </div>
    </div>