{{> nav-bar }}
<div class="rating">
        <span class="pos-rating">
            <i class="fas fa-star"></i>
        </span>
        <span class="pos-rating">
            <i class="fas fa-star"></i>
        </span>
        <span class="pos-rating">
            <i class="fas fa-star"></i>
        </span>
        <span class="pos-rating">
            <i class="fas fa-star"></i>
        </span>
        <span class="neg-rating">
            <i class="fas fa-star"></i>
        </span>
</div>
