{{> nav-bar }}
<div class="o-content-section">
    <div class="header flex-row">
        <div class="section-toggler flex-row">
            <div class="button-dashed">
                <button onclick="sectionToggler()">X Table of Content</button>
            </div>
        </div>
        <div class="flex-row dashboard">
            <div class="heading-d">
                <div class="main-h">
                    Section 1.1 - Fast Exponentiation
                </div>
                <div class="sub-h">
                    Section 1 - Mathematics
                </div>
            </div>

            <div class="flex-row">
                <div class="notify-type">
                    <div class="notify-text">
                        <span class="notify-dot new"></span>
                        Solve Doubts
                    </div>
                </div>
                {{>button type='solid' text='Go to Dashboard'}}
            </div>

        </div>
    </div>
    <div class="o-pb-alert">
        This feature is only available on Desktop screens
    </div>
    <div class="content-section">
        <div class="section collapse">
            <div class="o-accordian">
                <div class="accordian-ul" data-show="true">
                    <div class="accordian-head">
                        <div class="li-left flex-row">
                            <div class="accordian-collapsar">
                                -
                            </div>
                            <div class="accordian-heading">
                                Mathematics 1.0
                            </div>
                        </div>

                        <div class="flex-row">
                            <div class="accordian-status">
                                <span class="completed">2</span>/ 6
                            </div>
                        </div>
                    </div>

                    <div data-completed="true" class="accordian-li">
                        <div class="li-left flex-row">
                            <div class="accordian-li-heading">
                                1.1 - Chewbacca Number, HackerBlocks
                            </div>
                        </div>

                        <div class="flex-row">
                            <div class="circle-back">
                                <div class="circle-front"></div>
                            </div>
                        </div>

                    </div>

                    <div data-completed="true" class="accordian-li">
                        <div class="li-left flex-row">
                            <div class="accordian-li-heading">
                                1.2 - Tavas and SaDDas, Codeforces 535-B
                            </div>
                        </div>

                        <div class="flex-row">
                            <div class="circle-back">
                                <div class="circle-front"></div>
                            </div>
                        </div>

                    </div>

                    <div data-completed="false" class="accordian-li">
                        <div class="li-left flex-row">
                            <div class="accordian-li-heading">
                                1.3 - Fast Exponentiation
                            </div>
                        </div>

                        <div class="flex-row">
                            <div class="circle-back">
                                <div class="circle-front"></div>
                            </div>
                        </div>

                    </div>

                    <div data-completed="false" class="accordian-li">
                        <div class="li-left flex-row">
                            <div class="accordian-li-heading">
                                1.4 - Unique Number-III, Hackerblocks
                            </div>
                        </div>

                        <div class="flex-row">
                            <div class="circle-back">
                                <div class="circle-front"></div>
                            </div>
                        </div>

                    </div>

                </div>

                <div class="accordian-ul" data-show="false">
                    <div class="accordian-head">
                        <div class="li-left flex-row">
                            <div class="accordian-collapsar">
                                +
                            </div>
                            <div class="accordian-heading">
                                Mathematics 1.0
                            </div>
                        </div>

                        <div class="flex-row">
                            <div class="accordian-status">
                                <span class="completed">2</span>/ 6
                            </div>
                        </div>
                    </div>
                </div>

                <div class="accordian-ul" data-show="true">
                    <div class="accordian-head">
                        <div class="li-left flex-row">
                            <div class="accordian-collapsar">
                                +
                            </div>
                            <div class="accordian-heading">
                                Mathematics 1.0
                            </div>
                        </div>

                        <div class="flex-row">
                            <div class="accordian-status">
                                <span class="completed">2</span>/ 6
                            </div>
                        </div>
                    </div>

                    <div data-completed="false" class="accordian-li">
                        <div class="li-left flex-row">
                            <div class="accordian-li-heading">
                                1.3 - Fast Exponentiation
                            </div>
                        </div>

                        <div class="flex-row">
                            <div class="circle-back">
                                <div class="circle-front"></div>
                            </div>
                        </div>

                    </div>

                    <div data-completed="false" class="accordian-li">
                        <div class="li-left flex-row">
                            <div class="accordian-li-heading">
                                1.4 - Unique Number-III, Hackerblocks
                            </div>
                        </div>

                        <div class="flex-row">
                            <div class="circle-back">
                                <div class="circle-front"></div>
                            </div>
                        </div>

                    </div>

                    <div data-completed="false" class="accordian-li">
                        <div class="li-left flex-row">
                            <div class="accordian-li-heading">
                                1.4 - Unique Number-III, Hackerblocks
                            </div>
                        </div>

                        <div class="flex-row">
                            <div class="circle-back">
                                <div class="circle-front"></div>
                            </div>
                        </div>

                    </div>

                    <div data-completed="false" class="accordian-li">
                        <div class="li-left flex-row">
                            <div class="accordian-li-heading">
                                1.4 - Unique Number-III, Hackerblocks
                            </div>
                        </div>

                        <div class="flex-row">
                            <div class="circle-back">
                                <div class="circle-front"></div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>

        <div class="content">
            <div class="o-pb"><!-- problem-->
                <div class="pb-desk">
                    <div class="tab-nav">
                        <div class="tab-list">
                            <div class="tab-items active">Problem</div>
                            <div class="tab-items">Submissions</div>
                            <div class="tab-items">Leaderboard</div>
                        </div>
                    </div>

                    <div class="o-pb-submissions">
                        <div class="card">
                            <div class="row">
                                <div class="col-4">
                                    <div class="circle-container">
                                        <div class="circle-back circle-md pass d-flex justify-content-center">
                                            <p class="progress-text align-self-center">C++</p>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-4">
                                    <div class="status-circle">
                                        <div class="circle-back"></div>
                                        <div class="circle-front d-flex justify-content-center">
                                            <p class="progress-text align-self-center">100</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="circle-container">
                                        <div class="circle-back circle-md pass d-flex justify-content-center">
                                            <p class="progress-text align-self-center">150</p>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4 para">Language Used</div>
                                <div class="col-4 para">Total Score</div>
                                <div class="col-4 para">Time Taken(ms)</div>
                            </div>

                            <div class="divider"></div>

                            <div class="test-cases row no-gutters">
                                <div class="col-6">
                                    <div class="row no-gutters">
                                        <div class="col-4">
                                            <div class="circle-container">
                                                <div class="circle-back circle-sm pass d-flex justify-content-center">
                                                    <p class="progress-text align-self-center">3</p>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-8">
                                            <div class="para">
                                                Test Cases Passed
                                            </div>
                                            <div class="para">
                                                (1, 2, 3, 4, 5)<!-- MUST use spaces btw testcase number-->
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-6">
                                    <div class="row no-gutters">
                                        <div class="col-4">
                                            <div class="circle-container">
                                                <div class="circle-back circle-sm fail d-flex justify-content-center">
                                                    <p class="progress-text align-self-center">3</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-8">
                                            <div class="para">
                                                Test Cases Failed
                                            </div>
                                            <div class="para">
                                                (1, 2, 3, 4)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="button-solid">
                                <button>View Submission</button>
                            </div>
                        </div>

                        <div class="card">
                            <div class="row">
                                <div class="col-4">
                                    <div class="circle-container">
                                        <div class="circle-back circle-md pass d-flex justify-content-center">
                                            <p class="progress-text align-self-center">C++</p>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-4">
                                    <div class="status-circle">
                                        <div class="circle-back"></div>
                                        <div class="circle-front d-flex justify-content-center">
                                            <p class="progress-text align-self-center">100</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="circle-container">
                                        <div class="circle-back circle-md pass d-flex justify-content-center">
                                            <p class="progress-text align-self-center">150</p>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4 para">Language Used</div>
                                <div class="col-4 para">Total Score</div>
                                <div class="col-4 para">Time Taken(ms)</div>
                            </div>

                            <div class="divider"></div>

                            <div class="test-cases row no-gutters">
                                <div class="col-6">
                                    <div class="row no-gutters">
                                        <div class="col-4">
                                            <div class="circle-container">
                                                <div class="circle-back circle-sm pass d-flex justify-content-center">
                                                    <p class="progress-text align-self-center">3</p>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-8">
                                            <div class="para">
                                                Test Cases Passed
                                            </div>
                                            <div class="para">
                                                (1, 2, 3, 4, 5)<!-- MUST use spaces btw testcase number-->
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-6">
                                    <div class="row no-gutters">
                                        <div class="col-4">
                                            <div class="circle-container">
                                                <div class="circle-back circle-sm fail d-flex justify-content-center">
                                                    <p class="progress-text align-self-center">3</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-8">
                                            <div class="para">
                                                Test Cases Failed
                                            </div>
                                            <div class="para">
                                                (1, 2, 3, 4)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="button-solid">
                                <button>View Submission</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="dragger-ps-ce"></div><!-- problem-section | code-editor-->

                <div class="o-code-editor">
                    <div id="editor"></div>

                    <div id="dragger-ce-rs"></div><!-- code-editor -- result-->

                    <div>
                        <div class="editor-options row justify-content-between">
                            <div class="select-list align-self-center">
                                <div class="select-box">
                                    Choose Language <span>&gt</span>
                                </div>
                                <div class="open-select-box">
                                    <ul>
                                        <li>
                                            C++
                                        </li>
                                        <li>
                                            Python
                                        </li>
                                        <li>
                                            Java
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="align-self-center">
                                <div class="button-solid">
                                    <button>Submit Code</button>
                                </div>
                            </div>
                        </div>

                        <div class="result">
                            <div class="row">
                                <div class="input col-md-6 col-sm-6 col-xs-12">
                                    <div class="row">
                                        <div class="heading col-md-6">
                                            <p>Custom Input</p>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="button-solid">
                                                <button>Run Code</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-box col-md-12">
                                            GSDEGD WDJGHEDB YUWDGQWUYD YUQWGDFQYWD
                                        </div>
                                    </div>
                                </div>
                                <div class="output  col-md-6 col-sm-6 col-xs-12">
                                    <div class="row">
                                        <div class="heading col-md-6">
                                            <p>
                                                Output : &nbsp;
                                                <span>
                                                    Compilation Error
                                                </span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-box col-md-12">
                                            <code>GSDEGD WDJGHEDB YUWDGQWUYD YUQWGDFQYWD</code>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>


</div>

{{> nav-bar }}