{{> nav-bar }}

<div class="tab-nav">
    <div class="tab-list">
        <div class="tab-items">Overview</div>
        <div class="tab-items active">Course Content</div>
        <div class="tab-items">Announcements</div>
        <div class="tab-items">Solve Your Doubts</div>
    </div>
</div>



