<div class="o-content-section">
    <div class="header flex-row">
        <div class="section-toggler flex-row">
            <div class="button-dashed">
                <button onclick="sectionToggler()">X Table of Content</button>
            </div>
        </div>

        <div class="dashboard row no-gutters justify-content-between">
            <div class="col-6 heading-d align-self-center">
                <div class="main-h">
                    Fast Exponentiation
                </div>
                <div class="sub-h">
                    Mathematics
                </div>
            </div>

            <div class="col-6">
                <div class="row justify-content-end">
                    <div class="col-md-4 notify-type align-self-center">
                        <div class="notify-text">
                            <span class="notify-dot new"></span>
                            Solve Doubts
                        </div>
                    </div>

                    <div class="button-solid col-12 col-md-4 align-self-center">
                        <button>lt Go to Dashboard</button>
                    </div>
                </div>

            </div>

        </div>
    </div>

    <div class="content-section">
        <div class="content collapse">
            <div class="video-player">
                <!--<iframe src="https://www.youtube.com/embed/mFbitwLUCRs" controls allowfullscreen></iframe>-->
                <video controls
                       src="https://archive.org/download/BigBuckBunny_124/Content/big_buck_bunny_720p_surround.mp4"
                       poster="https://peach.blender.org/wp-content/uploads/title_anouncement.jpg?x11217">

                </video>

                <div class="select-box">
                    <div class="open-select-box">
                        <ul>
                            <li>
                                0.5x
                            </li>
                            <li>
                                1x
                            </li>
                            <li>
                                1.5x
                            </li>
                        </ul>
                    </div>
                    1x
                </div>
            </div>
        </div>

        <div class="section">
            <div class="section-collapsor row justify-content-between">
                <div class="col-10 align-self-center">TABLE OF CONTENTS</div>
                <div class="align-self-center"><i class="fas fa-chevron-down"></i></div>
            </div>
            <div class="o-accordian">
                <div class="accordian-ul" data-show="true">
                    <div class="accordian-head">
                        <div class="li-left flex-row">
                            <div class="accordian-collapsar">
                                -
                            </div>
                            <div class="accordian-heading">
                                Mathematics 1.0
                            </div>
                        </div>

                        <div class="flex-row">
                            <div class="accordian-status">
                                <span class="completed">2</span>/ 6
                            </div>
                        </div>
                    </div>

                    <div data-completed="true" class="accordian-li">
                        <div class="li-left flex-row">
                            <div class="accordian-li-type">
                                <div class="content-icon play-icon-green-dark"></div>
                            </div>
                            <div class="accordian-li-heading">
                                1.1 - Chewbacca Number, HackerBlocks
                            </div>
                        </div>

                        <div class="flex-row">
                            <div class="circle-back">
                                <div class="circle-front"></div>
                            </div>
                        </div>

                    </div>

                    <div data-completed="true" class="accordian-li">
                        <div class="li-left flex-row">
                            <div class="accordian-li-type">
                                <div class="content-icon play-icon-green-dark"></div>
                            </div>
                            <div class="accordian-li-heading">
                                1.2 - Tavas and SaDDas, Codeforces 535-B
                            </div>
                        </div>

                        <div class="flex-row">
                            <div class="circle-back">
                                <div class="circle-front"></div>
                            </div>
                        </div>

                    </div>

                    <div data-completed="false" class="accordian-li">
                        <div class="li-left flex-row">
                            <div class="accordian-li-type">
                                <div class="content-icon play-icon-red"></div>
                            </div>
                            <div class="accordian-li-heading">
                                1.3 - Fast Exponentiation
                            </div>
                        </div>

                        <div class="flex-row">
                            <div class="circle-back">
                                <div class="circle-front"></div>
                            </div>
                        </div>

                    </div>

                    <div data-completed="false" class="accordian-li">
                        <div class="li-left flex-row">
                            <div class="accordian-li-type">
                                <div class="content-icon play-icon-red"></div>
                            </div>
                            <div class="accordian-li-heading">
                                1.4 - Unique Number-III, Hackerblocks
                            </div>
                        </div>

                        <div class="flex-row">
                            <div class="circle-back">
                                <div class="circle-front"></div>
                            </div>
                        </div>

                    </div>

                </div>

                <div class="accordian-ul" data-show="false">
                    <div class="accordian-head">
                        <div class="li-left flex-row">
                            <div class="accordian-collapsar">
                                +
                            </div>
                            <div class="accordian-heading">
                                Mathematics 1.0
                            </div>
                        </div>

                        <div class="flex-row">
                            <div class="accordian-status">
                                <span class="completed">2</span>/ 6
                            </div>
                        </div>
                    </div>
                </div>

                <div class="accordian-ul" data-show="true">
                    <div class="accordian-head">
                        <div class="li-left flex-row">
                            <div class="accordian-collapsar">
                                +
                            </div>
                            <div class="accordian-heading">
                                Mathematics 1.0
                            </div>
                        </div>

                        <div class="flex-row">
                            <div class="accordian-status">
                                <span class="completed">2</span>/ 6
                            </div>
                        </div>
                    </div>

                    <div data-completed="false" class="accordian-li">
                        <div class="li-left flex-row">
                            <div class="accordian-li-type">
                                <div class="content-icon play-icon-red"></div>
                            </div>
                            <div class="accordian-li-heading">
                                1.3 - Fast Exponentiation
                            </div>
                        </div>

                        <div class="flex-row">
                            <div class="circle-back">
                                <div class="circle-front"></div>
                            </div>
                        </div>

                    </div>

                    <div data-completed="false" class="accordian-li">
                        <div class="li-left flex-row">
                            <div class="accordian-li-type">
                                <div class="content-icon play-icon-red"></div>
                            </div>
                            <div class="accordian-li-heading">
                                1.4 - Unique Number-III, Hackerblocks
                            </div>
                        </div>

                        <div class="flex-row">
                            <div class="circle-back">
                                <div class="circle-front"></div>
                            </div>
                        </div>

                    </div>

                    <div data-completed="false" class="accordian-li">
                        <div class="li-left flex-row">
                            <div class="accordian-li-type">
                                <div class="content-icon play-icon-red"></div>
                            </div>
                            <div class="accordian-li-heading">
                                1.4 - Unique Number-III, Hackerblocks
                            </div>
                        </div>

                        <div class="flex-row">
                            <div class="circle-back">
                                <div class="circle-front"></div>
                            </div>
                        </div>

                    </div>

                    <div data-completed="false" class="accordian-li">
                        <div class="li-left flex-row">
                            <div class="accordian-li-type">
                                <div class="content-icon play-icon-red"></div>
                            </div>
                            <div class="accordian-li-heading">
                                1.4 - Unique Number-III, Hackerblocks
                            </div>
                        </div>

                        <div class="flex-row">
                            <div class="circle-back">
                                <div class="circle-front"></div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
    

</div>

<script>
    function sectionToggler(){
        var section= document.getElementsByClassName('section')[0];
        var contentMedia= document.getElementsByClassName('content')[0];
        section.classList.toggle('collapse');
        contentMedia.classList.toggle('collapse');
        
    }
</script>

