<div class="red row justify-content-between no-gutters">
  <div>
    Editorial: {{code.name}}
  </div>
  <div class="grey">
    <button {{action 'toggleModal'}}>X</button>
  </div>
</div>

<div>
  {{{code.editorial.content}}}
</div>