<div class="red row justify-content-between no-gutters">
  <div>
    Editorial: {{code.name}}
  </div>
  <button class="grey" {{action 'toggleModal'}}>X</button>
</div>

<div>
  {{markdown-to-html code.editorial.content extensions='katex'}}
</div>